<link href="//ninjatransfers.com/cdn/shop/t/236/assets/component-toggle.css?v=181901654304502621951699159651" rel="stylesheet" type="text/css" media="all">
<script src="//ninjatransfers.com/cdn/shop/t/236/assets/component-toggle.js?v=73494009530425977721699159651" defer=""></script>

<style>
  .apparel-bottom .toggle__icon--plus {
    display:block;
  }

  .apparel-bottom table .leftCol {
    width:55%;
    padding-right:25px;
  }

  .apparel-bottom table .mobileDescription {
    display:none;
  }
  
  @media screen and (max-width: 474px) {
    .apparel-bottom table .leftCol {
      width:100%;
      padding:none;
    }

    .apparel-bottom table .rightCol {
      display:none;
    }

    .apparel-bottom table .mobileDescription {
      display:block;
    }
  }
</style>

<div class="apparel-bottom">
  <div>
    <table class="" style="width:100%;">
      <tr>
        <td class="leftCol" valign="top" style="">
          <div class="mobileDescription">
            <div style="margin-bottom:5px;"><span style="font-weight: var(--font-weight-body-primary-bold);">Description</span></div>
            <div>{{ product.description }}</div>
          </div>
          
          <div>
          {% render 'apparel-product-breakdown' %}
          </div>
  
          <div>
          {% render 'apparel-product-features' %}
          </div>
  
          <div>
          {% render 'apparel-product-size-chart' %}
          </div>
  
          <div>
          {% render 'apparel-product-shipping-returns' %}
          </div>
          
        </td>
        <td class="rightCol" valign="top">
          <div style="margin-bottom:5px;"><span style="font-weight: var(--font-weight-body-primary-bold);">Description</span></div>
          <div>{{ product.description }}</div>
        </td>
      </tr>
    </table>
  </div>
</div>