<toggle-tab class="toggle" style="border-bottom:1px solid rgba(0, 0, 0, 0.1);position:relative;">
   <!-- <span class="toggle__title" data-js-title="" tabindex="0" aria-expanded="false" role="button" aria-controls="toggle-shipping">
      Shipping & Returns
   </span> -->
  <div id="toggle--shipping" data-js-content="" class="ProductAccordion-Shipping toggle__content rte remove-empty-space" role="region">
    <div class="rte">
      {{ shop.metaobjects['global_text']['global-text-Ninja'].blanks_shipping_returns | metafield_tag }}
    </div>
  </div>
</toggle-tab>