{% if product.metafields.specs.sizechart %}

<style>
  .ProductAccordion-SizeChart .sizeChart {
    width:100%;
    border-spacing: 0px;
  }
  
  .ProductAccordion-SizeChart .sizeChart td {
    padding:0px;
    margin:0px;
  }

  .ProductAccordion-SizeChart .sizeChart .inInches {
    font-size:0.8em;
    width:auto;
  }

  @media all and (max-width: 500px) {
    .ProductAccordion-SizeChart .sizeChart .inInches {
      width:60px;
    }
  }
  
  .ProductAccordion-SizeChart .sizeChart .inInches, .ProductAccordion-SizeChart .sizeChart .sizeHeader {
    font-weight:bold;
    border-bottom:2px solid #e1e1e1;
    text-align:center;
  }

  .ProductAccordion-SizeChart .sizeChart .nameHeader {
    text-align:center;
  }

  .ProductAccordion-SizeChart .sizeChart .nameHeader, .ProductAccordion-SizeChart .sizeChart .attributeValue {
    border-bottom:1px solid #e1e1e1;
    padding:2px;
    text-align:center;
  }

  .ProductAccordion-SizeChart .sizeChart tr:last-child td {
    border-bottom:none;
  }
</style>

<toggle-tab class="toggle" style="border-bottom:1px solid rgba(0, 0, 0, 0.1);">
   <!-- <span class="toggle__title" data-js-title="" tabindex="0" aria-expanded="false" role="button" aria-controls="toggle-sizechart">
      Size Chart
   </span> -->
   <div id="toggle--sizechart" data-js-content="" class="ProductAccordion-SizeChart toggle__content rte remove-empty-space" role="region">
      <div style="font-size:0.7em;overflow-x:auto;">
        {{ product.metafields.specs.sizechart | replace: '"',''}}      
      </div>
   </div>
</toggle-tab>

{% endif %}