<style> 
  .upsell-blank {position: fixed; width: 100%; height: 100%; left: 0; top: 0; z-index: 999999999999; background: rgba(0,0,0,0.5); display: none;}
  .upsell-blank:has(.blankpopup.active),.blankpopup.active{display: block;}
  .blankpopup__close{border-radius: 50%; background: #fff; width: 32px; height: 32px; display: flex; align-items: center; justify-content: center; position: absolute; right: 10px; cursor:pointer;}
  .blankpopup__close svg{width:24px;}
  .blankpopup{position: fixed; top: 50%; left: 50%; width: 85%; max-width: 725px; height: auto; max-height: 85vh; z-index: 99999; transform: translate(-50%, -50%);
    background: #010102 url('https://cdn.shopify.com/s/files/1/0558/0265/8899/files/dtf-animated-popup-light.gif?v=1749671307') no-repeat; border-radius: 12px; padding: 20px; overflow: auto; scrollbar-width: thin; color:#fff; display: none;
    background-size: cover; background-position: right;}
  .blankpopup .cta{color:#fff;display: inline-flex; align-items: center;}
  .blankpopup .title{font-size:36px; font-weight:bold; margin-bottom:24px; line-height:normal;}
  .blankpopup .sub-title{font-size:20px; font-weight:bold; margin-bottom:16px; line-height:normal;}
  .subtext{font-size:13px; padding-bottom:4px; line-height:normal;}
  .sqsize{font-size:15px; line-height:normal;}
  .sqsize > span.lnkcolor{font-size:23px; font-weight:bold; line-height:normal;}
  .bold{font-weight:bold;}
  
  .ul-feature{padding-left: 20px; list-style-type: disc; padding-top:16px; padding-bottom:8px; line-height:normal;}
  .ul-feature li{line-height:20px; padding-bottom:4px;}
  .dropbox{margin-top:24px; margin-bottom:24px; background:#CAD6DE; border-radius:12px; border:dashed 3px #42a9de; padding:12px; text-align:center; color:#000;}
  .dropbox:hover{box-shadow:0 0 15px #46aae3;}
  .dropbox .btn-cta{background:#42a9de; padding:16px; display:inline-block; min-width:200px; border-radius:12px; color:#fff; text-align:center; margin-top:8px; font-weight:500;}
  .ortext{text-align:center; font-size:10pt; margin-top:8px; font-weight:500;}
  .dropbox:hover .btn-cta{background:#045196}
  .blankpopup-content{width:300px}
  .process,.drop-zoon--Uploaded .processhide{display:none;}
  .drop-zoon--Uploaded .process{display:block;}
.vhidden{visibility:hidden}

  
  /* Uploaded File */
  .model_uploaded-file {
    display: flex;
    align-items: center; position:relative;
    visibility: hidden;
    transition: none 500ms ease-in-out;
    transition-property: visibility, opacity;
  }
  .uploaded-file--open {
    visibility: visible;
    opacity: 1;
  }

  .modal_uploaded-file__icon-container {
    position: relative;
    margin-right: 0rem;
    top: -5px;
    background: url(https://cdn.shopify.com/s/files/1/0558/0265/8899/files/Ninja_96x.png) center no-repeat;
    background-size: auto;
    background-size: contain;
    height: 60px;
    width: 48px;
  }

  .modal_uploaded-file__icon {
    font-size: 3.4375rem;
    color: var(--clr-blue);
  }

  .modal_uploaded-file__icon-text {
    position: absolute;
    top: 1.5625rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.9375rem;
    font-weight: 500;
    color: var(--clr-white);
    opacity: 0;
  }

  .modal_uploaded-file__info {position: relative; top: 50%; width: calc(100% + -60px); display: flex;
    justify-content: space-between; left: 0; margin-top: -11px; flex-shrink: 0;}

  .modal_uploaded-file__info::before,
  .modal_uploaded_progress_bar {
    content: "";
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0.7rem;
    background-color: #ebf2ff;
    border-radius: 0.625rem;
  }

  .modal_uploaded-file__info::before {
    width: 100%;
  }

  .modal_uploaded_progress_bar {
    width: 0%;
    background-color: var(--clr-blue);
    animation-delay: 100ms;
    background: url(https://cdn.shopify.com/s/files/1/0558/0265/8899/files/New_beam.png)
      center no-repeat;
    background-size: auto;
    background-size: 100% 24px;
  }

  .modal_uploaded-file__info--active::after {
    width: attr(data-width);
  }

  @keyframes progressMove {
    from {
      width: 0%;
      background-color: transparent;
    }

    to {
      width: 100%;
      background-color: var(--clr-blue);
    }
  }

  .modal_uploaded-file__name {
    max-width: 12.25rem; /* 100px */
    display: inline-block;
    font-size: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #03a3f7;
  }

  .modal_uploaded-file__counter {
    font-size: 12px;
    color: var(--clr-light-gray);
  }
  .modal_uploaded_progress_bar img {position: absolute; right: -14px; top: -8px; height: 28px;}
  line.cls-1 {stroke: #000;}
  @media(max-width:768px){
    .blankpopup.active::after{position: absolute; left: 0; content: ""; right: 0; top: 0; bottom: 0; background: rgba(0, 0, 0, 0.8);}
    .blankpopup-content{width:100%;}
    .blankpopup-box-block{padding-top:35px;position:relative;}
    .blankpopup-box-block{z-index:2;}
    .blankpopup__close{z-index:12;}
  }
</style>
<div class="upsell-blank">
  <div class="blankpopup">
    
      <span class="blankpopup__close">
        <svg class="" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
          <defs><style>.cls-1{/*fill:none;stroke:#40AFFF;*/stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;}</style></defs>
          <title></title>
          <g id="cross"><line class="cls-1" x1="7" x2="25" y1="7" y2="25"></line><line class="cls-1" x1="7" x2="25" y1="25" y2="7"></line></g>
        </svg>
      </span>
    
    <div class="blankpopup-box-block w3_bg" id="blankpopup-box-block">
      <div class="blankpopup-content">
        <h3 class="title">
          Decorate Your Shirts With DTF Transfers
          <!--Don't leave that shirt blank-->
        </h3>
        <!--<h4 class="sub-title">DTF Transfers</h4>-->
        <div class="subtext"><em>as low as</em></div>
        <div class="bold sqsize"><span class="lnkcolor">$0.02</span> per sq inch</div>
        <div>
          <ul class="ul-feature">
            <li>Print Anything on Anything</li>
            <li>No Minimums or Setup Fees</li>
            <li>Next Day Delivery</li>
          </ul>
        </div>
        <div class="sqsize"><a class="lnkcolor" href="/products/dtf-transfers?track=popup-learn">Learn More</a></div>
        

        <div claas="file-upload-overlay-1" id="modal_fileupload_custom">
          <div class="dropbox" id="popup_uploadArea">
            <div class="processhide">
              <div><strong>Drag & drop your image here</strong></div>
              <div class="ortext">or</div>
              <div>
                <a class="btn-cta" href="javascript:void(0);" id="popup_dropZoon">Upload Image</a>
                <input type="file" id="popup_fileInput" class="drop-zoon__file-input nodisplay" />
              </div>
            </div>
            <div class="process">
              <div id="uploadProgressWrapper" class="process">

                <div id="fileDetails" class="modal_upload-area__file-details file-details">
                  <div id="model_uploadedFile" class="model_uploaded-file">
                    <div class="modal_uploaded-file__icon-container w3_bg">
                      <i class="bx bxs-file-blank uploaded-file__icon"></i>
                      <span class="modal_uploaded-file__icon-text">image/png</span> <!-- Data Will be Comes From Js -->
                    </div>
                    <div id="modal_uploadedFileInfo" class="modal_uploaded-file__info w3_bg uploaded-file__info--active">
                      <span class="modal_uploaded-file__namex vhidden">Uploading...</span>
                      <div style="display: flex;flex-direction: column;justify-content: flex-end;align-items: end; margin-top: 0px;   margin-bottom: 14px;" class="w3_bg">
                      <span class="modal_uploaded-file__counter">100%</span>
                    </div>
                    <span class="modal_uploaded_progress_bar" style="width: 100%;">
                      <img src="https://cdn.shopify.com/s/files/1/0558/0265/8899/files/New_Ball.png?auto=format,compress&amp;v=1734081591">
                    </span>
                  </div>
                </div>
              </div>
                
              </div>
              <!-- <img src="https://cdn.shopify.com/s/files/1/0558/0265/8899/files/loader-2.gif?auto=format,compress&amp;v=1723724647" style="margin:auto; max-width:69px;" class="process" /> -->
            </div>
          </div>
        </div>

        <div class="text-center">
          <a href="/checkout" class="cta bold skipchk" onclick="event.stopPropagation();">
            <span>Continue to Checkout&nbsp;</span>
            <svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M13.3333 5L20 12M20 12L13.3333 19M20 12L4 12" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  
  
  
  $(document).ready(function() {
    $(document).on('click', '.upsell-blank', function(event) {
      const $blankPopup = $(this).find('.blankpopup');
    
      // Check if the click is outside of .blankpopup
      if (!$(event.target).closest('.blankpopup').length) {
        $blankPopup.removeClass('active');
        $(`body`).removeClass(`set_Overlay`);
      }
    });

  })
  .on(`click`, `.blankpopup .blankpopup__close`, function( e ) {
    try {
      e.stopImmediatePropagation();
      $( this ).closest( `.blankpopup` ).removeClass( `active` );
      $(`body`).removeClass(`set_Overlay`);
    } catch ( err ) {
      console.log( `ERROR upsell-popup .upsell__popUp__close`, err.message );
    } 
  })
  .on(`click`, `[href='/checkout']:not(.skipchk)`, function( e ) {
    try {
      
      var isBlank = $( `#cart.cart__form [is-blank="true"]` ).length;
      var cartlen = $( `#cart.cart__form .cart-form-item,#cart.cart__form .cart-item` ).length;
      console.log(isBlank," | isBlank === cartlen: ",cartlen);
      var _upsell = getCook("blank-bysize-popup");
      if(cartlen == isBlank && _upsell == ""){ 
        setCookie("blank-bysize-popup", 1, 1);
         e.stopImmediatePropagation();
         e.preventDefault();
         $(".blankpopup").addClass("active");
         $(`body`).addClass(`set_Overlay`); 
      }
    } catch ( err ) {
      console.log( `ERROR [blank checkout]`, err.message );
    }
  })

  
                  //const popup_uploadArea = document.querySelector('#popup_uploadArea')
                  const popup_uploadArea = document.querySelector('#blankpopup-box-block')
                  const popup_dropZoon = document.querySelector('#popup_dropZoon');
                  const popup_fileInput = document.querySelector('#popup_fileInput');
                  const popup_previewImage = document.querySelector('#popup_previewImage2');
                  const popup_fileDetails = document.querySelector('#popup_fileDetails');
                  
                const popup_imagesTypes = ["image/png","image/jpg","image/jpeg","image/tiff","application/pdf","image/vnd.adobe.photoshop","application/postscript","application/vnd.adobe.photoshop","application/x-photoshop","application/photoshop","application/psd","image/psd","image/svg+xml"];

                  
                  // When (drop-zoon) has (dragover) Event 
                  popup_uploadArea.addEventListener('dragover', function (event) {
                    // Prevent Default Behavior 
                    event.preventDefault();
                  
                    // Add Class (drop-zoon--over) On (drop-zoon)
                    popup_uploadArea.classList.add('drop-zoon--over');
                    document.querySelector("#popup_uploadArea").classList.add("active");
                    //document.querySelector("body").classList.add("file-upload-overlay-1-active");
                  });
                  
                  // When (drop-zoon) has (dragleave) Event 
                  popup_uploadArea.addEventListener('dragleave', function (event) {
                    // Remove Class (drop-zoon--over) from (drop-zoon)
                    popup_uploadArea.classList.remove('drop-zoon--over');
                     document.querySelector("#popup_uploadArea").classList.remove("active");
                     //document.querySelector("body").classList.remove("file-upload-overlay-1-active");
                  });
                  
                  // When (drop-zoon) has (drop) Event 
                  popup_uploadArea.addEventListener('drop', function (event) {
                    // Prevent Default Behavior 
                    event.preventDefault();
                  
                    // Remove Class (drop-zoon--over) from (drop-zoon)
                    popup_uploadArea.classList.remove('drop-zoon--over');
                    document.querySelector("#popup_uploadArea").classList.remove("active");
                     //document.querySelector("body").classList.remove("file-upload-overlay-1-active");
                  
                    // Select The Dropped File
                    const file = event.dataTransfer.files[0];
                  
                    // Call Function uploadFile(), And Send To Her The Dropped File :)
                    popup_uploadFile(file);
                  });
                  
                  // When (drop-zoon) has (click) Event 
                  popup_uploadArea.addEventListener('click', function (event) {
                    // Click The (fileInput)
                    popup_fileInput.click();
                  });

                  
                  
                  // When (fileInput) has (change) Event 
                  popup_fileInput.addEventListener('change', function (event) {
                    // Select The Chosen File
                    const file = event.target.files[0];
                  
                    // Call Function uploadFile(), And Send To Her The Chosen File :)
                    popup_uploadFile(file);
                  });
  
  function popup_uploadFile(file) {
      $('html, body').animate({
        scrollTop: ($('#main').offset().top - 180)
      }, 1000);
    
      const fileReader = new FileReader();
      const fileType = file.type;
      const fileSize = file.size;
    
      if (modal_fileValidate(fileType, fileSize)) {
        popup_uploadArea.classList.add('drop-zoon--Uploaded');
    
        $(".modal_upload-area__file-details").addClass("file-details--open");
        $(".model_uploaded-file").addClass("uploaded-file--open");
        
        fileReader.addEventListener('load', function () {
          const randomName = file.name.split('.')[0]
            .replace(/[^a-z0-9\s]/gi, '')
            .replace(/[_\s]/g, '-') + "____" +
            'image_' + Date.now() + '_' + Math.floor(Math.random() * 1000) + '.' +
            file.name.split('.').pop();
            upscaleImage(fileReader, randomName, file);
            modal_progressMove("", 0, "#popup_uploadArea");
        });
    
        fileReader.readAsDataURL(file);
      }
    }
    
    async function upscaleImage(fileReader, randomName, file) {
      const presignData = await getPresignedUploadUrl(randomName, file.type);
    
      if (presignData.url) {
        // Show progress bar
        document.getElementById("uploadProgressWrapper").style.display = "block";
        const progressBar = document.getElementById("uploadProgressBar");
        const progressText = document.getElementById("uploadProgressText");
    
        const xhr = new XMLHttpRequest();
        xhr.open("PUT", presignData.url, true);
    
        xhr.upload.addEventListener("progress", function (e) {
          if (e.lengthComputable) {
            const percentComplete = Math.round((e.loaded / e.total) * 100);
            progressBar.value = percentComplete;
            progressText.innerText = percentComplete + "%";
          }
        });
    
        xhr.onload = function () {
          if (xhr.status === 200) {
            //const filePath = "https://ninjauploads-production.imgix.net/" + randomName;
            const filePath = "https://ninja-services-production-ninjauploadss3bucket-zks2mguobhe4.s3.amazonaws.com/" + randomName;
            setTimeout(() => {
              location.href = "/products/dtf-transfers?track=popup-upload&file=" + filePath;
            }, 1000);
          } else {
            alert("Upload failed with status " + xhr.status);
          }
        };
    
        xhr.onerror = function () {
          alert("Upload error occurred.");
        };
    
        xhr.send(file);
      } else {
        alert("Could not get pre-signed URL");
      }
    }

                    
    function modal_fileValidate(fileType, fileSize) {
      setTimeout(function(){
        $("#popup_uploadArea").removeClass("drop-disabled-size");
        $("#popup_uploadArea").removeClass("drop-disabled-type");
      },3500)
      
      // File Type Validation
      //  alert(fileType);
      let isImage = popup_imagesTypes.filter((type) => fileType.indexOf(`${type}`) !== -1);
      
      // If The Uploaded File Is An Image
      if (isImage.length !== 0) {
        // Check, If File Size Is 2MB or Less
        if (fileSize <= 5368709120) { // 2MB :)
          return true;
        } else { // Else File Size
          $("#popup_uploadArea").addClass("drop-disabled-size");
          return false
        };
      } else {
        $("#popup_uploadArea").addClass("drop-disabled-type"); 
        return false
      };
    };

  const apiPresigningURL = `https://hpz51rjda5.execute-api.us-east-1.amazonaws.com/production/uploads/getPresignedUploadUrl`;
  async function getPresignedUploadUrl(file_name, file_type ) {
    try {
      let rtn;
      await $.get(`${apiPresigningURL}?file_name=${encodeURIComponent(file_name)}&file_type=${encodeURIComponent(file_type)}`, function ( res ) {
        rtn   =   res;
      });
      return rtn;
    } catch ( err ) {
      console.log( `ERROR getPresignedUploadUrl`, err.message );
    }
  }

  
// Progress Counter Increase Function
function modal_progressMove( filePath, fileSize = 550, parentContainer = ".master-upload" ) {
 // document.body.classList.remove('upload-cancel');
  let counter = 0;
  if ( fileSize > 9000000 ) {
    fileSize = 250;
  } else if ( fileSize > 7000000 ) {
    fileSize = 150;
  } else if ( fileSize > 5000000 ) {
    fileSize = 120;
  } else if ( fileSize > 3000000 ) {
    fileSize = 90;
  } else if ( fileSize > 1000000 ) {
    fileSize = 80;
  } else {
    fileSize = 70;
  }
  fileSize = 50;
  if(filePath == "quick"){
    counter = 99
  }
  
  setTimeout(function(){
    let counterIncrease = setInterval(() => {
      if (counter === 100) {
        const isCompleted = $( parentContainer +` .easyzoom` ).hasClass("image-loading");
        if ( isCompleted == false ) {
          clearInterval(counterIncrease);
          document.querySelector(".drop-zoon__icon").style.display = 'none';
          document.querySelector(".drop-zoon__paragraph").style.display = 'none';
          if($( parentContainer +' [href="#custom_size"]').hasClass("active") == true){
            $(parentContainer +' [href="#custom_size"]').click();
          }
          $(parentContainer +" .modal_upload_image_info").removeClass("hidden");

          $(parentContainer +" .modal_fileupload_bg_options").css({"opacity":1,"pointer-events":"all"});
          $(parentContainer +" .modal_upload-area__file-details").removeClass("file-details--open");
          $(parentContainer +" .model_uploaded-file").removeClass("uploaded-file--open");
        }
      } else {
        counter = counter + 1;
        $(parentContainer +" .modal_uploaded_progress_bar").css({"width":counter+"%"});
         document.querySelector(parentContainer+ '  .modal_uploaded-file__counter').innerHTML = `${counter}%`
      }
    }, fileSize);
     
  },100);

 
};
</script>