<div>
  <div class="cart-upsell-dtf-uv-block max-content upsell-cartinfo-{{ producttype }}">
    <div class="normal-text-content nodisplay">
      <div><span class="upsell-cta">Buy More & Save</span>
        <strong>Add <span class="upsell-qty">XX</span></strong> more DTF or UV DTF and 
        <strong>Save <span class="upsell-savingp">XX</span>%</strong>
      </div>
      <!-- <div class="font12 lightcolor mrg8">Discount applies to all By Size Items in your cart</div> -->
    </div>
    <div class="nodisplay max-content-limit">
      <div>You've beat the video game and reached the <strong>Maximum Cumulative Discount!</strong></div>
    </div>
    <div class="blankcart nodisplay">
      <div>
        Start adding <strong>DTF & UV DTF by Size</strong> and <strong>save up to 50%</strong>
      </div>
    </div>
  </div>
</div>