<style>
    .cartmoredata:not(.done),.cartpageblock{visibility:hidden;}
    .collection-card-block .cartpageblock{visibility:visible;}
    .sidebar .block-bottom {
      position: sticky;
      bottom: 0;
      z-index: 10;
      background: #fff;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    </style>
  {% if producttype == "sidebar" %}
    {% comment %}
      {% render 'cart-suggestion-link-slider' %}
    {% endcomment %}
  {% else %}
  
  {% if shop.metaobjects.cart_suggested_products %}
    {% assign webHead = "" %}
    {% assign mobHead = "" %}
    {% for cartupsell in shop.metaobjects.cart_suggested_products.values %}
      {% assign webHead = cartupsell.web_main_title %}
      {% assign mobHead = cartupsell.mobile_slider_heading %}
    {% endfor %}
  {% assign productblank = 0 %}
  {% if productblank == 0 %}
  <style>
    .card-wrapper{width:91px; background:#F2F2F2; border-radius:4px; flex-shrink: 0; flex-grow: 0; overflow:hidden;}
    .card-wrapper img {max-width: 100%; cursor: pointer; max-height:100%; margin:auto; transition:all 0.5s;}
    .card-wrapper:hover img{transform:scale(1.02);}
    .card-img-block{width:96px; height:96px; display: flex; align-items: center; justify-content: center;}
    .section-image-Swiper{max-width:100%;}
    .cart-upsell-head{display:flex; align-items:center; justify-content:space-between;}
    .com_order{font-size:1.15rem; margin-bottom:0;}
    .yotpo-widget-instance{padding-top:2px;}
    .section-image-Swiper .card-wrapper {display: flex; flex-direction: column; align-items: center; flex:1; border:solid 1px #dadada; border-radius:4px;}
    .section-image-Swiper .card-wrapper .content_block{padding:0 8px; display: grid; padding-bottom:8px; width:100%;}
    .icon-set{width:40px; height:40px}
    .fastship{font-weight:bold; color:#55A00D; font-size:1.1rem; line-height:16px;}
    .section-image-Swiper .card-wrapper {transition: transform 0.3s ease-in-out; background: transparent; gap: 8px;}
    {% if producttype == "sidebar" %}
      .section-image-Swiper .card-wrapper {display: block;}
      .section-image-Swiper .card-wrapper {transition: transform 0.3s ease-in-out; background: transparent; gap: 8px;}
      .start_title{text-align:center;}
      .section-image-Swiper .card-wrapper{text-align:center;}
      .section-image-Swiper .card-wrapper .content_block{padding:0 8px; gap: 4px;}
      ._start{font-size:0.75em;color: #5e5e5e;}
      .start_price{color:#4572bb;font-weight:bold;font-size:0.85em;}
      .start_title{color:#000;overflow:hidden; white-space:nowrap;}
      #cart-wrapping{background: #D9EEF8;}
      .sidebar .block-bottom{position:sticky; bottom: 0; z-index: 10; background: #fff; box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;}
      .section-image-Swiper{}
      .section-image-Swiper .label-container h3{font-size: calc(13px / 16 * var(--base-body-primary-size) + 0px); font-weight:normal; margin:0; padding-bottom:8px;}
      .sidebar .card-wrapper{width:53px;}
      .sidebar .card-img-block,.card-img-block{height:112px; width:100%;}
    {% else %}
      .section-image-Swiper .card-wrapper {justify-content: start;}
      .yotpo-sr-bottom-line-summary .yotpo-sr-bottom-line-text{font-size:12px !important;}
      .yotpo-sr-bottom-line-summary > div svg{width: 9px;}
      .yotpo-sr-bottom-line-summary > div{margin-right:4px !important;}
      .section-image-Swiper .card-slider-main {margin-top: 24px;}
      ._start{font-size:0.9em;color: #5e5e5e;}
      .start_price{color:#4572bb;font-weight:bold;font-size:1.1em;}
      .start_title{color:#000; font-size:1em; overflow:hidden; white-space:nowrap;}
      .sidebar .card-img-block,.card-img-block{height:auto; width:100%;}
      .section-image-Swiper .container{max-width:100%; width:100%; margin: auto;}
      .grt-cart-layout{padding:var(--gutter-regular)}
      .section-image-Swiper .label-container h3{font-size:calc(16px / 16 * var(--base-body-primary-size) + 0px); font-weight:normal; margin:0; padding-bottom:8px;}
      .section-image-Swiper{border-radius:var(--border-radius-widgets); border:solid 1px var(--color-borders-main);}
    {% endif %}
  
    .section-image-Swiper #ctrl-block{display: flex; flex-flow: row; flex-shrink: 0; flex-grow: 0; gap: 8px; margin-left: auto;}
    .arrow{width:32px; height:32px; border-radius:50%; display:block; background-color: rgba(0, 0, 0, 0.1); font-size: 29px; line-height: 32px;}
  
    .section-image-Swiper .swiper-text {font-size: 17px; font-weight: 600; text-decoration: none; color: black;}
    .section-image-Swiper .button {border: none; cursor: pointer;}
    .section-image-Swiper .card-slider-main {display: flex; gap: 8px; flex-flow: row wrap;}
    .section-image-Swiper .card-slider-main::-webkit-scrollbar, .card-slider::-webkit-scrollbar {width: 0; height: 0;}
    .section-image-Swiper .label-container {display: flex; align-items: center;}
    .section-image-Swiper .label-container button:disabled {background-color: whitesmoke; cursor: not-allowed; border: none;}
  
    .blk-heading{font-size:calc(13px / 16 * var(--base-body-primary-size) + 0px); text-align:center;}
    .card-wrapper.posrel .posoverlay{position:absolute; left:0; right:0; top:0; bottom:0; z-index:2;}
    .bottomCTA{margin-top:24px; text-align:center;}
    .viewall-arrow-icon{font-size:40px; color:blue;}
    .arrbtn{display:inline-flex; align-items:center;}
    .arrbtn::after{margin-left:8px; background:url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 9 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 4.49999H6.585L4.145 6.93998C3.95 7.13498 3.95 7.45498 4.145 7.64998C4.34 7.84499 4.655 7.84499 4.85 7.64998L8.145 4.35499C8.34 4.15999 8.34 3.84499 8.145 3.64999L4.855 0.349985C4.66 0.154985 4.345 0.154985 4.15 0.349985C3.955 0.544985 3.955 0.859986 4.15 1.05499L6.585 3.49999H1C0.725 3.49999 0.5 3.72499 0.5 3.99999C0.5 4.27499 0.725 4.49999 1 4.49999Z' fill='%2342a9de'%3E%3C/path%3E%3C/svg%3E"); content:"";
                  display:inline-flex; width:12px; height:12px; background-position:center; background-repeat:no-repeat;}
    @keyframes scroll-images {
      0% {transform: translateX(0);}
      100% {transform: translateX(-calc(100% + 10px));}
    }
  
    .sidebar .section-image-Swiper .card-wrapper.webblock{display:none}
    .sidebar .section-image-Swiper .container{max-width:100%; width:auto;}
    .sidebar .section-image-Swiper .card-slider-main{gap:4px;}
    {% unless producttype == "sidebar" %}
  @media(min-width:768px){
    .section-image-Swiper .card-wrapper .content_block{gap: 8px;}
  }
    {% endunless %}
    @media(max-width:768px){
      .start_price{margin-top:4px;}
      .start_title{text-align:center;}
      .mobile-suggestion-list{padding-top:24px;}
    .css-slider-viewport .css-slider-navigation-container{display:none !important;}
      .yotpo-widget-instance{transform:scale(0.60); max-width:100%; overflow:hidden; display:none}
      .cart-upsell-head{flex-flow:column wrap;}
      .section-image-Swiper .card-wrapper{text-align:center;}
      .section-image-Swiper .card-wrapper.webblock{display:none}
      .section-image-Swiper .container{max-width:100%;}
      .section-image-Swiper .card-slider-main{gap:8px;}
      {% if producttype == "sidebar" %}
        .section-image-Swiper{display:none !important;}
      {% else %}
        .icon-set{display:none !important;}
        .card-wrapper{width:72px; position:relative;}
        .com_order + div{white-space:nowrap;}
        .section-image-Swiper .card-wrapper .content_block{padding:0 8px; gap: 6px;}
        ._start{font-size:0.75em;color: #5e5e5e;}
        .start_price{color:#4572bb;font-weight:bold;font-size:0.85em;}
        .start_title{color:#000;overflow:hidden; white-space:nowrap;}
        .cartupsell-delivery-block div {display: inline !important; font-size: 14px; margin: 0 !important;}
        .cartupsell-delivery-block{width:100%;}
        .com_order {font-size: 0.95rem; margin-bottom: 8px; text-align: left; width: 100%;}
        .freeship{position:relative; padding-left:8px;}
        .freeship::before{position: absolute; left: 0; top: 0; width: 1px; height: 100%; background: #000; content: "";}
        .cartupsell-delivery-block .minimum{margin-right:5px;}
      {% endif %}
    }
  </style>
  {% assign viewall = 0 %}
  <div class="section-image-Swiper  grt__cartsection-suggetionblock cartsection-suggetionblock cartmoredata {% if producttype == "sidebar" %}cart-wrapping--sidebar {% else %} grt-cart-layout{% endif %}">
    <div class="container">
      <div class="main-slider">
  
        {% if producttype == "sidebar" %}
          <div class="label-container">
            <h3 class="sm-size-font">
              <strong>{{ mobHead }}</strong>
            </h3>
          </div>
        {% else %}
          <div class="cart-upsell-head">
            <h3 class="com_order">
                <strong class="d-none d-sm-block">{{ webHead }}</strong>
                <strong class="d-block d-sm-none">{{ webHead }}</strong>
            </h3>
            <div class="d-inline d-sm-flex align-itmes-center btngroup8 cartupsell-delivery-block">
              <div class="btngroup8 d-inline d-sm-flex align-item-center fctrl">
                <strong class="fctrl fctrlimg icon-set">{% render 'icon-pack', icon:"minimum" %}</strong>
                <strong class="fctrl minimum">No Minimums</strong>
              </div>
              <div class="btngroup8 d-inline d-sm-flex align-item-center fctrl freeship">
                <strong class="fctrl fctrlimg icon-set">{% render 'icon-pack', icon:"freeship" %}</strong>
                <div class="fctrl">
                  <div>
                    <div>Earliest Delivery</div>
                    <div class="fastship">Tomorrow</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
        <div class="collection-card-block">
        </div>
        <div class="bottomCTA"><a class="arrbtn lnkcolor" href="https://ninjatransfers.com/collections/blank-apparel?track=checkout_Shop_All" target="_blank"><strong>Shop All Blank Products</strong></a></div>
  
      </div>
    </div>
  </div>


<script>
  document.addEventListener('DOMContentLoaded', function () {
    $(".cartpageblock").hide();
    if($(window).outerWidth() < 768){
      var _suggestion = $(".cartsection-suggetionblock").clone(true);
      $(".cartsection-suggetionblock").remove()
      $(".mobile-suggestion-list").append(_suggestion);
    }
    const container = document.querySelector('.card-slider-main');
    const leftButton = document.querySelector('.arrow-left');
    const rightButton = document.querySelector('.arrow-right');
    
    var __collectionlist = $(".cartpageblock").removeClass("container--large").show().clone(true);
    $(".cartpageblock").remove();
    $(".collection-card-block").append(__collectionlist);
    $(".cartmoredata").addClass("done");
    
  });
</script>

{% endif %}
{% endif %}
{% endif %}