<!-- Modal box for preview img -->
<div class="customTabelPopup__overlay hide_overlay cart-preview w3_bg" style="display:none">
  <div class="customTabelPopup w3_bg">
    <span class="customTabelPopup__close">
      <svg width="24px" height="24px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M6 6L18 18" stroke="#000" stroke-linecap="round"></path>
        <path d="M18 6L6.00001 18" stroke="#000" stroke-linecap="round"></path>
      </svg>
    </span>
    
      <div class="img-container text-center">
        <img class="previewimg" src="https://cdn.shopify.com/s/files/1/0558/0265/8899/files/spacer.gif?v=1740766267" alt="image">
      </div>
  </div>
</div>