<div class="grt-payment-terms-extra-block">
  <div class="payment-terms-extra">
    Finance with Buy Now Pay Later options
  </div>
  <div class="d-flex align-items-center btngroup8 pay-icon-sets">
    <img src="https://cdn.shopify.com/s/files/1/0558/0265/8899/files/transfer-installments-121724.png?v=1734458882" loading="lazy" alt="payment terms" width="400" height="26" />
  </div>
</div>
{% style %}
  .shoppay{width:75px;}
  .pay-icon-sets{justify-content:center; align-items:center; padding-top:4px;}
  shopify-payment-terms,.shopify-installments{display:none !important;}
  .payment-terms-extra {text-align: center; margin-top: 24px; font-size:13px; font-weight:500;}
  .grt-payment-terms-extra-block{margin-bottom:40px;}
  @media(max-width:768px){
    .pay-icon-sets img{max-width:90%; height:auto;}
  }
{% endstyle %}
