<div class="collection-page container--vertical-space-small">
  {%- liquid
      assign subheading = ""
      assign coll_link = collections[url]
      unless url == blank
        assign subheading = '<a href="' | append: coll_link.url | append: '" title="' | append: title | append: '"><strong>View All</strong></a>'
      endunless
  -%}
  
  {%- render 'section-heading', heading: title, subheading: subheading, heading_size: "text-size--large", section_layout: "section-heading--left section-heading--one-row", seo_h_tag: "h2" -%}

  <div class="grid grid--layout grid-4 grid-portable-3 grid-lap-2 grid-tiny-1" style="margin-bottom: calc(-1*var(--gutter-regular));">

    {%- liquid
        assign section_block_arr = "vendor,price,title" | split:","
        
        assign handles = handles | split:","
        assign isblankproduct = true
        for product in collection.products
          for handle in handles
            if handle == product.handle
              render 'product-item-blanks', isblankproduct:isblankproduct, product: product, section_block:blank, section_block_arr: section_block_arr, index: forloop.index, layout: "grid-4 grid-portable-3 grid-lap-2 grid-tiny-1", show_badges: false, section_id: "template--17060045619283__a00dffb8-e5d4-4410-b30a-bac783e185ed"
            endif
          endfor
        endfor
    -%}

  </div>
</div>