{% assign aspect_ratio = 1 %}
<figure
  class="lazy-image lazy-image--small lazy-image--fit {% if type == "background" %} lazy-image--background {% endif %} {{ class }}"
  data-ratio style="padding-top: {{ 100 | divided_by: aspect_ratio }}%"
>
  {% if url or url != blank  %}
    {% if template.suffix == 'blanks' %}<div class="thumbnail-bg-color"></div>{% endif %}
    <img
      class="{% if template.suffix == 'blanks' %} thumbnail-image {% endif %}"
      src="{{ url }}"
      {% if preload %}
        fetchpriority="high"
      {% else %}
        loading="lazy"
      {% endif %}
      sizes="100px"
      width="{{ image.width }}" height="{{ image.height }}"
      onload="this.parentNode.classList.add('lazyloaded')"
    />
  {% else %}
    {% render 'lazy-svg', image: 'product-1', class: 'svg-placeholder svg-placeholder--background' %}
  {% endif %}
</figure>