<style>
  .section-popular-categories .grid-dynamic {
    --visible-cols:10;
    overflow-y:hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .section-popular-categories .grid-dynamic::-webkit-scrollbar {
    display:none;
  }

  @media (max-width: 600px) {
    .section-popular-categories .grid-dynamic {
      --visible-cols:3.5;
    }

    .popularCollectionButton {
    }
  }

  .popularCollectionButton {
    display:inline-block;
    border:1px solid lightgrey;
    border-radius:.25rem;
    margin-right:7px;
    margin-top:5px;
    background: #f2f2f2;
  }

  .popularCollectionButton a:hover {
    text-decoration:none;
  }

  .popularCollectionButton:hover {
     border: 1px solid darkgrey;
  }

  .heading-size--page-title {
    margin-top:-20px !important;
  }

  .popularCollectionButton img {
    border-radius: .25rem 0 0 .25rem;
}
  .popular-collection-content-wrap{
    border-radius:0 .25rem .25rem 0;
  }
</style>

{% assign urlParts = request.path | split: "/" %}
{% assign urlPartsLastIndex = urlParts.size | minus: 1 %}
{% assign targetCollectionName = urlParts[urlPartsLastIndex] %}
{% assign targetCollection = collections[targetCollectionName] %}

{% if targetCollection == blank %}
  {% assign targetCollection = collection %}
{% endif %}

<div class="section-popular-categories" style="margin-top:-40px; border-bottom: 1px solid #DFE3E8; background-color: #FFFFFF; padding: 20px 0;" >
{% if targetCollection.metafields.custom.popular_categories != blank  %}
{% assign popularCategories = targetCollection.metafields.custom.popular_categories | split: "," %}

<div id="shopify-section-template--15397074862163__ab386ec4-d402-4226-98f1-ea81dc6e4ecc" class="shopify-section mount-css-slider" data-js-inert=""><div class="container--large container--vertical-space-small remove-empty-space container--large__without-top-margin"><div class="section-heading section-heading--left section-heading--one-row gutter-bottom--large"></div><div class="css-slider-viewport">
        <div class="css-slider-holder css-slider--no-drag">
          <div class="css-slider-container">
            <div class="popular-collection-main-wrap">

              
              {% for catData in popularCategories %}
                {% assign catDataParts = catData | split: "|" %}
                {% assign catHandleParts = catDataParts[0] | split: "/" %}
                {% assign catHandle = catHandleParts[0] %}
                {% assign parentHandle = "" %}
                {% if catHandleParts.size >= 2 %}
                  {% assign catHandle = catHandleParts[1] %}
                  {% assign parentHandle = catHandleParts[0] | append: "/" %}
                {% endif %}
                
                {% assign curCat = collections[catHandle] %}
                {% if curCat != blank %}
                  {% assign catTitle = curCat.title %}
                  {% if catDataParts.size >= 2 %}
                    {% assign catTitle = catDataParts[1] %}
                  {% endif %}
              <div class="popularCollectionButton" style="">

              	<a href="{{ curCat.url }}">

                    {% if curCat.featured_image != blank %}
                  <img src="//ninjatransfers.com/cdn/shop/{{ curCat.featured_image }}?width=50&height=50" alt="{{ catTitle }}" class="img" width="50" height="50" style="vertical-align:middle;" >
                      <div class="popular-collection-content-wrap" style="display:inline-block;height:50px;background-color:#f2f2f2;vertical-align:middle;line-height:50px;padding-right:10px;margin-left:-4px;">
                        <span class="" style="font-size:14px;font-weight:600;">{{ catTitle }}</span>
                      </div>
                      
                  {% endif %}
              
              
              	</a>
              
              </div>
                {% endif %}
              {% endfor %}
              
            </div>
          </div>
        </div>
      </div>
</div>

</div>

{% endif %}
</div>