{{ "previous-uploads-account.css" | asset_url | stylesheet_tag }}
<style>
  .orderlist_block,aside{display:none}
</style>
      <div class="customTabelPopup__overlay-3 nj-popup" >
              <div class="customTabelPopup">  
                <div class="upload_files_tab">
					<div class="upload_files_tab_header tab_header" style="margin-bottom: 20px;">
					  <a href="#purchased_files" onclick="$('.orderlist_block,aside').show()" >My Orders</a>
					  <a href="#uploaded_files" onclick="$('.orderlist_block,aside').hide()" class="active">My Uploads</a>
					</div>
					   <div class="upload_files_tab_data tab_body">	
                         
						<div id="purchased_files" class="image_containers "> 
                          
                          <div class="tab_body upload_files_tab_data_inner">						  
                           
                            <div id="purchased_files_by_size" class="active inner--data">                               
								   
								     
                         
                            </div> 
                          </div>          
					  </div>
						 <div id="uploaded_files" class="image_containers active"> 
                             <div class="upload_files_tab_header_inner tab_header" style="margin-bottom: 20px;">
        					  <a href="#uploaded_files_by_size" class="active">By Size</a>
        					  <a href="#uploaded_files_gang_sheet">Gang Sheets</a>
        					</div>
                          <div class="tab_body upload_files_tab_data_inner">						  
                            
                            <div id="uploaded_files_by_size" class="active inner--data">                               
								  <div class="popup_tool_bar">
									  <div class="tool_search">
										 <svg clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m15.97 17.031c-1.479 1.238-3.384 1.985-5.461 1.985-4.697 0-8.509-3.812-8.509-8.508s3.812-8.508 8.509-8.508c4.695 0 8.508 3.812 8.508 8.508 0 2.078-.747 3.984-1.985 5.461l4.749 4.75c.146.146.219.338.219.531 0 .587-.537.75-.75.75-.192 0-.384-.073-.531-.22zm-5.461-13.53c-3.868 0-7.007 3.14-7.007 7.007s3.139 7.007 7.007 7.007c3.866 0 7.007-3.14 7.007-7.007s-3.141-7.007-7.007-7.007z" fill-rule="nonzero"/></svg>
										 <input type="text" placeholder="Search upload name"/>
									  </div>
									<label class="tool_sorting" for="sort_3">
									   Sort:
									   <select id="sort_3">
										  <option value="date_asc">Date added (newest first)</option>
										 <option value="date_desc">Date added (oldest first)</option>
										 <option value="file_name_asc">File name (A-Z)</option>
										 <option value="file_name_desc">File name (Z-A)</option> 
									   </select>
									</label>
								  </div> 
								  <div class="customer_designes _2"> 
										<img  src="https://cdn.shopify.com/s/files/1/0558/0265/8899/files/loader-2.gif?v=1723724647" style="display:block;margin:20px auto;"/>
								  <ul>
									 
								  </ul>   
						      </div>   
                         
                            </div>
							 <div id="uploaded_files_gang_sheet" class="inner--data">
                                
						  <div class="popup_tool_bar">
							  <div class="tool_search">
								 <svg clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m15.97 17.031c-1.479 1.238-3.384 1.985-5.461 1.985-4.697 0-8.509-3.812-8.509-8.508s3.812-8.508 8.509-8.508c4.695 0 8.508 3.812 8.508 8.508 0 2.078-.747 3.984-1.985 5.461l4.749 4.75c.146.146.219.338.219.531 0 .587-.537.75-.75.75-.192 0-.384-.073-.531-.22zm-5.461-13.53c-3.868 0-7.007 3.14-7.007 7.007s3.139 7.007 7.007 7.007c3.866 0 7.007-3.14 7.007-7.007s-3.141-7.007-7.007-7.007z" fill-rule="nonzero"/></svg>
								 <input type="text" placeholder="Search upload name"/>
							  </div>
							<label class="tool_sorting" for="sort_4">
							   Sort:
							   <select id="sort_4">
								  <option value="date_asc">Date added (newest first)</option>
								 <option value="date_desc">Date added (oldest first)</option>
								 <option value="file_name_asc">File name (A-Z)</option>
								 <option value="file_name_desc">File name (Z-A)</option> 
							   </select>
							</label>
						  </div>
						
						  <div class="customer_designes _2"> 
							 <img  src="https://cdn.shopify.com/s/files/1/0558/0265/8899/files/loader-2.gif?v=1723724647" style="display:block;margin:20px auto;"/>
						  <ul>
							 
						  </ul>   
						  </div>   
                         
                            </div>
                          </div>   
					  </div>
					   </div>
                </div>
		</div>	
 </div> 
     <div class="customTabelPopup__overlay-4 nj-popup" style="display: none;">
              <div class="customTabelPopup">
                <span class="customTabelPopup__close" onclick="document.querySelector('.customTabelPopup__overlay-4').style.display = 'none'" >
                  <svg width="24px" height="24px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6 6L18 18" stroke="#000" stroke-linecap="round"></path><path d="M18 6L6.00001 18" stroke="#000" stroke-linecap="round"></path></svg>
                </span>
                <h4 style="position: absolute;top: 20px;">Remove File</h4>
  
                <p style="text-align:center;">Are you sure you would like to remove this file?</p>
                 <div style="display:flex;justify-content:center;gap:10px;flex-direction: column;">
                      <button type="button" id="fileremove-single" data-id="" class="button button--solid">Remove File</button>
                      <button type="button" onclick="document.querySelector('.customTabelPopup__overlay-4').style.display = 'none'" class="close button button--solid" style="background: #999 !important;">Cancel</button>
                    </div>
              </div>
            </div>
<script>
  $(".tab_header.upload_files_tab_header > a").on("click", function(e){
    e.preventDefault();
    $(".tab_header.upload_files_tab_header > a,.tab_body.upload_files_tab_data > div").removeClass("active");
    $(this).addClass("active");
    $(".tab_body.upload_files_tab_data > div"+$(this).attr("href")).addClass("active");
  });

  $(".tab_header.upload_files_tab_header_inner > a").on("click", function(e){
    e.preventDefault();
    $(this).parents(".image_containers").find(".tab_header.upload_files_tab_header_inner > a,.tab_body.upload_files_tab_data_inner > div").removeClass("active");
    $(this).addClass("active");
    $(".tab_body.upload_files_tab_data_inner > div"+$(this).attr("href")).addClass("active"); 
  });

  const apiURL = `https://hpz51rjda5.execute-api.us-east-1.amazonaws.com/production`;
  const ninjaImgixHost = `ninjauploads-production.imgix.net`;
  const ninjaS3Host2 = `ninja-services-production-ninjauploadss3bucket-zks2mguobhe4.s3.amazonaws.com`;
  const ninjaS3Host = `ninjauploads-production.imgix.net`;

  const CUSTOMER_ID = "{{ customer.id }}";
  $(".customer_designes > img").show();
  $(".customer_designes ul").hide();
  let innerDataBySize = "";
  let innerDataByGang = "";

  let innerDataBySize2 = "";
  let innerDataByGang2 = "";

  $.ajax({
    url: apiURL+"/uploads/fetchDataNew?customer_id="+CUSTOMER_ID,
    success:function(data){
      console.log("data fetch=>",data);

      for(let i = 0; i < data.length; i++){
        let variantSize = data[i].variant_title;
        const getDimensions = extractDimensions( variantSize );
        variantSize = variantSize.split("x");

        let fileW, fileH;

        if ( typeof getDimensions !== 'undefined' && getDimensions ) {
          fileW = getDimensions.width;
          fileH = getDimensions.height;
        }



        let file_name = data[i].file;
        // console.log ( 'file_name', file_name );
        if ( file_name.indexOf( `imgix.net` ) > -1 ) {
          file_name = file_name.replace("https://","").split("?")[0].split("/")[1];
          if ( file_name.indexOf("____image") > -1 ) {
            let ext = file_name.split('.').pop()
            file_name =  file_name.split("____image")[0]+"."+ext;
          }
        } else if ( file_name.indexOf( "upload.cloudlift.app" ) > -1 ) {
          file_name =  file_name.split("transferss/")[1];
        } else if ( file_name.indexOf("ninja-services-production") > -1 ) {
          file_name = file_name.replace("https://","").split("?")[0].split("/")[1];
        } else if ( file_name.indexOf("amazonaws") > -1 ) {
          file_name = file_name.replace("https://","").split("?")[0].split("/")[2];
        }
        let filePathCompressed = data[i].file.replace(ninjaS3Host2,ninjaS3Host);
        if(filePathCompressed.indexOf("?") > -1){
          filePathCompressed = data[i].file+"&h=300&auto=compress&q=10&dpi=72&trim=colorUnlessAlpha";
        }else{
          filePathCompressed = data[i].file+"?h=300&auto=compress&q=10&dpi=72&trim=colorUnlessAlpha";
        }
        if(data[i].gangsheet == false){
          const fileExt = data[i].file.split('.').pop().toLowerCase();
          let vectorFileParams = ``;
          if ( typeof fileExt !== 'undefined' && (fileExt == 'ai' || fileExt == 'eps' || fileExt == 'pdf') && typeof fileW !== 'undefined' && fileW && typeof fileH !== 'undefined' && fileH ) {
            vectorFileParams = `&orderFileWidth=${ fileW }&orderFileHeight=${ fileH }`;
          }
          innerDataBySize += `
          <li data-date="${data[i].formatted_date}" data-name="${file_name.toLowerCase()}">
            <div>
              <div class="upload_tools">
                <a href="#" onclick="downloadImage('${data[i].file}','${file_name}')" class="download--btn" >
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 21l-8-9h6v-12h4v12h6l-8 9zm9-1v2h-18v-2h-2v4h22v-4h-2z"/></svg>
                </a>
                <a href="" data-id="${data[i].photo_id}">
                  <svg clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m4.015 5.494h-.253c-.413 0-.747-.335-.747-.747s.334-.747.747-.747h5.253v-1c0-.535.474-1 1-1h4c.526 0 1 .465 1 1v1h5.254c.412 0 .746.335.746.747s-.334.747-.746.747h-.254v15.435c0 .591-.448 1.071-1 1.071-2.873 0-11.127 0-14 0-.552 0-1-.48-1-1.071zm14.5 0h-13v15.006h13zm-4.25 2.506c-.414 0-.75.336-.75.75v8.5c0 .414.336.75.75.75s.75-.336.75-.75v-8.5c0-.414-.336-.75-.75-.75zm-4.5 0c-.414 0-.75.336-.75.75v8.5c0 .414.336.75.75.75s.75-.336.75-.75v-8.5c0-.414-.336-.75-.75-.75zm3.75-4v-.5h-3v.5z" fill-rule="nonzero"/></svg>
                </a>
              </div>
              <div class="img_container">
                <img src="${filePathCompressed}" />
                <div>
                  <a href="" class="use_design" data-src="${data[i].file}" data-name="${file_name}">Use this Design</a>
                </div>
              </div>
              <div class="img_info">
                <h4>${file_name	}</h4>
                <p>
                  ${data[i].purchased_at.replace("Purchased","Uploaded")}
                </p>
                <a href="/products/dtf-transfers?file=${data[i].file}${ vectorFileParams }">Order as DTF Transfer</a>
                <a href="/products/uv-dtf-stickers-decals-by-size?file=${data[i].file}${ vectorFileParams }">Order as UV DTF</a>
                <a href="/products/3d-puff-transfers?file=${data[i].file}">Order as Puff Transfer</a>
                <a href="/products/vinyl-stickers?file=${data[i].file}">Order as Vinyl Sticker</a>
                <a href="/products/spangle-transfers?file=${data[i].file}">Order as Spangle Transfer</a>
              </div>
            </div>
          </li>`
        }else{
          var flname = data[i].file;
          if(data[i].file.indexOf("?")){
            flname = data[i].file.split("?");
            flname = flname[0];
          }
          innerDataByGang += `
          <li data-date="${data[i].formatted_date}" data-name="${file_name.toLowerCase()	}"  >
            <div>
              <div class="upload_tools">
                <a href="#" onclick="downloadImage('${data[i].file}','${file_name}')" class="download--btn" >
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 21l-8-9h6v-12h4v12h6l-8 9zm9-1v2h-18v-2h-2v4h22v-4h-2z"/></svg>
                </a>
                <a href="" data-id="${data[i].photo_id}">
                  <svg clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m4.015 5.494h-.253c-.413 0-.747-.335-.747-.747s.334-.747.747-.747h5.253v-1c0-.535.474-1 1-1h4c.526 0 1 .465 1 1v1h5.254c.412 0 .746.335.746.747s-.334.747-.746.747h-.254v15.435c0 .591-.448 1.071-1 1.071-2.873 0-11.127 0-14 0-.552 0-1-.48-1-1.071zm14.5 0h-13v15.006h13zm-4.25 2.506c-.414 0-.75.336-.75.75v8.5c0 .414.336.75.75.75s.75-.336.75-.75v-8.5c0-.414-.336-.75-.75-.75zm-4.5 0c-.414 0-.75.336-.75.75v8.5c0 .414.336.75.75.75s.75-.336.75-.75v-8.5c0-.414-.336-.75-.75-.75zm3.75-4v-.5h-3v.5z" fill-rule="nonzero"/></svg>
                </a>
              </div>
              <div class="img_container">
                <img src="${filePathCompressed}" />
                <div>
                <a href="" class="use_design" data-src="${data[i].file}" data-name="${file_name}">Use this Design</a>
                </div>
              </div>
              <div class="img_info">
                <h4>${file_name	}</h4>
                <p>
                  ${data[i].purchased_at.replace("Purchased","Uploaded")}
                </p>
                <a href="/products/premium-dtf-gang-sheets?file=${flname}">Order as DTF Gang Sheet</a>
                <a href="/products/uv-dtf-gang-sheets?file=${flname}">Order as UV Gang Sheet </a>
              </div>
            </div>
          </li> `
        }
      }
      $("#uploaded_files_by_size ul").html(innerDataBySize);
      $("#uploaded_files_by_size ul").show();
      $("#uploaded_files_by_size .customer_designes > img").hide();
      $("#uploaded_files_gang_sheet ul").html(innerDataByGang);
      $("#uploaded_files_gang_sheet ul").show();
      $("#uploaded_files_gang_sheet .customer_designes > img").hide();
      if(innerDataBySize == ""){
        $("#uploaded_files_by_size ul").html("<p style='text-align:center'>Sorry! No data found</p>");
      }
      if(innerDataByGang == ""){
        $("#uploaded_files_gang_sheet ul").html("<p style='text-align:center'>Sorry! No data found</p>");
      }
    },
    error: function(){
      $("#uploaded_files_by_size ul").show();
      $("#uploaded_files_by_size .customer_designes > img").hide();
      $("#uploaded_files_gang_sheet ul").show();
      $("#uploaded_files_gang_sheet .customer_designes > img").hide();
      if(innerDataBySize == ""){
        $("#uploaded_files_by_size ul").html("<p style='text-align:center'>Sorry! No data found</p>");
      }
      if(innerDataByGang == ""){
        $("#uploaded_files_gang_sheet ul").html("<p style='text-align:center'>Sorry! No data found</p>");
      }
    }
  });

  $("body").on("click", ".customer_designes ul a[data-id]", function(e){
    e.preventDefault();
    $(".customTabelPopup__overlay-4").show();
    $("#fileremove-single").data("id",$(this).data("id"));
  });

  $("#fileremove-single").on("click", function(){
    let id = $(this).data("id");
    $(".customer_designes ul a[data-id='"+id+"']").parents("li").css({"pointer-events":"none","opacity":0.5});
    $.ajax({
      url: apiURL+"/uploads/deleteData?customer_id="+CUSTOMER_ID+"&photo_id="+$(this).data("id"),
      success:function(data){
        $(".customer_designes ul a[data-id='"+id+"']").parents("li").remove();
        $(".customTabelPopup__overlay-4").hide();
      }
    });
  });

  $(".popup_tool_bar input").on("keyup", function(){
    let _this = $(this);
    let value = $(this).val().toLowerCase().trim();
    if(value != ""){
      _this.parents(".inner--data").find(".customer_designes li").show().filter(function() {
        return $(this).text().toLowerCase().trim().indexOf(value) == -1;
      }).hide();
    }else{
      _this.parents(".inner--data").find(".customer_designes li").show();
    }
  });

  $(".tool_sorting select").on("change", function(){
    let val = $(this).val();
    let _this = $(this);
    _this.parents(".inner--data").find(".customer_designes ul li").sort(function(left, right) {
      if(val == "date_asc")
        return  $(left).attr("data-date") <  $(right).attr("data-date") ? 1 : -1;
      else if(val == "date_desc")
        return  $(left).attr("data-date") >  $(right).attr("data-date") ? 1 : -1;
      else if(val == "file_name_asc")
        return $(left).attr("data-name") > $(right).attr("data-name") ? 1 : -1;
      else if(val == "file_name_desc")
        return $(left).attr("data-name") < $(right).attr("data-name") ? 1 : -1;
    }).each(function() {
      _this.parents(".inner--data").find(".customer_designes ul").append($(this));
    });
    setTimeout(function(){
      _this.parents(".inner--data").find(".customer_designes").animate({
        scrollTop:  (_this.parents(".inner--data").find(".customer_designes").offset().top - 1800)
      }, 0);
    },400)
  })

  $(".nj-popup").on("click", function(e){
    if (e.target !== this)
      return;
    $(this).hide();
  });

  function extractDimensions(str) {
    // Match two numbers (integer or decimal), optionally separated by 'x' or '×' or 'X'
    const match = str.match(/([\d.]+)[^0-9.]*([\d.]+)/);
    if (match) {
      const width = match[1];
      const height = match[2];
      return { width, height };
    }
    return null;
  }
</script>