<style>
    .product-uploadBtn-wrapper {
      display: flex;
      align-items: center;
      border: 1px solid #ddd;
      border-radius: 10px;
    }
    .product-uploadBtn-img img {
      width: 100%;
    }
    .product-uploadBtn-content {
      width: 70%;
      padding-left: 2rem;
    }
    .product-uploadBtn-img {
      width: 30%;
    }
    .product-uploadBtn-content-title {
      font-size: 20px;
      font-weight:800;
      margin-bottom: 12px;
    }
    .product-uploadBtn-content-desc {
      font-size: 16px;
      margin-bottom: 12px;
      font-weight: 400;
     }
    .product-uploadBtn{
      background: #3eaeff;
      color: #fff;
      padding: 13px 30px;
      display: inline-block;
      border-radius: 10px;
      line-height: 20px;
      font-size: 15px;
      font-weight: 600;
      cursor: pointer;
      transition: .3s;
     }
  .template-product-blanks .product-uploadBtn:hover {
    background-color: #0180c2;
}
    /* .template-product-blanks .product-gallery .arrow-key {
      top: 28%;
    } */
  
  .template-product-blanks .product-gallery.gallery_position {
    position: relative;
   }

    @media(max-width:767px){
    /* .template-product-blanks .product-gallery .arrow-key {
      top: 50%;
    } */
    .product-uploadBtn-content {
      padding-left: 1rem;
      padding-top: 1rem;
      padding-bottom: 1rem;
      width: 80%;
    }
    .product-uploadBtn-img {
      width: 50%;
   }
    .product-uploadBtn-content-title {
      font-size: 18px;
      margin-bottom: 9px;
    }
    .product-uploadBtn-content-desc {
      font-size: 14px;
      margin-bottom: 8px;
    }
    .product-uploadBtn {
      padding: 8px 20px;
      line-height: 19px;
      font-size: 13px;
    }
  }
</style>

<div class="product-uploadBtn-wrapper">
  <div class="product-uploadBtn-content">
    <h2 class="product-uploadBtn-content-title">Add DTF Transfers to your order</h2>
    <p class="product-uploadBtn-content-desc">High quality transfers delivered faster</p>
    <a href="https://ninjatransfers.com/products/dtf-transfers" target="_blank" class="product-uploadBtn">Upload Design</a>
  </div>
  <div class="product-uploadBtn-img">
    <img src="https://cdn.shopify.com/s/files/1/0558/0265/8899/files/New_shirt.png?v=1727274149" alt="">
  </div>
</div>
