{{ 'section-account.css' | asset_url | stylesheet_tag }} 
            
         <div class="customTabelPopup__overlay-5 nj-popup no-transparant-bg" style="display: none;">
              <div class="customTabelPopup">
                <span class="customTabelPopup__close" onclick="document.querySelector('.customTabelPopup__overlay-5').style.display = 'none'" >
                  <svg width="24px" height="24px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6 6L18 18" stroke="#000" stroke-linecap="round"></path><path d="M18 6L6.00001 18" stroke="#000" stroke-linecap="round"></path></svg>
                </span> 
                <div class="img-container">
                <img src="" class="zoomed-in-image"/>
                </div> 
              </div>
            </div>
            
         <div class="customTabelPopup__overlay-2 nj-popup" style="display: none;">
              <div class="customTabelPopup">
                <span class="customTabelPopup__close" onclick="document.querySelector('.customTabelPopup__overlay-2').style.display = 'none'" >
                  <svg width="24px" height="24px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6 6L18 18" stroke="#000" stroke-linecap="round"></path><path d="M18 6L6.00001 18" stroke="#000" stroke-linecap="round"></path></svg>
                </span>
                <h4 style="position: absolute;top: 20px;opacity:0">Remove File</h4>
                  <h5 style="text-align:center;">Remove File</h5>
                <p style="text-align:center;">Are you sure you would like to remove this file?</p>
                 <div style="display:flex;justify-content:center;gap:10px;flex-direction: column;">
                      <button type="button" id="fileremove" class="button button--solid" style="border-radius: 18px;">Remove File</button>
                      <button type="button" onclick="document.querySelector('.customTabelPopup__overlay-2').style.display = 'none'" class="close button button--solid" style="background: #999 !important;border-radius: 18px;">Cancel</button>
                    </div>
              </div>
            </div>
       <div class="customTabelPopup__overlay-4 nj-popup" style="display: none;">
              <div class="customTabelPopup">
                <span class="customTabelPopup__close" onclick="document.querySelector('.customTabelPopup__overlay-4').style.display = 'none'" >
                  <svg width="24px" height="24px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6 6L18 18" stroke="#000" stroke-linecap="round"></path><path d="M18 6L6.00001 18" stroke="#000" stroke-linecap="round"></path></svg>
                </span>
                <h4 style="position: absolute;top: 20px;">Remove File?</h4>
  
                <p style="text-align:center;">Are you sure you would like to remove this file?</p>
                 <div style="display:flex;justify-content:center;gap:10px;flex-direction: column;">
                      <button type="button" id="fileremove-single" data-id="" class="button button--solid">Remove File</button>
                      <button type="button" onclick="document.querySelector('.customTabelPopup__overlay-4').style.display = 'none'" class="close button button--solid" style="background: #999 !important;">Cancel</button>
                    </div>
              </div>
            </div>
          
               <div class="customTabelPopup__overlay-3 nj-popup" style="display: none;">
              <div class="customTabelPopup">
                <span class="customTabelPopup__close" onclick="document.querySelector('.customTabelPopup__overlay-3').style.display = 'none'" >
                  <svg width="24px" height="24px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6 6L18 18" stroke="#000" stroke-linecap="round"></path><path d="M18 6L6.00001 18" stroke="#000" stroke-linecap="round"></path></svg>
                </span>
                <h4 style="position: absolute;   top: 20px;">Your Designs</h4> 
                <div class="upload_files_tab">
					<div class="upload_files_tab_header tab_header" style="margin-bottom: 20px;">
					  <a href="#purchased_files" class="active">Orders</a>
					  <a href="#uploaded_files">Uploads</a>
					</div>
					   <div class="upload_files_tab_data tab_body">	 
                         <div class="warning-message-custom" style="background-color:#42a9de !important">
                                 <p style="margin:0">&nbsp;</p>
                              </div>
                           <div class="upload_files_tab_header_inner tab_header" style="margin-bottom: 20px;display:block !important;padding-bottom: 8px;">
                             {% unless product.template_suffix contains "gang-sheet" %}
        					  <a href="#purchased_files_by_size" class="active" style="pointer-events:none">By Size</a>
        					  <a href="#purchased_files_gang_sheet"  onclick="showAlert(event,'another_alert_by_size')" style="opacity:0.5;color:#000 !important;">Gang Sheet</a>
                             {% else %}
                               <a href="#purchased_files_by_size"  onclick="showAlert(event,'another_alert_gangsheet')"  style="opacity:0.5;color:#000 !important;">By Size</a>
        					   <a href="#purchased_files_gang_sheet"  class="active" style="pointer-events:none;">Gang Sheet</a>
                             {% endunless %}
        					</div>
						<div id="purchased_files" class="image_containers active">
                            
						  <div class="popup_tool_bar">
							  <div class="tool_search">
								 <svg clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m15.97 17.031c-1.479 1.238-3.384 1.985-5.461 1.985-4.697 0-8.509-3.812-8.509-8.508s3.812-8.508 8.509-8.508c4.695 0 8.508 3.812 8.508 8.508 0 2.078-.747 3.984-1.985 5.461l4.749 4.75c.146.146.219.338.219.531 0 .587-.537.75-.75.75-.192 0-.384-.073-.531-.22zm-5.461-13.53c-3.868 0-7.007 3.14-7.007 7.007s3.139 7.007 7.007 7.007c3.866 0 7.007-3.14 7.007-7.007s-3.141-7.007-7.007-7.007z" fill-rule="nonzero"/></svg>
								 <input type="text" placeholder="Search upload name"/>
							  </div>
							<label class="tool_sorting" for="sort_1">
							   Sort:
							   <select id="sort_1">
								  <option value="date_asc">Date added (newest first)</option>
								 <option value="date_desc">Date added (oldest first)</option>
								 <option value="file_name_asc">File name (A-Z)</option>
								 <option value="file_name_desc">File name (Z-A)</option> 
							   </select>
							</label>
						  </div>
						
						  <div class="customer_designes _2"> 
							 <img  src="https://cdn.shopify.com/s/files/1/0558/0265/8899/files/loader-2.gif?v=1723724647" style="display:block;margin:20px auto;"/>
						  <ul>
							 
						  </ul>   
						  </div>   
					  </div>
						 <div id="uploaded_files" class="image_containers"> 
						  <div class="popup_tool_bar">
							  <div class="tool_search">
								 <svg clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m15.97 17.031c-1.479 1.238-3.384 1.985-5.461 1.985-4.697 0-8.509-3.812-8.509-8.508s3.812-8.508 8.509-8.508c4.695 0 8.508 3.812 8.508 8.508 0 2.078-.747 3.984-1.985 5.461l4.749 4.75c.146.146.219.338.219.531 0 .587-.537.75-.75.75-.192 0-.384-.073-.531-.22zm-5.461-13.53c-3.868 0-7.007 3.14-7.007 7.007s3.139 7.007 7.007 7.007c3.866 0 7.007-3.14 7.007-7.007s-3.141-7.007-7.007-7.007z" fill-rule="nonzero"/></svg>
								 <input type="text" placeholder="Search upload name"/>
							  </div>
							<label class="tool_sorting" for="sort_2">
							   Sort:
							   <select id="sort_2">
								  <option value="date_asc">Date added (newest first)</option>
								 <option value="date_desc">Date added (oldest first)</option>
								 <option value="file_name_asc">File name (A-Z)</option>
								 <option value="file_name_desc">File name (Z-A)</option> 
							   </select>
							</label>
						  </div>
						
						  <div class="customer_designes"> 
							 <img  src="https://cdn.shopify.com/s/files/1/0558/0265/8899/files/loader-2.gif?v=1723724647" style="display:block;margin:20px auto;"/>
							  <ul>
							 
							  </ul>   
						  </div>   
					  </div>
					   </div>
                </div>
		</div>	
 </div>   

 <script>

	function showRecoverPasswordForm() {
		document.getElementById('recover_password').style.display = 'block';
		document.getElementById('customer_login').style.display='none';
	}

	function hideRecoverPasswordForm() {
		document.getElementById('recover_password').style.display = 'none';
		document.getElementById('customer_login').style.display = 'block';
	}

	if (window.location.hash == '#recover') { showRecoverPasswordForm() }

</script>