<div class="swiper-container main-slider" pid="{{ prod_.id }}">
  <div class="swiper-wrapper">
    <div class="swiper-slide">&nbsp;</div>
    <div class="swiper-slide">&nbsp;</div>
    <div class="swiper-slide">&nbsp;</div>
  </div>
  <div class="swiper-button-prev">
    <svg width="7px" height="9px" viewBox="0 0 7 9" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><polygon id="Triangle" fill="#000000" transform="translate(3.5, 4.5) rotate(90) translate(-3.5, -4.5)" points="3.5 1 8 8 -1 8"></polygon></g></svg>
  </div>
  <div class="swiper-button-next">
    <svg width="7px" height="9px" viewBox="0 0 7 9" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><polygon id="Triangle" fill="#000000" transform="translate(3.5, 4.5) rotate(90) translate(-3.5, -4.5)" points="3.5 1 8 8 -1 8"></polygon></g></svg>
  </div>
</div>

<script>
  var swiperMain_{{ prod_.id }};
</script>
