{%- assign selected_variant = product.selected_or_first_available_variant -%}
<div class="pdp-product-price-t">
<strong class="price-value">{{ selected_variant.price | money }}</strong>
</div>
<div class="pdp-productprice">
<strong class="price-value">{{ selected_variant.price | money }}</strong>
</div>