{% style %}
@media(max-width: 600px){
  .zipCode-{{ section.id }} .zipCode-icon-wrapper{
    margin-right: -1rem;
  }
}
{% endstyle %}

<div class="zipCode-{{ section.id }} deliveryEstimateContainerWrap container--large">
  <div class="deliveryEstimateContainer" style="display:none;">
  {% comment %}  {% render 'custom-popup' %} {% endcomment %}
    <div onclick="resetEstimateDeliveryDate();return false;" class="deliveryEstimateDate" style="display:none; cursor: pointer;">
      <div class="zipCode-icon-wrapper">
        <span href="#" class="shippingToZipCode"></span>
        <span class="ninja_edit-icon" style="vertical-align: middle;">{% render 'edit_icon'%}</span>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Zip Code",
  "settings": [],
  "presets": [
    {
      "name": "Zip Code"
    }
  ]
}
{% endschema %}
