{{ 'component-blog-item.css' | asset_url | stylesheet_tag }}

<div class="container--large container--vertical-space">
  {%- render 'section-heading', heading: section.settings.title, subheading: section.settings.subheading, heading_size: section.settings.section_heading_size, section_layout: section.settings.section_heading_layout, button_label_is_translation: true, seo_h_tag: section.settings.seo_h_tag -%}
  <div class="grid grid--layout grid-3 grid-lap-1">
    {%- for block in section.blocks -%}
        {% if block.settings.blogurl != blank %}
          {% assign _blog = articles[block.settings.blogurl] %}
          {% render 'custom-blog-item', article: _blog, section_blocks: section.blocks, show_image: true, image_aspect_ratio: section.settings.image_aspect_ratio, image_border_radius: section.settings.image_border_radius, layout: section.settings.layout, title:section.settings.blogtitle, blogdate:section.settings.date, button:section.settings.button, excerpt:section.settings.excerpt  %}
        {% endif %}
    {%- endfor -%}
  </div>
</div>

{% schema %}
{
  "name": "custom blog list",
  "class": "blog-list",
  "tag": "section",
  "settings": [
    {
        "type": "header",
        "content": "t:sections.bundle-extra-words.sections.headings.name"
      },
      {
        "type": "text",
        "id": "title",
        "label": "t:sections.local-extra-words.sections.headings.heading",
        "default": "Latest articles"
      },
      {
        "type": "inline_richtext",
        "id": "subheading",
        "label": "t:sections.local-extra-words.sections.headings.subheading",
        "default": "Share your <strong>best</strong> offers"
      },
        {
          "type": "checkbox",
          "id": "blogtitle",
          "label":"Hide title",
          "default":true
        },
        {
          "type": "checkbox",
          "id": "date",
          "label":"Hide date",
          "default":true
        },
        {
          "type": "checkbox",
          "id": "excerpt",
          "label":"Hide excert",
          "default":true
        },
        {
          "type": "checkbox",
          "id": "button",
          "label":"Hide button",
          "default":true
        },
      {
        "type": "select",
        "id": "section_heading_size",
        "label": "t:sections.bundle-extra-words.sections.headings.size.label",
        "options": [
          {
            "value": "text-size--regular",
            "label": "t:sections.bundle-extra-words.sections.headings.size.option_1"
          },
          {
            "value": "text-size--large",
            "label": "t:sections.bundle-extra-words.sections.headings.size.option_2"
          }
        ],
        "default": "text-size--regular"
      },
      {
        "type": "select",
        "id": "section_heading_layout",
        "label": "t:sections.bundle-extra-words.sections.headings.alignment.label",
        "options": [
          {
            "value": "section-heading--left section-heading--one-row",
            "label": "t:sections.bundle-extra-words.sections.headings.alignment.option_1",
            "group": "t:sections.bundle-extra-words.sections.headings.layout.option_1"
          },
          {
            "value": "section-heading--left section-heading--two-rows",
            "label": "t:sections.bundle-extra-words.sections.headings.alignment.option_1",
            "group": "t:sections.bundle-extra-words.sections.headings.layout.option_2"
          },
          {
            "value": "section-heading--center section-heading--two-rows",
            "label": "t:sections.bundle-extra-words.sections.headings.alignment.option_2",
            "group": "t:sections.bundle-extra-words.sections.headings.layout.option_2"
          }
        ],
        "default": "section-heading--left section-heading--one-row"
      },
      {
        "type": "header",
        "content": "t:sections.bundle-extra-words.settings_schema.labels.article"
      },
      {
        "type": "blog",
        "id": "blog",
        "label": "t:sections.blog-posts.settings.blog.label"
      },
      {
        "type": "checkbox",
        "id": "show_view_all",
        "label": "t:sections.blog-posts.settings.show_view_all.label",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "blog_show_image",
        "label": "t:sections.blog-posts.settings.show_image.label",
        "default": true
      },
      {
        "type": "select",
        "id": "image_aspect_ratio",
        "label": "t:settings_schema.product-grid.settings.aspect_ratio.label",
        "options": [
          {
            "value": "1.33333",
            "label": "t:sections.gallery.settings.aspect_ratio.options__1.label"
          },
          {
            "value": "1",
            "label": "t:sections.gallery.settings.aspect_ratio.options__2.label"
          },
          {
            "value": "0.83333",
            "label": "t:sections.gallery.settings.aspect_ratio.options__3.label"
          },
          {
            "value": "0.666667",
            "label": "t:sections.gallery.settings.aspect_ratio.options__4.label"
          },
          {
            "value": "1.77777",
            "label": "t:sections.gallery.settings.aspect_ratio.options__6.label"
          }
        ],
        "default": "1.33333"
      },
      {
        "type": "range",
        "id": "image_border_radius",
        "label": "t:sections.bundle-extra-words.sections.main-product-page.settings.gallery.border_radius",
        "min": 0,
        "max": 30,
        "step": 1,
        "unit": "px",
        "default": 0
      },
      {
        "type": "header",
        "content": "t:sections.bundle-extra-words.sections.headings.gutter.label"
      },
      {
        "type": "checkbox",
        "id": "gutter_decrease",
        "label": "t:sections.bundle-extra-words.sections.headings.gutter.content",
        "default": false
      },
      {
        "type": "header",
        "content": "t:sections.refactor_words.seo.name"
      },
      {
        "type": "select",
        "id": "seo_h_tag",
        "label": "t:sections.refactor_words.seo.label",
        "info": "t:sections.refactor_words.seo.info",
        "options": [
          {
            "value": "h1",
            "label": "H1"
          },
          {
            "value": "h2",
            "label": "H2"
          },
          {
            "value": "h3",
            "label": "H3"
          },
          {
            "value": "h4",
            "label": "H4"
          },
          {
            "value": "span",
            "label": "span"
          }
        ],
        "default": "h2"
      }
  ],
  "blocks": [
    {
      "type": "url",
      "name": "Blog URL",
      "settings": [{
        "type": "text",
        "id": "blogurl",
        "label":"Please enter blog URL",
        "placeholder": "Enter the blog URL",
        "info":"dtf/heat-transfer-vs-sublimation",
        "default": "dtf/how-to-promote-your-small-business"
      }
      ]
    }
  ],    
    "presets": [
      {
        "name": "custom blog list",
        "blocks": [
        ]
      }
    ]
}
{% endschema %}