<style>
    .customTabelPopup__overlay-editor{
     position:static !important;
     display:block !important;
     background: none !important;
    }
    .customTabelPopup__overlay-editor .editor-container{
      border: 1px solid #ddd;
    }
    body{
     overflow:auto !important;
    }
    #close-btn,.shopify-section-group-footer-group{display:none !important;}
    .customTabelPopup__overlay-editor .customTabelPopup,
    .main-content .fullWidth {
     width: 100%  !important;
    max-width: 100%  !important;
    padding-left: 10px  !important;
    padding-right: 10px  !important;
    margin-top:10px !important; 
    margin-bottom:10px !important; 
    }  
    .header-container.header-container--top.apponlyelements-web-block{
         opacity: 0;
    height: 19px;
    pointer-events:none;
    }
    .editor-container {  
  /* Modern browsers (iOS 16.4+, Chrome, etc.) */
  height: calc(100dvh - 20px) !important;

  /* Fallback for older Safari */
  height: -webkit-fill-available !important;

  /* Final fallback (custom JS variable below) */
  height: calc(calc(var(--vh, 1vh) * 100) - 20px) !important;

  /* Prevent hidden bottom area */
  box-sizing: border-box;
  padding-bottom: env(safe-area-inset-bottom); 
}
.shopify-section-group-header-group.site-header-container,
.shopify-section-group-header-group.mount-announcement-bar{
  display:none !important;
}
.toolbar-center{
padding-right: 370px !important; 
} 
.customTabelPopup__close {
  cursor: pointer;
  margin-left: calc(100% - 20px);
}
#tidio-chat{display:none !important;}
</style>    
{% render "v0-editor" %}
<div class="customTabelPopup__overlay-exit-studio nj-popup" style="display:none">
              <div class="customTabelPopup">
                <span class="customTabelPopup__close" onclick="document.querySelector('.customTabelPopup__overlay-exit-studio').style.display = 'none'">
                  <svg width="24px" height="24px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6 6L18 18" stroke="#000" stroke-linecap="round"></path><path d="M18 6L6.00001 18" stroke="#000" stroke-linecap="round"></path></svg>
                </span>
                <h4 style="position: absolute;top: 20px;opacity:0;">Remove File</h4>
  
                <p style="text-align:center;">Changes you made may not be saved.</p>
                 <div style="display:flex;justify-content:center;gap:10px;flex-direction: column;">
                      <a href="{{ routes.root_url }}" class="button button--solid">Leave Ninja Studio</a>
                      <button type="button" onclick="document.querySelector('.customTabelPopup__overlay-exit-studio').style.display = 'none'" class="close button button--solid" style="background: #999 !important;">Cancel</button>
                    </div>
              </div>
  </div>
<script>
     $(document).ready(function(){    
        setTimeout(function(){
                $('.transparent-swatch.canvas-color-swatch').click();
        },1000) 
      }); 
</script>

{% schema %}
  {
    "name": "Design tool widget",
    "settings": [], 
    "presets": [
      {
        "name": "Design tool widget"
      }
    ]
  }
{% endschema %}