 {% render "custom-fileupload" %}
      <style>
        .drop-disabled-size,
.drop-disabled-type{
   background-color: #ddd !important;
  border: 2px dashed #888 !important;
  position:relative;
}
.drop-disabled-size:after,
.drop-disabled-type:after{
  content:"Please Your File Should be 5 GB or Less";
  display:block;
  position:absolute;
  top:10px;
  left:10px;
  right:10px; 
  background-color: #c44e47 !important;
  border-radius: 5px;
  color:#fff;
  text-align:center;
  padding: 10px;
  font-size: 12px;
  z-index: 99;
  pointer-events: none;
}
        .drop-disabled-type:after{
  content:"We accept the following file types: JPG, JPEG, SVG, PNG, TIFF, AI, and PDF.";
}
        h1 {
          font-weight:800;
        }
        .drop-zoon--Uploaded .process{
          display:block!important;
        }
        .drop-zoon--Uploaded .processhide{
          display:none !important;
        }
        .fileupload_custom > div{
          border-top:1px solid #ddd;
          border-bottom:1px solid #ddd;
          padding:10px 0;
          display:flex;
          align-items:center;
          justify-content:space-between;
        }
        #fileDetails{
          font-size:20px;
          font-weight:700;
        }
        .buttons{
          display:flex;
          flex-direction:column;
          gap:10px;
          width:350px;
           max-width:100%;
        }
        .fileupload_custom .img_container{
           width:350px;
           max-width:100%; 
               background: #f2f2f2 url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZmlsbD0iI0M1QzVDNSIgZD0iTTAgMGg0djRIMHpNMCA4aDR2NEgwek0xNiA4aC00VjRoNHpNMTYgMTZoLTR2LTRoNHpNOCAwaDR2NEg4ek04IDhoNHY0SDh6TTggOEg0VjRoNHpNOCAxNkg0di00aDR6Ii8+PHBhdGggZmlsbD0iIzlCOUI5QiIgZD0iTTQgMGg0djRINHpNNCA4aDR2NEg0ek0xMiA4SDhWNGg0ek0xMiAxNkg4di00aDR6TTEyIDBoNHY0aC00ek0xMiA4aDR2NGgtNHpNNCA4SDBWNGg0ek00IDE2SDB2LTRoNHoiLz48L3N2Zz4=) center center;

        }
        .img_info{
          max-width:500px;
        }
        #reupload{
          display:flex;
          align-items:center;
          gap:10px;
          text-align:center;
          justify-content:center;
          font-size:18px;
        }
         #reupload svg{
           height:28px;
         }
        #reupload svg path{
          fill:#10A9EA
        }
    
        @media (max-width:768px){
           .fileupload_custom > div{
              flex-direction:column;
           }
        }
         .file-upload-overlay-1-active   .lazy-image img{
          z-index: 1;
        }
        .file-upload-overlay-1-active announcement-bar,
         .file-upload-overlay-1-active .site-header{
          z-index:9 !important;
        }
      </style>                            
                    <!-- Upload Area -->
           <div class="container--large  container--vertical-space" id="upload_area">              
 
                  <div class="file-upload-overlay-1">              
                          <div id="uploadArea" class="upload-area" item-show-on="beforeUpload"> 
                         
                            <!-- Drop Zoon -->
                            <div id="dropZoon" class="upload-area__drop-zoon drop-zoon">
                                <button type="button" class="processhide">Choose file <svg class="customUploaderWrapper__content__svg" fill="none" height="24" stroke="#46aae3" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path><polyline points="17 8 12 3 7 8"></polyline><line x1="12" x2="12" y1="3" y2="15"></line></svg></button>
                                  
                              <p class="drop-zoon__paragraph processhide"><strong>or drop file here</strong></p>
                               <input type="file" id="fileInput" class="drop-zoon__file-input" accept="image/*">
                               <img src="https://cdn.shopify.com/s/files/1/0558/0265/8899/files/loader-2.gif?v=1723724647" style="display:none;margin:10px auto;max-width:70px;" class="process">
                               <p style="display:none;" class="process">Upscaling Image</p>
                            </div> 
                          </div>
                          <!-- End Upload Area -->
                              </div>        
                     <div class="fileupload_custom" style="display:none" id="fileupload_custom" item-show-on="afterUpload"> 
                        <div>
                              <div class="img_container">
                                 <img class="xzoom" id="previewImage2" src="https://cdn.shopify.com/s/files/1/0558/0265/8899/files/loader-2.gif?v=1723724647" style="max-width:100%;display: block;   margin: auto;padding: 5px;" /> 
                               </div>
                               <div class="img_info">
                                   <p id="fileDetails"></p>
                                   <p><small id="fileSize" style="opacity:0.8"></small></p>
                               </div>
                                <div class="buttons">
                                   <a href="/products/dtf-transfers"   class="add-to-cart button button--solid button--product button--loader button--move" id="dtf_transfer"><span class="button__text">Use as DTF Transfer</span></a>
                                   <a id="uv_transfer"   class="add-to-cart button button--solid button--product button--loader button--move" ><span class="button__text">Use as UV PermaSticker</span></a>
                                  <button type="button" class="add-to-cart button button--solid button--product button--loader button--move"  id="download_image"><span class="button__text">Download</span></button>
                                  {% if customer %}
                                  <button type="button" style="display:none"   class="add-to-cart button button--solid button--product button--loader button--move" onclick="saveFile()" id="save_for_later"><span class="button__text">save file to your account</span></button>
                                  {% endif %}
                                </div>  
                             </div> 
                            <div style="justify-content: center;"> 
                                <a href="" id="reupload"><svg fill="currentColor" height="20" viewBox="0 0 1000 1000" width="20" xmlns="http://www.w3.org/2000/svg"><path d="M208 666C92 655 0 557 0 437c0-126 103-229 229-229 10 0 19 1 28 2C285 90 392 0 521 0c142 0 259 110 270 250h1c115 0 208 93 208 208s-93 209-208 209h-6c-1-2-2-3-3-5L617 440c-59-78-175-78-234 0L217 662c-1 2-2 3-3 5h-6v-1zm325-163l123 164 44 58c21 27 1 67-33 67h-84v166c0 23-18 42-41 42h-84c-23 0-41-19-41-42V792h-84c-34 0-54-40-33-67l167-222c7-10 19-16 30-17 13-1 27 5 36 17z"></path></svg> Upload more files</a>
                            </div>  
						  
                     </div> 
                </div>    
                 <script>
                  const uploadArea = document.querySelector('#uploadArea')
                  const dropZoon = document.querySelector('#dropZoon');
                  const fileInput = document.querySelector('#fileInput');
                  const previewImage = document.querySelector('#previewImage2');
                  const fileDetails = document.querySelector('#fileDetails');
                  
                const imagesTypes = ["image/png","image/jpg","image/jpeg","image/tiff","application/pdf","image/vnd.adobe.photoshop","application/postscript","application/vnd.adobe.photoshop","application/x-photoshop","application/photoshop","application/psd","image/psd","image/svg+xml"];

                  
                  // When (drop-zoon) has (dragover) Event 
                  uploadArea.addEventListener('dragover', function (event) {
                    // Prevent Default Behavior 
                    event.preventDefault();
                  
                    // Add Class (drop-zoon--over) On (drop-zoon)
                    uploadArea.classList.add('drop-zoon--over');
                    document.querySelector(".file-upload-overlay-1").classList.add("active");
                    document.querySelector("body").classList.add("file-upload-overlay-1-active");
                  });
                  
                  // When (drop-zoon) has (dragleave) Event 
                  uploadArea.addEventListener('dragleave', function (event) {
                    // Remove Class (drop-zoon--over) from (drop-zoon)
                    uploadArea.classList.remove('drop-zoon--over');
                     document.querySelector(".file-upload-overlay-1").classList.remove("active");
                     document.querySelector("body").classList.remove("file-upload-overlay-1-active");
                  });
                  
                  // When (drop-zoon) has (drop) Event 
                  uploadArea.addEventListener('drop', function (event) {
                    // Prevent Default Behavior 
                    event.preventDefault();
                  
                    // Remove Class (drop-zoon--over) from (drop-zoon)
                    uploadArea.classList.remove('drop-zoon--over');
                    document.querySelector(".file-upload-overlay-1").classList.remove("active");
                     document.querySelector("body").classList.remove("file-upload-overlay-1-active");
                  
                    // Select The Dropped File
                    const file = event.dataTransfer.files[0];
                  
                    // Call Function uploadFile(), And Send To Her The Dropped File :)
                    uploadFile(file);
                  });
                  
                  // When (drop-zoon) has (click) Event 
                  uploadArea.addEventListener('click', function (event) {
                    // Click The (fileInput)
                    fileInput.click();
                  });

                  
                  
                  // When (fileInput) has (change) Event 
                  fileInput.addEventListener('change', function (event) {
                    // Select The Chosen File
                    const file = event.target.files[0];
                  
                    // Call Function uploadFile(), And Send To Her The Chosen File :)
                    uploadFile(file);
                  });
                  
                  // Upload File Function
                 function uploadFile(file) {
                     $( `html, body` ).animate({
                scrollTop: ($( `#main` ).offset().top - 180)
              }, 1000);
                    // FileReader()
                    const fileReader = new FileReader();
                    // File Type 
                    const fileType = file.type;
                    // File Size 
                    const fileSize = file.size;
                   
                    
                    // If File Is Passed from the (File Validation) Function
                    if (fileValidate(fileType, fileSize)) {
                      // Add Class (drop-zoon--Uploaded) on (drop-zoon)
                      dropZoon.classList.add('drop-zoon--Uploaded');
                   
                     // After File Reader Loaded 
                      fileReader.addEventListener('load', function () {  
                        console.log("fileReader",fileReader);
                      previewImage.setAttribute('src', fileReader.result); 
                        fileDetails.innerHTML = file.name;  
                        
                   
                       const randomName = file.name.split('.')[0].replace(/[^a-z0-9\s]/gi, '').replace(/[_\s]/g, '-')+"____"+'image_' + Date.now() + '_' + Math.floor(Math.random() * 1000) + '.' + file.name.split('.').pop();
                    upscaleImage(fileReader,randomName, file)
                        
                       
                  });  
                        fileReader.readAsDataURL(file);  
				  }
                 }

    async  function upscaleImage(fileReader,randomName, file){ 
           const presignData = await getPresignedUploadUrl(randomName, file.type)
                          if (presignData.url) { 
                            const response = await fetch(presignData.url, {
                              method: 'PUT', 
                              body: file
                            });
                            console.log("upload response: " + JSON.stringify(response)); 
                                   
                                     const filePath = "https://ninjauploads-production.imgix.net/"+randomName+"?bg-remove=null&upscale=true";
                                     previewImage.setAttribute('src', filePath);
                                                     
                                      setTimeout(function(){ 
                                        
                                        document.querySelector('[item-show-on="beforeUpload"]').style.display = "none";
                                         document.querySelector('[item-show-on="afterUpload"]').style.display = "block";
                                         document.querySelector("#dtf_transfer").setAttribute("href","/products/dtf-transfers?file="+filePath);
                                        document.querySelector("#uv_transfer").setAttribute("href","/products/uv-dtf-stickers-decals-by-size?file="+filePath);
                                        document.querySelector("#download_image").setAttribute("onclick","downloadImage('"+filePath+"','"+file.name+"')");
                                     //   document.querySelector(".heading-size--page-title").innerHTML = "Image upscaled";
                                      //  document.querySelector(".heading-size--page-title + div ").style.display = "none";
                                        $("#fileSize").html($("#previewImage2").width()+" x "+$("#previewImage2").height()+"px");
                                      },8000)
                       
                      // Read (file) As Data Url 
                     
                    } else { // Else
                   
                  
                    };
      }         
                   
                  async function downloadImage(imageSrc, file_name) { 
  const image = await fetch(imageSrc)
  const imageBlob = await image.blob()
  const imageURL = URL.createObjectURL(imageBlob)

  const link = document.createElement('a')
  link.href = imageURL
  link.download = file_name
  document.body.appendChild(link)
  link.click()
  document.body.removeChild(link)
}

function fileValidate(fileType, fileSize) {
   setTimeout(function(){
     $("#uploadArea").removeClass("drop-disabled-size");
     $("#uploadArea").removeClass("drop-disabled-type");
  },3500)
  // File Type Validation
//  alert(fileType);
  let isImage = imagesTypes.filter((type) => fileType.indexOf(`${type}`) !== -1);
 

  // If The Uploaded File Is An Image
  if (isImage.length !== 0   ) {
    // Check, If File Size Is 2MB or Less
    if (fileSize <= 5368709120) { // 2MB :)
      return true;
    } else { // Else File Size
      $("#uploadArea").addClass("drop-disabled-size");
      return false
    };
  } else { // Else File Type 
    $("#uploadArea").addClass("drop-disabled-type"); 
    return false
  };
 
};
                  $("#reupload").on("click", function(e){
                      e.preventDefault();
                    //  document.querySelector(".heading-size--page-title").innerHTML = "Ninja Upscale";
                    // document.querySelector(".heading-size--page-title + div").style.display = "block";
                     document.querySelector('[item-show-on="beforeUpload"]').style.display = "flex";
                    document.querySelector('[item-show-on="afterUpload"]').style.display = "none";
                     dropZoon.classList.remove('drop-zoon--Uploaded');
                    fileInput.click();
                  })
          {% if customer %}
                  function saveFile(){
                    $("#save_for_later").html("Saving...");
                    var file = document.querySelector("#dtf_transfer").getAttribute("href").split("?file=")[1];
                    $("#save_for_later").css({"pointer-events":"none","opacity":0.7});
                      $.ajax({
                        url: "https://hpz51rjda5.execute-api.us-east-1.amazonaws.com/production/uploads/saveData",
                        method:"post",
                        dataType:"json",
                        data: JSON.stringify([{
                            "variant_title":  "2x2", 
                            "file":file ,
                            "customer_id": {{ customer.id }},
                            "file_name":document.querySelector('#fileDetails').innerHTML
                          }]),
                        complete:function(){
                          $("#save_for_later").html("File Saved");
                        }
                      });
                  }
            {% endif %}
                  const apiPresigningURL = `https://hpz51rjda5.execute-api.us-east-1.amazonaws.com/production/uploads/getPresignedUploadUrl`;
                  async function getPresignedUploadUrl(file_name, file_type ) {
                            try {
                              let rtn;
                              await $.get(`${apiPresigningURL}?file_name=${encodeURIComponent(file_name)}&file_type=${encodeURIComponent(file_type)}`, function ( res ) {
                                rtn   =   res;
                              });
                              return rtn;
                            } catch ( err ) {
                              console.log( `ERROR getPresignedUploadUrl`, err.message );
                            }
                          }

                      const mainDropZone = document.querySelector( "body" );
                    mainDropZone.addEventListener('dragover', (e) => {
                      e.preventDefault(); 
                    });
                    mainDropZone.addEventListener('drop', async (e) => { 
                       e.preventDefault()
                    });
                </script>
{% schema %}
  {
    "name": "Image upscale widget",
    "settings": [], 
    "presets": [
      {
        "name": "Image upscale widget"
      }
    ]
  }
{% endschema %}