ninja-nav {
  display: block;
}
ninja-nav .ninja-nav {
  margin: 0 auto;
  width: 100%;
  max-width: var(--theme-max-width);
  padding-left: var(--gutter-container);
  padding-right: var(--gutter-container);
}
ninja-nav .ninja-nav .flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
  padding-left: 10px;
}
ninja-nav .ninja-nav .flex-container [class^="col__"] {
  box-sizing: border-box;
  flex-grow: 0;
  flex-shrink: 0;
  padding: 10px;
  background-color: #e9e9e9;
}
ninja-nav .ninja-nav .flex-container .col__1 {
  flex-basis: calc(4.1666666667% - 10px);
}
ninja-nav .ninja-nav .flex-container .col__2 {
  flex-basis: calc(8.3333333333% - 10px);
}
ninja-nav .ninja-nav .flex-container .col__3 {
  flex-basis: calc(12.5% - 10px);
}
ninja-nav .ninja-nav .flex-container .col__4 {
  flex-basis: calc(16.6666666667% - 10px);
}
ninja-nav .ninja-nav .flex-container .col__5 {
  flex-basis: calc(20.8333333333% - 10px);
}
ninja-nav .ninja-nav .flex-container .col__6 {
  flex-basis: calc(25% - 10px);
}
ninja-nav .ninja-nav .flex-container .col__7 {
  flex-basis: calc(29.1666666667% - 10px);
}
ninja-nav .ninja-nav .flex-container .col__8 {
  flex-basis: calc(33.3333333333% - 10px);
}
ninja-nav .ninja-nav .flex-container .col__9 {
  flex-basis: calc(37.5% - 10px);
}
ninja-nav .ninja-nav .flex-container .col__10 {
  flex-basis: calc(41.6666666667% - 10px);
}
ninja-nav .ninja-nav .flex-container .col__11 {
  flex-basis: calc(45.8333333333% - 10px);
}
ninja-nav .ninja-nav .flex-container .col__12 {
  flex-basis: calc(50% - 10px);
}
ninja-nav .ninja-nav .flex-container .col__13 {
  flex-basis: calc(54.1666666667% - 10px);
}
ninja-nav .ninja-nav .flex-container .col__14 {
  flex-basis: calc(58.3333333333% - 10px);
}
ninja-nav .ninja-nav .flex-container .col__15 {
  flex-basis: calc(62.5% - 10px);
}
ninja-nav .ninja-nav .flex-container .col__16 {
  flex-basis: calc(66.6666666667% - 10px);
}
ninja-nav .ninja-nav .flex-container .col__17 {
  flex-basis: calc(70.8333333333% - 10px);
}
ninja-nav .ninja-nav .flex-container .col__18 {
  flex-basis: calc(75% - 10px);
}
ninja-nav .ninja-nav .flex-container .col__19 {
  flex-basis: calc(79.1666666667% - 10px);
}
ninja-nav .ninja-nav .flex-container .col__20 {
  flex-basis: calc(83.3333333333% - 10px);
}
ninja-nav .ninja-nav .flex-container .col__21 {
  flex-basis: calc(87.5% - 10px);
}
ninja-nav .ninja-nav .flex-container .col__22 {
  flex-basis: calc(91.6666666667% - 10px);
}
ninja-nav .ninja-nav .flex-container .col__23 {
  flex-basis: calc(95.8333333333% - 10px);
}
ninja-nav .ninja-nav .flex-container .col__24 {
  flex-basis: calc(100% - 10px);
}
ninja-nav main-nav-wrapper {
  display: block;
  border-bottom: 1px solid #D9D9D9;
}
ninja-nav main-nav-wrapper main-nav {
	display: flex;
	align-items: center;
	gap: 4px 44px;
  margin: 0 auto;
  width: 100%;
  max-width: var(--theme-max-width);
  padding-left: var(--gutter-container);
  padding-right: var(--gutter-container);
}
ninja-nav main-nav .navItem {
  font-weight: 600;
  font-size: 16px;
  position: relative;
  display: inline-flex;
  padding: 12px 0;
}
ninja-nav main-nav .navItem.active::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: #000;
}
ninja-nav main-nav .navItem.leftAlign {
  margin-right: auto;
}
ninja-nav main-nav .navItem.centerAlign {
  margin-right: auto;
  margin-left: auto;
}
ninja-nav main-nav .navItem.rightAlign {
  margin-left: auto;
}
