.bestProducts {
  &__heading {
    margin: auto;
    max-width: 770px;
  }
  &__title {
    > * {
      font-size: 64px;
      font-weight: 500;
      margin-bottom: 30px;

      @media ( max-width: 1024px ) {
        font-size: 48px;
      }

      @media ( max-width: 600px ) {
        font-size: 36px;
      }
    }

    @media ( min-width: 768px ) {
      &.titleAlignDesktop__left {
        text-align: left;
      }
      &.titleAlignDesktop__center {
        text-align: center;
      }
      &.titleAlignDesktop__right {
        text-align: right;
      }
    }

    @media ( max-width: 768px ) {
      &.titleAlignMobile__left {
        text-align: left;
      }
      &.titleAlignMobile__center {
        text-align: center;
      }
      &.titleAlignMobile__right {
        text-align: right;
      }
    }
  }

  &__subTitle {
    font-size: 24px;
    color: #929292;
    text-align: center;
    line-height: 120%;
    font-weight: 400;
  }

  &__wrap {
    display: flex;
    align-items: start;
    gap: 24px;
    flex-wrap: wrap;
  }

  &__item {
    border-radius: 10px;
    padding: 20px;

    &.fullWidth {
      width: 100%;
      display: grid;
      align-items: center;
      grid-template-columns: 50% auto;
      gap: 14px;

      @media ( max-width: 768px ) {
        grid-template-columns: auto;
      }
    }

    &.halfWidth {
      width: calc(50% - 12px);
      display: grid;
      align-items: center;
      grid-template-columns: auto;
      gap: 14px;

      @media ( max-width: 768px ) {
        width: 100%;
      }
    }

    &__btn {
      // background-color: #019aff;
      padding: 12px 24px;
      border-radius: 999px;
      display: flex;
      align-items: center;
      gap: 8px;
      max-width: max-content;
      margin-top: 24px;
    }

    img {
      max-width: 100%;
    }

    &__iconWrap {
      background-color: #F6F7F9;
      border-radius: 8px;
      display: grid;
      // align-items: center;
      // aspect-ratio: 1 / 1;
      justify-content: center;
    }

    &__content {
      padding: 20px;

      @media ( max-width: 768px ) {
        padding: 4px;
      }

      &Circle {
        background-color: #d7fe97;
        padding: 16px;
        display: inline-block;
        aspect-ratio: 1/1;
        border-radius: 999px;
        width: 64px;
        height: 64px;
      }
    }

    &__title {
      font-size: 40px;
      font-weight: 500;
      color: #171717;
      line-height: 120%;

      @media ( max-width: 768px ) {
        font-size: 24px;
      }
    }

    &__text {
      margin-top: 8px;
      font-size: 16px;
      font-weight: normal;
      color: #918ea4;
    }
  }
}
