.blockContent {
  &__title {
    > * {
      font-size: 24px;
      font-weight: 500;
      margin-bottom: 30px;
    }

    @media ( min-width: 768px ) {
      &.titleAlignDesktop__left {
        text-align: left;
      }
      &.titleAlignDesktop__center {
        text-align: center;
      }
      &.titleAlignDesktop__right {
        text-align: right;
      }
    }

    @media ( max-width: 768px ) {
      &.titleAlignMobile__left {
        text-align: left;
      }
      &.titleAlignMobile__center {
        text-align: center;
      }
      &.titleAlignMobile__right {
        text-align: right;
      }
    }
  }

  &__wrap {
    display: flex;
    align-items: start;
    gap: 24px;
    flex-wrap: wrap;
  }

  &__item {
    display: grid;
    align-items: start;
    grid-template-columns: 44px auto;
    gap: 14px;

    img {
      max-width: 100%;
    }

    &__iconWrap {
      background-color: #F6F7F9;
      border-radius: 8px;
      display: grid;
      /* align-items: center; */
      aspect-ratio: 1 / 1;
      justify-content: center;

      img {
        position: relative;
        top: 50%;
        bottom: 50%;
        transform: translateY(-50%);
      }
    }

    &__content {
    }

    &__title {
      font-size: 16px;
      font-weight: 600;
      color: #171717;
    }

    &__text {
      margin-top: 8px;
      font-size: 16px;
      font-weight: normal;
      color: #918ea4;
    }
  }
}
