.brandLogos {
  &__title {
    > * {
      font-size: 24px;
      font-weight: 500;
      margin-bottom: 30px;
    }

    @media ( min-width: 768px ) {
      &.titleAlignDesktop__left {
        text-align: left;
      }
      &.titleAlignDesktop__center {
        text-align: center;
      }
      &.titleAlignDesktop__right {
        text-align: right;
      }
    }

    @media ( max-width: 768px ) {
      &.titleAlignMobile__left {
        text-align: left;
      }
      &.titleAlignMobile__center {
        text-align: center;
      }
      &.titleAlignMobile__right {
        text-align: right;
      }
    }
  }

  &__wrap {
    display: flex;
    align-items: center;
    gap: 24px;
    // flex-wrap: wrap;
    justify-content: space-around;
  }

  &__item {
    img {
      max-width: 100%;
    }
  }
}
