.brandLogos__title > * {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .brandLogos__title.titleAlignDesktop__left {
    text-align: left;
  }
  .brandLogos__title.titleAlignDesktop__center {
    text-align: center;
  }
  .brandLogos__title.titleAlignDesktop__right {
    text-align: right;
  }
}
@media (max-width: 768px) {
  .brandLogos__title.titleAlignMobile__left {
    text-align: left;
  }
  .brandLogos__title.titleAlignMobile__center {
    text-align: center;
  }
  .brandLogos__title.titleAlignMobile__right {
    text-align: right;
  }
}
.brandLogos__wrap {
  display: flex;
  align-items: center;
  gap: 24px;
  justify-content: space-around;
}
.brandLogos__item img {
  max-width: 100%;
}