.product-item__vendor {
  display: flex;
  justify-content: space-between;
  margin-bottom: 7px;
  align-items: center;
  opacity: 1;
  padding-top: 20px;
}

.product-item__vendor p {
  margin-bottom: 0;
  font-size: 0.9em;
  color: #5e5e5e;
}
.product-item__price {
  margin: 5px;
}
.product-item__text {
  padding: 0 7px;
}

a.card__text-wrapper {
  margin-bottom: 0;
}

.product-item {
  background-color: white !important;
  padding: 5px;
  border: 1px solid #e0dfdf;
  border-radius: 0.25rem;
  transition: 0.3s;
  height: -webkit-fill-available;
  height: 100%;
}

.product-item:hover {
  border: 1px solid #c1c1c1;
}

.product-price--original span {
  color: #4572bb;
  font-weight: bold;
  font-size: 1.4em;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: -5px;
}

.estimatedDeliveryDate {
  margin-bottom: 0;
}

.estimatedDeliveryDateEarly p {
  color: #000;
  font-size: 0.9em;
  padding-top: 2px;
  margin-bottom: 0;
}

.estimatedDeliveryDateText {
  color: #52af61;
  font-weight: bold;
  font-size: 1.2em;
  padding-bottom: 5px;
}

.vendor-logos {
  max-width: 80px;
  max-height: 30px;
  object-fit: contain;
}
.product-item__title span {
  font-weight: 400;
  font-size: 15px;
  padding: 0 7px 20px 7px;
  display: block;
}
.collection-page-heading-wrap {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.collection-page-heading {
  width: 100%;
}

.deliveryEstimateDate {
  text-align: end;
}

.deliveryEstimateContainer {
  padding: 0;
}

.no-touchevents a:hover .lazy-image.lazy-image--zoom-animation img {
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
}
.no-touchevents .collection-page a:hover .text-animation--underline-thin {
  background-size: 0;
}

.css-slider-container img:hover {
  border: 1px solid #c1c1c1;
}

.css-slider-container img {
  border: 1px solid #e0dfdf;
}

/* .collection-header__description {
  margin-bottom: 20px !important;
}
 */

.container--vertical-space-small.container--large__without-margin {
  padding-bottom: 1px !important;
}
.section-popular-categories .css-slider-container img {
  border: unset;
}

.deliveryEstimateContainerWrap.container--large,
.container--large.collection-page {
  position: static;
}

.deliveryEstimateContainerWrap .gutter-bottom--large {
  padding-bottom: 20px;
}

.deliveryEstimateError {
  color: #ff0000 !important;
  font-weight: bold;
  max-width: 290px;
}

.section-heading__subheading:hover {
  opacity: 1;
}
.section-heading__subheading a:hover {
  color: #000;
}

.collection-page.container--vertical-space-small {
  margin-bottom: clamp(2.5rem, var(--container-vertical-space), 4.375rem);
  margin-top: 2rem;
}

.deliveryEstimateDate {
  margin-bottom: -3.5rem;
  margin-top: 2rem;
}

.product-item #yotpoProductReviews {
  margin-bottom: 0;
  margin-top: 6px;
}

.section-heading__subheading a {
  border: 1px solid black;
  border-radius: 0.25rem;
  padding: 10px 22px;
}

.template-collection ._parent-box- .card__text {
  padding-bottom: 5rem;
}

.template-collection .css-slider-container {
  padding-bottom: 20px;
}

.blank-tank-top .container--vertical-space-small,
.blank-pocket-shirt .container--vertical-space-small {
  margin-top: 4.375rem;
}

/* @media (max-width: 390px) {
  .template-collection-blanks-home .collection-page .section-heading__text {
    max-width: 55%;
  }
} */
@media (max-width: 767px) {

    .blanksHome-collection_first .section-heading--one-row .section-heading__title{
    max-width: 50%;
  }
  
  .section-heading--one-row .section-heading__title{
    max-width: 100%;
  }
  
  .blank-tank-top .container--vertical-space-small,
  .blank-pocket-shirt .container--vertical-space-small {
    margin-top: 2.375rem;
  }

  .collection-page.container--vertical-space-small {
    margin-bottom: clamp(2.5rem, var(--container-vertical-space), 2.375rem);
  }

  .product-item__text .yotpo-sr-bottom-line-summary {
    flex-direction: row !important;
  }
  .deliveryEstimateDate {
    margin-bottom: -3.3rem;
  }
  .template-collection-blanks-home
    .container--vertical-space-small.container--large__without-top-margin {
    padding-top: 20px;
  }
  .template-collection-blanks-home .collection-page .section-heading__text {
    /* max-width: 60%; 
    position: absolute;
    z-index: -1;*/
  }
  .template-collection-blanks-home
    .collection-page
    .section-heading.section-heading--one-row {
    margin-bottom: 1.5rem;
  }
}
