.customTabelPlace {
  margin-bottom: 14px;
  margin-top: 18px;
  // border: 1px solid #000000ab;
  // border-radius: 8px;

  $Wrap: &;

  &Wrap {
    max-width: 100%;
    border-radius: 5px;
    padding-bottom: 0px;
    scrollbar-width: thin;
    color: #000000ab;

    &[hide-elite-col="true"] {
      .customTabelPlace__heading_4,
      .customTabelPlace__item_4 {
        display: none;
      }
      .customTabelPlace__heading_1,
      .customTabelPlace__heading_2,
      .customTabelPlace__heading_3,
      .customTabelPlace__heading_4,
      .customTabelPlace__item_1,
      .customTabelPlace__item_2,
      .customTabelPlace__item_3,
      .customTabelPlace__item_4 {
        max-width: calc(33.3333% - -2px) !important;
      }
      .customTabelPlace__heading_3::before {
        display: none;
      }
      .customTabelPlace__item_3 {
        border-right-color: transparent !important;
      }
    }

    &::-webkit-scrollbar {
      width: 0px;
      height: 8px;
    }

    &::-webkit-scrollbar-track {
      background-color: #ddd;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #666;
    }

    &__title {
      font-weight: bold;
      color: #000;
    }
  }

  &.rowList & {
    &__item {
      display: flex;
      align-items: center;
      $padding: 10px;
      $borderColor: gray;
      position: relative;
      z-index: 1;

      &.selected {
        .customTabelPlace__item_1,
        .customTabelPlace__item_2,
        .customTabelPlace__item_3,
        .customTabelPlace__item_4 {
          border-bottom-color: transparent;
        }
      }

      @media ( max-width: 600px ) {
        font-size: 0.8rem;
      }
      @media ( max-width: 355px ) {
        font-size: 0.75rem;
      }

      &:nth-last-child(1) {
      }

      &_1 {
        text-align: left;
        width: 100%;
        max-width: 25%;
        padding: $padding;
        border-bottom: 1px solid $borderColor;
        // border-right: 1px solid $borderColor;

        @media ( max-width: 600px ) {
          max-width: 25%;
        }

        @media ( max-width: 435px ) {
          max-width: 22%;
          padding: $padding #{ $padding - 3px };
        }
        @media ( max-width: 382px ) {
          padding: $padding #{ $padding - 5px };
        }
      }

      &_2 {
        text-align: left;
        color: #035293;
        width: 100%;
        max-width: 25%;
        padding: $padding;
        border-bottom: 1px solid $borderColor;
        // border-right: 1px solid $borderColor;
        font-weight: 600;

        @media ( max-width: 600px ) {
          max-width: 20%;
        }
        @media ( max-width: 435px ) {
          max-width: 22%;
          padding: $padding #{ $padding - 3px };
        }
        @media ( max-width: 382px ) {
          padding: $padding #{ $padding - 5px };
        }
        @media ( max-width: 365px ) {
          max-width: 20%;
        }
      }

      &_3 {
        text-align: left;
        width: 100%;
        max-width: 25%;
        padding: $padding;
        border-bottom: 1px solid $borderColor;
        // border-right: 1px solid $borderColor;

        @media ( max-width: 600px ) {
          max-width: 20%;
        }
        @media ( max-width: 445px ) {
          max-width: 21%;
        }
        @media ( max-width: 435px ) {
          max-width: 22%;
          padding: $padding #{ $padding - 3px };
        }
        @media ( max-width: 382px ) {
          padding: $padding #{ $padding - 5px };
        }
        @media ( max-width: 365px ) {
          max-width: 24%;
        }
      }

      &_4 {
        text-align: left;
        width: 100%;
        max-width: 25%;
        padding: $padding;
        border-bottom: 1px solid $borderColor;

        @media ( max-width: 600px ) {
          max-width: 35%;
        }
        @media ( max-width: 445px ) {
          max-width: 34%;
        }
        @media ( max-width: 435px ) {
          padding: $padding #{ $padding - 3px };
        }
        @media ( max-width: 382px ) {
          padding: $padding #{ $padding - 5px };
        }
      }

      &:last-child {
        &.selected {
          .customTabelPlace__item_1 {
            border-radius: 0 0 0 7px;
          }
          .customTabelPlace__item_4 {
            border-radius: 0 7px 0 0;
          }
        }
        .customTabelPlace__item_1,
        .customTabelPlace__item_2,
        .customTabelPlace__item_3,
        .customTabelPlace__item_4 {
          border-bottom: unset;
        }
      }
    }
  }

  &.rowList {
    #{ $Wrap }__heading {
      display: flex;
      align-items: center;
      border-radius: 7px 7px 0 0;
      $padding: 10px;
      font-weight: 600;

      @media ( max-width: 600px ) {
        font-size: 0.7rem;
      }
      @media ( max-width: 355px ) {
        font-size: 0.65rem;
      }
      mobile-hide {
        @media ( max-width: 600px ) {
          display: none;
        }
      }

      &_1 {
        width: 100%;
        max-width: 25%;
        padding: $padding;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          height: calc(100% + #{ $padding * 2 });
          width: 1px;
          // background-color: #000000ab;
          z-index: 1;
        }

        @media ( max-width: 600px ) {
          max-width: 25%;
        }
        @media ( max-width: 435px ) {
          max-width: 22%;
          padding: $padding #{ $padding - 3px };
        }
        @media ( max-width: 382px ) {
          padding: $padding #{ $padding - 5px };
        }
      }
      &_2,
      &_3 {
        width: 100%;
        max-width: 25%;
        padding: $padding;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          height: calc(100% + #{ $padding * 2 });
          width: 1px;
          // background-color: #000000ab;
          z-index: 1;
        }

        @media ( max-width: 600px ) {
          max-width: 20%;

          mobile-hide {
            display: none;
          }
        }
        @media ( max-width: 435px ) {
          max-width: 22%;
          padding: $padding #{ $padding - 3px };
        }
        @media ( max-width: 382px ) {
          padding: $padding #{ $padding - 5px };
        }
        @media ( max-width: 365px ) {
          max-width: 24%;
        }
      }
      &_2 {
        @media ( max-width: 365px ) {
          max-width: 20%;
        }
      }
      &_3 {
        @media ( max-width: 445px ) {
          max-width: 21%;
        }
        @media ( max-width: 435px ) {
          max-width: 22%;
        }
      }
      &_4 {
        width: 100%;
        max-width: 25%;
        padding: $padding;
        border-radius: 0 7px 0 0;

        a {
          color: #abe2ff;
        }

        .toolTip {
          &Wrap {
            position: relative;

            tooltip {
              position: absolute;
              bottom: calc(100% + 5px);
              width: max-content;
              height: auto;
              border: 1px solid #000;
              border-radius: 8px;
              padding: 10px 12px;
              background-color: #fff;
              color: #000;
              max-width: 300px;
              left: 50%;
              transform: translateX(-50%);
              opacity: 0;
              visibility: hidden;
              transition: 0.2s all ease-in-out;

              &::before {
                content: "";
                position: absolute;
                left: 50%;
                bottom: -8px;
                transform: translate(-50%) rotate(-45deg);
                width: 14px;
                height: 14px;
                border-bottom: 1px solid #000;
                border-left: 1px solid #000;
                background-color: #fff;
              }

              @media ( max-width: 600px ) {
                left: unset;
                transform: unset;
                right: -10px;

                &::before {
                  left: unset;
                  transform: rotate(-45deg);
                  right: 10px;
                }
              }

              @media ( max-width: 364px ) {
                max-width: 280px;
              }
            }
          }
          &IconIs {
            position: relative;
            top: 3px;
            cursor: pointer;

            &:hover {
              + tooltip {
                opacity: 1;
                visibility: visible;
              }
            }
          }
        }

        @media ( max-width: 600px ) {
          max-width: 35%;
        }
        @media ( max-width: 445px ) {
          max-width: 34%;
        }
        @media ( max-width: 435px ) {
          padding: $padding #{ $padding - 3px };
        }
        @media ( max-width: 382px ) {
          padding: $padding #{ $padding - 5px };
        }
      }
    }
  }

  &.colList {
    /*
    display: flex;
    justify-content: space-between;
    // gap: 8px;

    &.hide {
      display: none;
    }
    &[items="10"] {
      .customTabelPlace__item {
        width: 10%;
      }
    }
    &[items="9"] {
      .customTabelPlace__item {
        width: 11.1111%;
      }
    }
    &[items="8"] {
      .customTabelPlace__item {
        width: 12.5%;
      }
    }
    &[items="7"] {
      .customTabelPlace__item {
        width: 14.2857%;
      }
    }
    &[items="6"] {
      .customTabelPlace__item {
        width: 16.66666666666667%;
      }
    }
    &[items="5"] {
      .customTabelPlace__item {
        width: 20%;
      }
    }
    &[items="4"] {
      .customTabelPlace__item {
        width: 25%;
      }
    }
    &[items="3"] {
      .customTabelPlace__item {
        width: 33.333333%;
      }
    }
    &[items="2"] {
      .customTabelPlace__item {
        width: 50%;
      }
    }
    &[items="1"] {
      .customTabelPlace__item {
        width: 100%;
      }
    }
    */
  }

  &.colList & {
    /*
    &__item {
      display: grid;
      width: 20%;
      min-width: 90px;

      &.selected {
        background-color: #1dacf82b;
      }

      &_1 {
        text-align: left;
        font-weight: 600;
        border-bottom: 1px solid rgb(var(--color-foreground));
        padding: 8px;
        font-size: 13px;
      }

      &_2 {
        text-align: left;
        color: #03a3f7;
        padding: 1px 8px;
        font-size: 13px;
      }

      &_3 {
        text-align: left;
        padding: 1px 8px;
        font-size: 13px;
        font-weight: bold;
      }
    }
    */
  }
}

.customQtyFile {
  display: flex !important;
  gap: 10px;
  flex-wrap: wrap;
  row-gap: 5px;
  margin-top: 6px;

  @media ( max-width: 550px ) {
    gap: 10px;
  }

  &__title {
    width: 100%;
    // font-size: 0.8rem;
    font-weight: bold;
  }

  &__qty {
    border-radius: 8px;
    width: 100%;
    text-align: center;
    font-size: 18px;
    outline: none;
    box-shadow: none;
    border: 1px solid #333;
    padding: 12px;
    // box-shadow: 0 2px 8px #d8d8d8;

    @media ( max-width: 550px ) {
      border: 1px solid #d8d8d8;
    }

    &:active,
    &:focus {
      box-shadow: 0 0 5px #03a3f7;
    }
  }

  &__wrapper {
    width: 100%;
    max-width: 140px !important;
    border-radius: 8px;
    position: relative;
    // border: 1px solid transparent;

    &__minus,
    &__plus {
      border: none;
      width: 24px;
      height: 24px;
      outline: none;
      display: grid;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      position: absolute;
      border-radius: 999px;
      top: 50%;
      transform: translateY(-50%);

      svg {
        width: 14px;
      }
    }

    &__minus {
      left: 10px;
    }

    &__plus {
      right: 10px;
    }
  }

  &__selectedData {
    width: 100%;
    text-align: right;
    align-self: center;
    max-width: calc(33.33333% - 6px);

    &.percentage {
      color: #03a3f7;
      text-align: left;
      padding-left: 6px;
    }

    &.unitPrice {
      font-weight: bold;
      color: #000;
      max-width: calc(33.33333% - 8px);
      text-align: right;

      > span {
        text-align: left;
        display: inline-block;
        width: 100%;
        max-width: 100px;
      }
    }
  }

  &__upload {
    background-color: rgb(var(--color-foreground));
    color: #fff;
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
    padding: 6px 15px;
    border-radius: 8px;
    width: calc(100% - 121px);
    cursor: pointer;

    @media ( max-width: 450px ) {
      padding: 6px 4px;
      gap: 2px;
      width: calc(80% - 2px);
    }

    svg {
      max-width: 18px;
      max-height: 18px;
      fill: #fff;
    }
  }
}

.btnFullWidth {
  width: 100%;
}

.customTabelPlace__itemsWrap {
  position: relative;
}

.customTabelPlace__item:has( + .customTabelPlace__item.selected ) {
  .customTabelPlace__item_1,
  .customTabelPlace__item_2,
  .customTabelPlace__item_3,
  .customTabelPlace__item_4 {
    border-bottom-color: transparent;
  }
}
