.customTabelPlace {
  margin-bottom: 14px;
  margin-top: 18px;
}
.customTabelPlaceWrap {
  max-width: 100%;
  border-radius: 5px;
  padding-bottom: 0px;
  scrollbar-width: thin;
  color: rgba(0, 0, 0, 0.6705882353);
}
.customTabelPlaceWrap[hide-elite-col=true] .customTabelPlace__heading_4,
.customTabelPlaceWrap[hide-elite-col=true] .customTabelPlace__item_4 {
  display: none;
}
.customTabelPlaceWrap[hide-elite-col=true] .customTabelPlace__heading_1,
.customTabelPlaceWrap[hide-elite-col=true] .customTabelPlace__heading_2,
.customTabelPlaceWrap[hide-elite-col=true] .customTabelPlace__heading_3,
.customTabelPlaceWrap[hide-elite-col=true] .customTabelPlace__heading_4,
.customTabelPlaceWrap[hide-elite-col=true] .customTabelPlace__item_1,
.customTabelPlaceWrap[hide-elite-col=true] .customTabelPlace__item_2,
.customTabelPlaceWrap[hide-elite-col=true] .customTabelPlace__item_3,
.customTabelPlaceWrap[hide-elite-col=true] .customTabelPlace__item_4 {
  max-width: calc(33.3333% + 2px) !important;
}
.customTabelPlaceWrap[hide-elite-col=true] .customTabelPlace__heading_3::before {
  display: none;
}
.customTabelPlaceWrap[hide-elite-col=true] .customTabelPlace__item_3 {
  border-right-color: transparent !important;
}
.customTabelPlaceWrap::-webkit-scrollbar {
  width: 0px;
  height: 8px;
}
.customTabelPlaceWrap::-webkit-scrollbar-track {
  background-color: #ddd;
}
.customTabelPlaceWrap::-webkit-scrollbar-thumb {
  background-color: #666;
}
.customTabelPlaceWrap__title {
  font-weight: bold;
  color: #000;
}
.customTabelPlace.rowList .customTabelPlace__item {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
}
.customTabelPlace.rowList .customTabelPlace__item.selected .customTabelPlace__item_1,
.customTabelPlace.rowList .customTabelPlace__item.selected .customTabelPlace__item_2,
.customTabelPlace.rowList .customTabelPlace__item.selected .customTabelPlace__item_3,
.customTabelPlace.rowList .customTabelPlace__item.selected .customTabelPlace__item_4 {
  border-bottom-color: transparent;
}
@media (max-width: 600px) {
  .customTabelPlace.rowList .customTabelPlace__item {
    font-size: 0.8rem;
  }
}
@media (max-width: 355px) {
  .customTabelPlace.rowList .customTabelPlace__item {
    font-size: 0.75rem;
  }
}
.customTabelPlace.rowList .customTabelPlace__item_1 {
  text-align: left;
  width: 100%;
  max-width: 25%;
  padding: 10px;
  border-bottom: 1px solid gray;
}
@media (max-width: 600px) {
  .customTabelPlace.rowList .customTabelPlace__item_1 {
    max-width: 25%;
  }
}
@media (max-width: 435px) {
  .customTabelPlace.rowList .customTabelPlace__item_1 {
    max-width: 22%;
    padding: 10px 7px;
  }
}
@media (max-width: 382px) {
  .customTabelPlace.rowList .customTabelPlace__item_1 {
    padding: 10px 5px;
  }
}
.customTabelPlace.rowList .customTabelPlace__item_2 {
  text-align: left;
  color: #035293;
  width: 100%;
  max-width: 25%;
  padding: 10px;
  border-bottom: 1px solid gray;
  font-weight: 600;
}
@media (max-width: 600px) {
  .customTabelPlace.rowList .customTabelPlace__item_2 {
    max-width: 20%;
  }
}
@media (max-width: 435px) {
  .customTabelPlace.rowList .customTabelPlace__item_2 {
    max-width: 22%;
    padding: 10px 7px;
  }
}
@media (max-width: 382px) {
  .customTabelPlace.rowList .customTabelPlace__item_2 {
    padding: 10px 5px;
  }
}
@media (max-width: 365px) {
  .customTabelPlace.rowList .customTabelPlace__item_2 {
    max-width: 20%;
  }
}
.customTabelPlace.rowList .customTabelPlace__item_3 {
  text-align: left;
  width: 100%;
  max-width: 25%;
  padding: 10px;
  border-bottom: 1px solid gray;
}
@media (max-width: 600px) {
  .customTabelPlace.rowList .customTabelPlace__item_3 {
    max-width: 20%;
  }
}
@media (max-width: 445px) {
  .customTabelPlace.rowList .customTabelPlace__item_3 {
    max-width: 21%;
  }
}
@media (max-width: 435px) {
  .customTabelPlace.rowList .customTabelPlace__item_3 {
    max-width: 22%;
    padding: 10px 7px;
  }
}
@media (max-width: 382px) {
  .customTabelPlace.rowList .customTabelPlace__item_3 {
    padding: 10px 5px;
  }
}
@media (max-width: 365px) {
  .customTabelPlace.rowList .customTabelPlace__item_3 {
    max-width: 24%;
  }
}
.customTabelPlace.rowList .customTabelPlace__item_4 {
  text-align: left;
  width: 100%;
  max-width: 25%;
  padding: 10px;
  border-bottom: 1px solid gray;
}
@media (max-width: 600px) {
  .customTabelPlace.rowList .customTabelPlace__item_4 {
    max-width: 35%;
  }
}
@media (max-width: 445px) {
  .customTabelPlace.rowList .customTabelPlace__item_4 {
    max-width: 34%;
  }
}
@media (max-width: 435px) {
  .customTabelPlace.rowList .customTabelPlace__item_4 {
    padding: 10px 7px;
  }
}
@media (max-width: 382px) {
  .customTabelPlace.rowList .customTabelPlace__item_4 {
    padding: 10px 5px;
  }
}
.customTabelPlace.rowList .customTabelPlace__item:last-child.selected .customTabelPlace__item_1 {
  border-radius: 0 0 0 7px;
}
.customTabelPlace.rowList .customTabelPlace__item:last-child.selected .customTabelPlace__item_4 {
  border-radius: 0 7px 0 0;
}
.customTabelPlace.rowList .customTabelPlace__item:last-child .customTabelPlace__item_1,
.customTabelPlace.rowList .customTabelPlace__item:last-child .customTabelPlace__item_2,
.customTabelPlace.rowList .customTabelPlace__item:last-child .customTabelPlace__item_3,
.customTabelPlace.rowList .customTabelPlace__item:last-child .customTabelPlace__item_4 {
  border-bottom: unset;
}
.customTabelPlace.rowList .customTabelPlace__heading {
  display: flex;
  align-items: center;
  border-radius: 7px 7px 0 0;
  font-weight: 600;
}
@media (max-width: 600px) {
  .customTabelPlace.rowList .customTabelPlace__heading {
    font-size: 0.7rem;
  }
}
@media (max-width: 355px) {
  .customTabelPlace.rowList .customTabelPlace__heading {
    font-size: 0.65rem;
  }
}
@media (max-width: 600px) {
  .customTabelPlace.rowList .customTabelPlace__heading mobile-hide {
    display: none;
  }
}
.customTabelPlace.rowList .customTabelPlace__heading_1 {
  width: 100%;
  max-width: 25%;
  padding: 10px;
  position: relative;
}
.customTabelPlace.rowList .customTabelPlace__heading_1::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: calc(100% + 20px);
  width: 1px;
  z-index: 1;
}
@media (max-width: 600px) {
  .customTabelPlace.rowList .customTabelPlace__heading_1 {
    max-width: 25%;
  }
}
@media (max-width: 435px) {
  .customTabelPlace.rowList .customTabelPlace__heading_1 {
    max-width: 22%;
    padding: 10px 7px;
  }
}
@media (max-width: 382px) {
  .customTabelPlace.rowList .customTabelPlace__heading_1 {
    padding: 10px 5px;
  }
}
.customTabelPlace.rowList .customTabelPlace__heading_2, .customTabelPlace.rowList .customTabelPlace__heading_3 {
  width: 100%;
  max-width: 25%;
  padding: 10px;
  position: relative;
}
.customTabelPlace.rowList .customTabelPlace__heading_2::before, .customTabelPlace.rowList .customTabelPlace__heading_3::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: calc(100% + 20px);
  width: 1px;
  z-index: 1;
}
@media (max-width: 600px) {
  .customTabelPlace.rowList .customTabelPlace__heading_2, .customTabelPlace.rowList .customTabelPlace__heading_3 {
    max-width: 20%;
  }
  .customTabelPlace.rowList .customTabelPlace__heading_2 mobile-hide, .customTabelPlace.rowList .customTabelPlace__heading_3 mobile-hide {
    display: none;
  }
}
@media (max-width: 435px) {
  .customTabelPlace.rowList .customTabelPlace__heading_2, .customTabelPlace.rowList .customTabelPlace__heading_3 {
    max-width: 22%;
    padding: 10px 7px;
  }
}
@media (max-width: 382px) {
  .customTabelPlace.rowList .customTabelPlace__heading_2, .customTabelPlace.rowList .customTabelPlace__heading_3 {
    padding: 10px 5px;
  }
}
@media (max-width: 365px) {
  .customTabelPlace.rowList .customTabelPlace__heading_2, .customTabelPlace.rowList .customTabelPlace__heading_3 {
    max-width: 24%;
  }
}
@media (max-width: 365px) {
  .customTabelPlace.rowList .customTabelPlace__heading_2 {
    max-width: 20%;
  }
}
@media (max-width: 445px) {
  .customTabelPlace.rowList .customTabelPlace__heading_3 {
    max-width: 21%;
  }
}
@media (max-width: 435px) {
  .customTabelPlace.rowList .customTabelPlace__heading_3 {
    max-width: 22%;
  }
}
.customTabelPlace.rowList .customTabelPlace__heading_4 {
  width: 100%;
  max-width: 25%;
  padding: 10px;
  border-radius: 0 7px 0 0;
}
.customTabelPlace.rowList .customTabelPlace__heading_4 a {
  color: #abe2ff;
}
.customTabelPlace.rowList .customTabelPlace__heading_4 .toolTipWrap {
  position: relative;
}
.customTabelPlace.rowList .customTabelPlace__heading_4 .toolTipWrap tooltip {
  position: absolute;
  bottom: calc(100% + 5px);
  width: -moz-max-content;
  width: max-content;
  height: auto;
  border: 1px solid #000;
  border-radius: 8px;
  padding: 10px 12px;
  background-color: #fff;
  color: #000;
  max-width: 300px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
  transition: 0.2s all ease-in-out;
}
.customTabelPlace.rowList .customTabelPlace__heading_4 .toolTipWrap tooltip::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -8px;
  transform: translate(-50%) rotate(-45deg);
  width: 14px;
  height: 14px;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
  background-color: #fff;
}
@media (max-width: 600px) {
  .customTabelPlace.rowList .customTabelPlace__heading_4 .toolTipWrap tooltip {
    left: unset;
    transform: unset;
    right: -10px;
  }
  .customTabelPlace.rowList .customTabelPlace__heading_4 .toolTipWrap tooltip::before {
    left: unset;
    transform: rotate(-45deg);
    right: 10px;
  }
}
@media (max-width: 364px) {
  .customTabelPlace.rowList .customTabelPlace__heading_4 .toolTipWrap tooltip {
    max-width: 280px;
  }
}
.customTabelPlace.rowList .customTabelPlace__heading_4 .toolTipIconIs {
  position: relative;
  top: 3px;
  cursor: pointer;
}
.customTabelPlace.rowList .customTabelPlace__heading_4 .toolTipIconIs:hover + tooltip {
  opacity: 1;
  visibility: visible;
}
@media (max-width: 600px) {
  .customTabelPlace.rowList .customTabelPlace__heading_4 {
    max-width: 35%;
  }
}
@media (max-width: 445px) {
  .customTabelPlace.rowList .customTabelPlace__heading_4 {
    max-width: 34%;
  }
}
@media (max-width: 435px) {
  .customTabelPlace.rowList .customTabelPlace__heading_4 {
    padding: 10px 7px;
  }
}
@media (max-width: 382px) {
  .customTabelPlace.rowList .customTabelPlace__heading_4 {
    padding: 10px 5px;
  }
}
.customTabelPlace.colList {
  /*
  display: flex;
  justify-content: space-between;
  // gap: 8px;

  &.hide {
    display: none;
  }
  &[items="10"] {
    .customTabelPlace__item {
      width: 10%;
    }
  }
  &[items="9"] {
    .customTabelPlace__item {
      width: 11.1111%;
    }
  }
  &[items="8"] {
    .customTabelPlace__item {
      width: 12.5%;
    }
  }
  &[items="7"] {
    .customTabelPlace__item {
      width: 14.2857%;
    }
  }
  &[items="6"] {
    .customTabelPlace__item {
      width: 16.66666666666667%;
    }
  }
  &[items="5"] {
    .customTabelPlace__item {
      width: 20%;
    }
  }
  &[items="4"] {
    .customTabelPlace__item {
      width: 25%;
    }
  }
  &[items="3"] {
    .customTabelPlace__item {
      width: 33.333333%;
    }
  }
  &[items="2"] {
    .customTabelPlace__item {
      width: 50%;
    }
  }
  &[items="1"] {
    .customTabelPlace__item {
      width: 100%;
    }
  }
  */
}
.customTabelPlace.colList .customTabelPlace {
  /*
  &__item {
    display: grid;
    width: 20%;
    min-width: 90px;

    &.selected {
      background-color: #1dacf82b;
    }

    &_1 {
      text-align: left;
      font-weight: 600;
      border-bottom: 1px solid rgb(var(--color-foreground));
      padding: 8px;
      font-size: 13px;
    }

    &_2 {
      text-align: left;
      color: #03a3f7;
      padding: 1px 8px;
      font-size: 13px;
    }

    &_3 {
      text-align: left;
      padding: 1px 8px;
      font-size: 13px;
      font-weight: bold;
    }
  }
  */
}

.customQtyFile {
  display: flex !important;
  gap: 10px;
  flex-wrap: wrap;
  row-gap: 5px;
  margin-top: 6px;
}
@media (max-width: 550px) {
  .customQtyFile {
    gap: 10px;
  }
}
.customQtyFile__title {
  width: 100%;
  font-weight: bold;
}
.template-product-supplies .customQtyFile__title,
.template-product-consumables .customQtyFile__title,
.template-product-powder .customQtyFile__title,
.template-product-ink .customQtyFile__title,
.template-product-heat-press-product .customQtyFile__title {
  width: 100%;
  font-weight: 600;
  font-size: 14.0625px;
  margin-bottom: 0.625rem;
}
@media (max-width: 768px) {
  .template-product-supplies .customQtyFile__title,
  .template-product-consumables .customQtyFile__title,
  .template-product-powder .customQtyFile__title,
  .template-product-ink .customQtyFile__title,
  .template-product-heat-press-product .customQtyFile__title {
    font-size: 13.125px;
  }
}
@media (max-width: 467px) {
  .template-product-supplies .customQtyFile__title,
  .template-product-consumables .customQtyFile__title,
  .template-product-powder .customQtyFile__title,
  .template-product-ink .customQtyFile__title,
  .template-product-heat-press-product .customQtyFile__title {
    font-size: 12.1875px;
  }
}
.template-product-supplies .customQtyFile,
.template-product-consumables .customQtyFile,
.template-product-powder .customQtyFile,
.template-product-ink .customQtyFile,
.template-product-heat-press-product .customQtyFile {
  row-gap: 0;
}
.customQtyFile__qty {
  border-radius: 8px;
  width: 100%;
  text-align: center;
  font-size: 18px;
  outline: none;
  box-shadow: none;
  border: 1px solid #333;
  padding: 12px;
}
@media (max-width: 550px) {
  .customQtyFile__qty {
    border: 1px solid #d8d8d8;
  }
}
.customQtyFile__qty:active, .customQtyFile__qty:focus {
  box-shadow: 0 0 5px #03a3f7;
}
.customQtyFile__wrapper {
  width: 100%;
  max-width: 140px !important;
  border-radius: 8px;
  position: relative;
}
.customQtyFile__wrapper__minus, .customQtyFile__wrapper__plus {
  border: none;
  width: 24px;
  height: 24px;
  outline: none;
  display: grid;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  border-radius: 999px;
  top: 50%;
  transform: translateY(-50%);
}
.customQtyFile__wrapper__minus svg, .customQtyFile__wrapper__plus svg {
  width: 14px;
}
.customQtyFile__wrapper__minus {
  left: 10px;
}
.customQtyFile__wrapper__plus {
  right: 10px;
}
.customQtyFile__selectedData {
  width: 100%;
  text-align: right;
  align-self: center;
  max-width: calc(33.33333% - 6px);
}
.customQtyFile__selectedData.percentage {
  color: #03a3f7;
  text-align: left;
  padding-left: 6px;
}
.customQtyFile__selectedData.unitPrice {
  font-weight: bold;
  color: #000;
  max-width: calc(33.33333% - 8px);
  text-align: right;
}
.customQtyFile__selectedData.unitPrice > span {
  text-align: left;
  display: inline-block;
  width: 100%;
  max-width: 100px;
}
.customQtyFile__upload {
  background-color: rgb(var(--color-foreground));
  color: #fff;
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
  padding: 6px 15px;
  border-radius: 8px;
  width: calc(100% - 121px);
  cursor: pointer;
}
@media (max-width: 450px) {
  .customQtyFile__upload {
    padding: 6px 4px;
    gap: 2px;
    width: calc(80% - 2px);
  }
}
.customQtyFile__upload svg {
  max-width: 18px;
  max-height: 18px;
  fill: #fff;
}

.btnFullWidth {
  width: 100%;
}

.customTabelPlace__itemsWrap {
  position: relative;
}

.customTabelPlace__item:has(+ .customTabelPlace__item.selected) .customTabelPlace__item_1,
.customTabelPlace__item:has(+ .customTabelPlace__item.selected) .customTabelPlace__item_2,
.customTabelPlace__item:has(+ .customTabelPlace__item.selected) .customTabelPlace__item_3,
.customTabelPlace__item:has(+ .customTabelPlace__item.selected) .customTabelPlace__item_4 {
  border-bottom-color: transparent;
}
