.font12{font-size:12px;}
.font14{font-size:14px;}
.customTabelPopup__overlay img{max-width:100%;}
.lnk_activecolor{color:#03a3f7}
.posrel{position:relative;}
.btngroup4 > .fctrl{margin-right:4px;}
.btngroup8 > .fctrl{margin-right:8px;}
.btngroup4 > .fctrl.last,.btngroup8 > .fctrl.last{margin-right:0px;}
.fctrlimg{line-height:0;}
.align-item-center{align-items:center;}
.text-center{text-align:center;}

.loyalty-box{grid-area:loyaltybox;}
.loyalty-box > a{display:flex;align-items:center;}
.loyalty-box .reward-belt-classes{display:grid; gap:1px;}
.loyalty-box .loyalty-icon{flex-shrink: 0; flex-grow: 1; display: flex; align-items:center; width: 80px; height: 80px;}
.loyalty-box .non-login .loyalty-icon{width:50px; height:50px;}
.loyalty-box .non-login .loyalty-icon img{max-width:100%; max-height:100%;}
.loyalty-box .reward-icon-wrap{margin-right:0px; font-size:8px; text-align:center;}
.loyalty-box .reward-icon-wrap .reward-ttext{display:block; margin-top:-2px;}
.header__top{gap:35px}

/**########  Select ##########*/
._select{position: relative; display:block; border: solid 1px #e5e5e5; border-radius: var(--border-radius-forms);}
._select select{ width:100%; border:0; background: #fff;}
._select:after{background: #fff url('https://cdn.shopify.com/s/files/1/0558/0265/8899/files/dropdown-arr.png?v=1734488285') no-repeat center;position: absolute;width:32px;top: 1px;content: "";right: 1px;text-align: center;bottom: 1px; border-top-right-radius: 3px; border-bottom-right-radius: 3px; pointer-events: none;}
._select select{ -webkit-appearance: none; -moz-appearance: none; text-indent: 1px; text-overflow: '';}
._select select::-ms-expand{ display:none;}



/********** Custom Hide Show Function CSS  **********/
input.popupinput{position:absolute; top:0; left:0;display:none; z-index: -1;}
.lblctrl{cursor:pointer; z-index:3; margin-bottom: 0;}
input.popupinput:checked + ._lbcactivelabel > ._hideshowlbl,input.popupinput + ._lbcactivelabel > ._hideshowlbl + ._hideshowlbl{display:none;}
input.popupinput:checked + ._lbcactivelabel > ._hideshowlbl + ._hideshowlbl{display:inline-block;}
input.popupinput + .hiddenctrl + .posfixed,input.popupinput + .hiddenctrl,input.popupinput + ._lbcactivelabel + .hiddenctrl{display:none;}
input.popupinput:checked + .hiddenctrl,input.popupinput:checked + ._lbcactivelabel + .hiddenctrl{display:block;z-index:99997;}
input.popupinput:checked + .hiddenctrl + .posfixed,.\:cusdropdown input[type="checkbox"]:checked + .cusdropdown_ctrl + .dropdownlst + .posfixed,.screenfixed,input.popupinput:checked + ._lbcactivelabel + .hiddenctrl + .posfixed{position:fixed; z-index:99996;display:block;}

/******** Custom Checkbox CSS ***************/
.checkbox-input.checkbox-inline { display:inline-block; margin-left:0; margin-bottom:10px; margin-right:20px;}
.checkbox-input {position:relative; display:block; padding-left:28px; line-height:22px;}
.checkbox-input input[type=checkbox],.checkbox-input input[type=radio]{display: none;}
.checkbox-input i{-webkit-transition: border-color .28s ease; border-radius: 2px; -moz-border-radius: 2px; -webkit-border-radius: 2px; color: #cccccc; left: 0; top: 2px; transition: border-color .28s ease; height: 20px; width: 20px; z-index: 0; border: 1px solid; position: absolute;}
.checkbox-input i:after,.checkbox-input i:before {height: 0; width: 2px; background: #fff; transform-origin: left top; border-radius: 2px; -moz-border-radius: 2px; -webkit-border-radius: 2px; content: ""; opacity: 0; position: absolute;}
.checkbox-input i:before{transform: rotate(-138deg);}
.checkbox-input i:after{transform: rotate(-45deg);}
.checkbox-input input[type=checkbox]:checked + label i,.checkbox-input input[type=radio]:checked + label i{background-color: #03a3f7; border-color:#03a3f7;}
.checkbox-input input[type=checkbox]:checked + label i:before,.checkbox-input input[type=radio]:checked + label i:before{height: 12px; opacity: 1; transition-delay: .28s; transition: height .28s ease; top: 12px; left: 6px;}
.checkbox-input input[type=checkbox]:checked + label i:after,.checkbox-input input[type=radio]:checked + label i:after {-webkit-transition: height .28s ease; height: 6px; opacity: 1; transition: height .28s ease; top: 7px; left:1px; transform: rotate(-45deg);}

/** For outside checkbox **/
.checkbox-field[type=checkbox]:checked + .checkbox-input label i,.checkbox-field[type=checkbox]:checked + .checkbox-input label i{background-color: #03a3f7; border-color:#03a3f7;}
.checkbox-field[type=checkbox]:checked + .checkbox-input label i:before,.checkbox-field[type=checkbox]:checked + .checkbox-input label i:before{opacity: 1; transition-delay: .28s; transition: height .28s ease; height: 14px; top: 15px; left: 8px;}
.checkbox-field[type=checkbox]:checked + .checkbox-input label i:after,.checkbox-field[type=checkbox]:checked + .checkbox-input label i:after {-webkit-transition: height .28s ease; opacity: 1; transition: height .28s ease; height: 7px; top: 10px; left: 3px; transform: rotate(-45deg);}


.d-inline {display: inline !important;}
.d-inline-block {display: inline-block !important;}
.d-block {display: block !important;}
.d-grid {display: grid !important;}
.d-table {display: table !important;}
.d-table-row {display: table-row !important;}
.d-table-cell {display: table-cell !important;}
.d-flex {display: flex !important;}
.d-inline-flex {display: inline-flex !important;}
.d-none {display: none !important;}
.site-header .logo{flex-shrink:0;}
@media screen and (max-width: 576px){
  .xs-mrg16{margin-top:16px;}
  .xs-mrg8{margin-top:8px;}
  div.header__top--logo-left{grid-template-areas:"menu logo bell search sigup custom-icon cart" !important; grid-template-columns:min-content auto repeat(5, minmax(max-content, 25px)) !important;}
  .header__top{gap:9px}
  .site-header .logo{width:115px; justify-content:flex-start;}
  .yotpo-vip-tiers-widget .yotpo-vip-tiers-progress-bar-wrapper{margin:0 !important;}
  .yotpo-vip-tiers-widget .yotpo-vip-tiers-progress-bar-wrapper.yotpo-mobile{width:100% !important;}
}

@media (min-width: 576px) {
  #header-top .atomato-bell-wrap {display: none;}
  .yotpo-vip-tiers-widget .yotpo-vip-tiers-progress-bar-wrapper{margin:0 !important;}
  .yotpo-vip-tiers-widget .yotpo-vip-tiers-progress-bar-wrapper.yotpo-mobile{width:100% !important;}
  .yotpo-widget{width:88%;}
  .yotpo-customer-preview-minimized{max-width:100%;}
  div.header__top--logo-left{grid-template-areas:"logo search loyaltybox sigup custom-icon cart menu" !important; grid-template-columns:auto repeat( 6, minmax(max-content, 25px)) !important;}
  .header__top{gap:10px}
  .site-header .logo{width:115px;}
  .d-sm-inline {
    display: inline !important;
  }

  .d-sm-inline-block {
    display: inline-block !important;
  }

  .d-sm-block {
    display: block !important;
  }

  .d-sm-grid {
    display: grid !important;
  }

  .d-sm-table {
    display: table !important;
  }

  .d-sm-table-row {
    display: table-row !important;
  }

  .d-sm-table-cell {
    display: table-cell !important;
  }

  .d-sm-flex {
    display: flex !important;
  }

  .d-sm-inline-flex {
    display: inline-flex !important;
  }

  .d-sm-none {
    display: none !important;
  }
}
@media (min-width: 768px) {
  .orangeGroupBtn{width:35px; background:#F3F3F3;}
  .orangeGroupBtn {height: 100%; position: absolute; right: 0; border-radius: 0 8px 8px 0; top:0;}
  .login-box{grid-area:login-box;}
  div.header__top--logo-left{grid-template-areas:"logo loyaltybox custom-icon login-box cart menu" !important; grid-template-columns:auto repeat( 5, minmax(max-content, 15px)) !important; height:85px !important; gap:15px;}
  .header_redesign{width:100%; grid-column-gap: 25px; grid-template-columns: 184px auto;}
  .headerCustomSearchBar search-form{background:#F3F3F3; border-radius:var(--border-radius-forms); margin-right: 0px; width:100%;} 
  .header__top{gap:15px}
  .site-header .logo{width:100%;}
  .site-header .logo .logo-img{width:100%; width:127px; flex-shrink:0;}
  .d-md-inline {
    display: inline !important;
  }

  .d-md-inline-block {
    display: inline-block !important;
  }

  .d-md-block {
    display: block !important;
  }

  .d-md-grid {
    display: grid !important;
  }

  .d-md-table {
    display: table !important;
  }

  .d-md-table-row {
    display: table-row !important;
  }

  .d-md-table-cell {
    display: table-cell !important;
  }

  .d-md-flex {
    display: flex !important;
  }

  .d-md-inline-flex {
    display: inline-flex !important;
  }

  .d-md-none {
    display: none !important;
  }
}
@media (min-width: 992px) {
  .layalty-hoverbox .loyalty-hover-innerbox {width: 300px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
}
  .layalty-hoverbox.accountpage .loyalty-hover-innerbox{width:450px;}
  .yotpo-vip-tiers-widget .yotpo-vip-tiers-progress-bar-wrapper{width:100%;}
  .layalty-hoverbox .yotpo-vip-tiers-widget .yotpo-vip-tiers-progress-bar-wrapper{display:block;}
  .layalty-hoverbox .yotpo-vip-tiers-widget  .yotpo-vip-tiers-progress-bar-summary{padding-bottom:24px;}
  .site-header .logo .logo-img{width:auto;}
  div.header__top--logo-left {
     grid-template-areas: "logo loyaltybox custom-icon login-box cart menu"!important; grid-template-columns: auto repeat(5,minmax(max-content,15px))!important; gap:20px
  }
  .header_redesign .headerCustomSearchBar search-form{margin-right: 0px; width:85%;}
  .header_redesign{grid-column-gap: 48px;}
  .site-header .logo{width:100%;}
  .header__top{gap:30px}
  .d-lg-inline {
    display: inline !important;
  }

  .d-lg-inline-block {
    display: inline-block !important;
  }

  .d-lg-block {
    display: block !important;
  }

  .d-lg-grid {
    display: grid !important;
  }

  .d-lg-table {
    display: table !important;
  }

  .d-lg-table-row {
    display: table-row !important;
  }

  .d-lg-table-cell {
    display: table-cell !important;
  }

  .d-lg-flex {
    display: flex !important;
  }

  .d-lg-inline-flex {
    display: inline-flex !important;
  }

  .d-lg-none {
    display: none !important;
  }
}

@media (min-width: 1024px) {
  div.header__top--logo-left {
    grid-template-areas: "logo loyaltybox custom-icon login-box cart"!important; grid-template-columns: auto repeat(4,minmax(max-content,20px))!important;
    height: calc(var(--header-logo) + 30px) !important;
  }
}

@media (min-width: 1200px) {
  div.header__top--logo-left {
    grid-template-areas: "logo loyaltybox custom-icon login-box cart"!important; grid-template-columns: auto repeat(4,minmax(max-content,25px))!important;
  }
  .header_redesign .headerCustomSearchBar search-form{min-width:300px; width:60%;}
  .d-xl-inline {
    display: inline !important;
  }

  .d-xl-inline-block {
    display: inline-block !important;
  }

  .d-xl-block {
    display: block !important;
  }

  .d-xl-grid {
    display: grid !important;
  }

  .d-xl-table {
    display: table !important;
  }

  .d-xl-table-row {
    display: table-row !important;
  }

  .d-xl-table-cell {
    display: table-cell !important;
  }

  .d-xl-flex {
    display: flex !important;
  }

  .d-xl-inline-flex {
    display: inline-flex !important;
  }

  .d-xl-none {
    display: none !important;
  }
}

@media (min-width: 1400px) {
  .header_redesign .headerCustomSearchBar search-form{margin-right: 0px; min-width: 400px; width:60%;}
  .float-xxl-start {
    float: left !important;
  }

  .float-xxl-end {
    float: right !important;
  }

  .float-xxl-none {
    float: none !important;
  }

  .d-xxl-inline {
    display: inline !important;
  }

  .d-xxl-inline-block {
    display: inline-block !important;
  }

  .d-xxl-block {
    display: block !important;
  }

  .d-xxl-grid {
    display: grid !important;
  }

  .d-xxl-table {
    display: table !important;
  }

  .d-xxl-table-row {
    display: table-row !important;
  }

  .d-xxl-table-cell {
    display: table-cell !important;
  }

  .d-xxl-flex {
    display: flex !important;
  }

  .d-xxl-inline-flex {
    display: inline-flex !important;
  }

  .d-xxl-none {
    display: none !important;
  }
}
@media (max-width: 768px) {
  .d-none.yellow-belt,
  .d-none.white-belt,
  .d-none.black-belt,
  .d-none.blue-belt {
    margin-bottom: 0;
  }
}