/*TODO*/
/*mobile*/
#generative-ai-dialog {
  width: 800px;
  max-height: 47%;
  max-height: 80%;
  padding: 20px 20px 0;
  border: none;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.55);
  background: white;
  overflow-y: auto;
  z-index: 9999;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
}
#generative-ai-dialog::backdrop {
  display: none;
}

#generative-ai-dialog > header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  padding-bottom: 15px;
  font-size: 1.5rem;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
}

#generative-ai-dialog > header > div {
  display: flex;
  align-items: center;
  gap: 10px;
}

#generative-ai-dialog > header > button {
  background: none;
  border: none;
  cursor: pointer;
  color: #666;
}

#generative-ai-dialog > form {
  display: flex;
  margin-bottom: 15px;
}

#generative-ai-dialog > form > input[type="search"] {
  flex: 1;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  appearance: searchfield;
}

#generative-ai-dialog > form > input[type=search]::-webkit-search-cancel-button {
  appearance: searchfield-cancel-button;
}

#generative-ai-dialog > form > button[type="submit"] {
  display: flex;
  gap: 5px;
  align-items: center;
  color: white;
  padding: 10px 15px;
  font-size: 1rem;
  cursor: pointer;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  background: linear-gradient(0.25turn, #FD0074, #46AAE3);
}

#generative-ai-dialog > form[disabled="disabled"] {
  opacity: 0.2;
  pointer-events: none;
}


#generative-ai-dialog-loader {
  display: none;
  justify-content: center;
}

#generative-ai-dialog-loader.show {
  display: flex;
}

#generative-ai-tips > header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-bottom: 16px;
  font-size: 1.1rem;
  font-weight: 700;
}

#generative-ai-tips > header > div:first-child {
  padding: 5px 10px;
  border-radius: 6px;
  background-color: #fd0074;
}

#generative-ai-tips > div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  padding: 25px;
  border-radius: 6px;
  background-color: #eee;
}

#generative-ai-generating {
  text-align: center;
}

#generative-ai-tips em {
  color: #484848;
  font-size: 0.9rem;
}

#generative-ai-images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

#generative-ai-images > figure {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

#generative-ai-images > figure > figcaption {
  color: #42a9de;
  text-align: center;
}

#generative-ai-images > figure > img {
  width: 100%;
}

.generative-ai-area {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 175px;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid #fd0074;
  border-radius: 12px;
  background-color: #ffe2ef;
}

.generative-ai-area:hover {
  box-shadow: 0 0 10px #fd0074;
}

/* .generativeAItips {
	display: grid;
	grid-template-columns: auto;
	gap: 25px;
	padding: 0px;
	border-radius: 6px;
} */
.generativeAItips .examplePrompt {
	grid-template-columns: auto !important;
	padding: 0 !important;
	background-color: #fff !important;
}
.generativeAItips img {
  max-width: 100%;
  mix-blend-mode: multiply;
}
.generativeAItips hr {
	border-top: 0;
	border-color: gray;
}
.generativeAItips .exampleOutput {
  grid-template-columns: repeat(3, 1fr) !important;
  background-color: #fff !important;
  padding: 0 !important;
  overflow: hidden;
}
.generativeAItips .examplePrompt .examplePrompt__desktop {
  display: block;
}
.generativeAItips .examplePrompt .examplePrompt__mobile {
  display: none;
}
@media (max-width: 768px) {
  #generative-ai-tips.generativeAItips .exampleOutput {
    grid-template-columns: repeat(3, 1fr) !important;
    gap: 10px !important;
  }
}
@media (max-width: 500px) {
  #generative-ai-tips.generativeAItips .exampleOutput {
    grid-template-columns: repeat(3, 1fr) !important;
    gap: 10px !important;
  }
  .generativeAItips .examplePrompt .examplePrompt__desktop,
  #generative-ai-tips.generativeAItips .exampleOutput .exampleOutput__item[item="4"],
  #generative-ai-tips.generativeAItips .exampleOutput .exampleOutput__item[item="5"] {
    display: none;
  }
  .generativeAItips .examplePrompt .examplePrompt__mobile {
    display: block;
    width: 100%;
  }
}
.generativeAItips .exampleOutput .exampleOutput__item {
  background-color: #eaeaea;
  border-radius: 0px;
}
.generativeAItips .exampleOutput .exampleOutput__item img {
	object-fit: cover;
	object-position: center;
	width: 100%;
	max-width: 100%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
body:has(#generative-ai-dialog[open]) {
  overflow: hidden;
}