.getStarted {
  padding-top: 48px;
  padding-bottom: 48px;

  &__title {
    font-size: 64px;
    font-weight: 500;
    max-width: 746px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: #fff;

    @media ( max-width: 768px ) {
      font-size: 48px;
      max-width: 100%;
    }
  }

  &__content {
    max-width: 590px;
    margin-right: auto;
    margin-left: auto;
    color: #a3a3a3;
    font-size: 24px;
    margin-top: 24px;
    text-align: center;
  }

  &__cta {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-left: auto;
    margin-right: auto;
    max-width: max-content;

    @media ( max-width: 768px ) {
      gap: 0;
      flex-wrap: wrap;
    }
  }

  &__btn {
    background-color: #019aff;
    padding: 12px 24px;
    border-radius: 999px;
    display: flex;
    align-items: center;
    gap: 8px;
    max-width: max-content;
    margin-top: 24px;
  }

  &__iconText {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    max-width: max-content;
  }

  &__iconItem {
    display: flex;
    align-items: center;
    gap: 20px;
    color: #fff;
    width: max-content;
  }
}
