.multiupload-popup-left .xzoom{
  min-width: 100px;
}
.split_design.disabled,
.flex-buttons.is-disabled{
  opacity:0.7  !important;
  pointer-events:none !important;
}
.customTabelPopup__overlay-8{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.4431372549);
  display: grid;
  align-items: center;
  overflow: auto;
}

.customTabelPopup__overlay-8 .customTabelPopup {
  position: relative;
  width: 98%;
  max-width: 1100px;
  background-color: #fff;
  z-index: 1;
  padding: 0px;
  border-radius: 8px;
  margin: 40px auto;
  border-radius: 8px;
}
@media (max-width: 600px) {
 .customTabelPopup__overlay-8 .customTabelPopup {
    padding: 0px;
  }
}
.customTabelPopup__overlay-8 .customTabelPopup__close {
  cursor: pointer;
  right: 10px;
  position: absolute;
  top: 10px;
  margin-left:unset;
}
.customTabelPopup__overlay-8 .customTabelPopup__close svg{
      stroke-width: 3px;
}
product-variants .product-variant__item.product-variant__item--radio,
                  variant-radios .form__label,
                  product-variants .product-variants .product-variant[option="2"],
                  variant-selects {
                  display: none;
                  }
                  product-variants .product-variant__item.product-variant__item--radio[min=""] {
                  display: inline-block;
                  }
.multiupload-popup {
  display: flex;
  min-height: 100%;
}
.multiupload-popup .multiupload-popup-left{
  width:68%;
  background:#f2f2f2;
  border-radius: 8px 0 0 8px;
  overflow: hidden;
}
.multiupload-popup .multiupload-popup-right{
  width:32%;
  padding: 15px;
  border-left: 1px solid #d8d8d8;
  padding-top: 50px;
  display: flex;
    flex-direction: column;
}
.multiupload-files .viewer-box{
  left: 269px !important;
    border: 2px solid !important;
     width: 350px !important;  
    height: 350px !important;  
    top: -60px !important;
}
@media (min-width:768px){
.multiupload-popup-right-inner{
    /*  position: sticky;
    top: 20px; */
       height: 100%;
        display: flex;
        flex-direction: column;
}
}
.multiupload-files{
  padding:15px;
  overflow: auto;
/*  max-height: 600px; */
}
.multiupload-add-more {
  padding: 0px 15px 15px;
  margin-top:10px;
}
.multiupload-add-more > h5{
 margin-bottom: 25px;
  font-size: 16px;
}
.multiupload-add-more .secondDropZone__inner b{
  margin-bottom: 10px;
  margin-top: 10px;
}
.multiupload-add-more .secondDropZone{
  padding: 5px 20px;
  min-height: 200px;
}
.secondDropZone__inner b{
 border-radius: 10px;
  border: 1px solid #3eaeff;
  background-color: #3eaeff;
  text-align: center;
  justify-content: center;
  max-width: 147px;
  height: 47px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}
.secondDropZone__inner b:hover{
  
}
.secondDropZone__inner_icon{
  width: 20px;
  margin-left: 5px;
}
.secondDropZone{
  border: 2px dotted #3eaeff;
}
.secondDropZone__text{
  font-weight: 400;
  font-size: 15px;
  margin-top: 0px;
}
.multiupload-add-more .secondDropZone__text{
  margin-bottom: 0;
}
.multiupload-files li{
  margin-bottom: 15px;
  background: #fff;
  border-radius: 10px;
  padding: 15px;
  border: 1px solid #d8d8d8;
}
.multiupload-files  > li:last-child{
  margin-bottom: 0px;
}
.delivery_info{
  padding: 10px 35px; 
  background: #f2f2f2;
  gap: 5px; 
  text-align: center;
  font-size: 14px;
  border-radius: 7px;
  margin-top: 20px;
  margin-bottom: 20px;
} 
.precutWrapper .mrg8 input  {
  margin-right: 6px;
}
.customTabelPlaceWrap__colorChange {
  color: #25b017;
}
free-shipping-bysize .grt-infoicon, free-shipping-blanks .grt-infoicon,
.grt-infoicon{
  width: 15px;
}
.multiupload-files .split_design .upload_image_info_box{
  width: 265px;
}
.multiupload-files .zoom-text{
  padding-left: 0px;
}
.multiupload-files .split_design .upload_image_info_box{
  display: flex;
    flex-direction: column;
  justify-content: start;
  align-items: self-start;
}
.multiupload-files .split_design .upload_image_info+div{
      display: block;
   /* align-content: center;
    justify-content: center; */
    width: 43%;
    flex-direction: unset;
    align-items: unset;
  position: relative;
  padding-top: 30px;
}


.multiupload-files .customQtyFile.view_3Cols .customQtyFile__selectedData.product-quantity {
   min-width: 60px;
   text-align: left;
  min-height: 10px;
  align-self: baseline;
}
.multiupload-files .customQtyFile.view_3Cols .customQtyFile__selectedData.product-quantity + div{
   font-size:12px;
}
.multiupload-files .customQtyFile.view_3Cols .product-quantity + .customQtyFile__selectedData{
   max-width: 56px;
  color: #8c080d;
  font-weight: 600;
}
.multiupload-files .customQtyFile.view_3Cols .customQtyFile__selectedData.product-quantity + div + div{
  max-width: 70px;
  font-size: 13px;
}
.multiupload-files .customQtyFile.view_3Cols .customQtyFile__selectedData del,
.multiupload-files .customQtyFile.view_3Cols .customQtyFile__selectedData  span i{
  font-size:11px;
  font-weight:400;
  opacity:1; 
}
.multiupload-files .customQtyFile.view_3Cols .customQtyFile__selectedData del + span{
  font-size: 14px;
}
.multiupload-files .customQtyFile{
 margin-bottom: 20px;
  margin-top:10px;
 align-items: center;
  flex-wrap:nowrap;
  gap:15px;
  min-height: 80px;
  justify-content: space-between;
}
.popular__block_repeater .__title .tooltip .grt-infoicon{
  width: 13px;
}
.multiupload-files .customQtyFile > *{ 
  width: auto !important;
  min-height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.multiupload-files .customQtyFile > ._percentage_off,
.multiupload-files .customQtyFile > ._close_btn{
  justify-content: flex-end;
  padding-bottom: 10px;
}
.multiupload-files .customQtyFile > ._close_btn{
  max-width:20px;
}
.multiupload-files .customQtyFile > ._close_btn button{
  height:18px;
}
.multiupload-files .customQtyFile button svg{
  height: 18px;
}
.multiupload-files .customQtyFile button path{
 fill: #bbb;
}
._percentage_off {
  color:#25b017;
  font-size:13px;
}
.multiupload-popup-right .customTabelPlace.rowList.view_3Cols .customTabelPlace__heading_1,
.multiupload-popup-right .customTabelPlace.rowList.view_3Cols .customTabelPlace__heading_2,
.multiupload-popup-right .customTabelPlace.rowList.view_3Cols .customTabelPlace__item_1,
.multiupload-popup-right .customTabelPlace.rowList.view_3Cols .customTabelPlace__item_2,
.multiupload-popup-right .customTabelPlace.rowList.view_3Cols .customTabelPlace__item_3{
  max-width:33.33%
}
.multiupload-popup-right .customTabelPlace.rowList.view_3Cols .customTabelPlace__heading_1,
.multiupload-popup-right .customTabelPlace.rowList.view_3Cols .customTabelPlace__heading_2{
  font-size: 13px;
  white-space: nowrap;
}
.multiupload-popup-right .customTabelPlace.rowList .customTabelPlace__heading{
  border-bottom:0;
}
.multiupload-popup-right  .customTabelPlaceWrap__subText{
  font-size:13px;
}
.multiupload-popup-right .customTabelPlace__item__selectedBar{
  
  background: #f4fbf3 !important;
  border: 2px solid #25af1b;
}
.multiupload-popup-left .fileupload_info p + span{
   font-size:11px;
}
.product-text .multiupload-popup-left .sidebar-widget { 
    margin-bottom: 1rem !important;
}
.product .multiupload-popup-left .widthHeight__custom{
      margin-top: 0;
    margin-bottom: 0;
}
.multiupload-popup-left .customQtyFile__title{
      font-size: 13px;
      font-weight:600;
}
.customQtyFile.view_3Cols .customQtyFile__selectedData{
   font-weight:600;
}
.multiupload-popup-left .fileupload_custom .fileupload_name{
  margin-bottom:10px;
}
.multiupload-popup-left .fileupload_custom .fileupload_name span{
      font-size: 14px
}
.multiupload-popup-right  #__reward_info{
  width:100%;
  font-size:12px;
  justify-content: center;
}
.multiupload-popup-right .add-to-cart[data-main-product-add-to-cart] {
        padding: 20px 10px 34px;
        border-radius:5px;
       margin-top:0;
    }
.multiupload-popup-right .product-form{
  margin-bottom:0;
  margin-top: 0;
}
.multiupload-popup-right .product-form > div{
  margin-top: 0 !important;
  margin-bottom: 10px;
}
.multiupload-popup-left  .fileupload_notes_for_designer textarea{
   font-size:13px;
}
.multiupload-popup-left  .fileupload_bg_options{
   padding-bottom:0;
}
.multiupload-popup-right hr{
  margin: 10px 0;
  background: none;
  height: 1px;
  border: none;
  background: #d0d0d0;
}
.multiupload-popup-right .customTabelPlace.rowList .customTabelPlace__item_1,
.multiupload-popup-right .customTabelPlace.rowList .customTabelPlace__item_2{
  padding: 8px 10px;
  border-color: #d0d0d0;
}
.multiupload-cart-total ul{
  margin:0px;
  padding:0;
}
.multiupload-cart-total ul li{
  display:flex;
  padding:4px 0;
 justify-content:space-between;
}
.multiupload-cart-total ul li > span{
  display:block;
 font-size: 13px;
}
.multiupload-cart-total p{
   font-size: 12px;
  text-align: right;
  font-weight: 600;
}
.multiupload-cart-total ul li span:first-child{
  min-width:70%;
}
.multiupload-cart-total ul li span:last-child{
  text-align:right;
}
.multiupload-cart-total ul > li:first-child{
  font-weight:600;
}
.multiupload-cart-total ul > li:nth-child(3) > span:last-child{
  font-weight:600;
  color: #03a3f7;
}
.multiupload-cart-total ul > li:last-child > span{
  font-size:16px;
  font-weight:600;
}

.multiupload-popup .upload_image_info{
   margin-top: 0px !important;
  margin-bottom: 0px !important;
}
.product .multiupload-popup .widthHeight__item{
  min-width: 69px;
}
 .multiupload-popup-left .fileupload_info {
    display: flex;
  justify-content: space-between;
 }
 .multiupload-popup-left .fileupload_info svg{
  height: 16px;   
 }
 .multiupload-popup-left .fileupload_info a{
   display: flex;
  align-items: center;
  gap: 5px;
   color:#03a3f7;
   font-weight:600;
 }
 .multiupload-popup-left .fileupload_info a path{
   fill:#03a3f7;
 }
 .multiupload-popup-left .fileupload_info{
  border-bottom: 1px solid #d8d8d8;
   margin-bottom: 0px;
   padding-bottom: 10px;
   font-size: 12px;
}
 .multiupload-popup-left .fileupload_bg_options{
    margin-top: 0;
   justify-content: center;
   max-width: calc(100% - 0px);
   margin-left: 0;
}
 .multiupload-popup-left .fileupload_bg_options:not(._2){
    position: absolute;
  transform: translate(50%, 0);
  left: -50%;
  top: 0;
   padding-left: 40px;
 }
.multiupload-popup-left .fileupload_preview{
  margin-left:auto;
  margin-right:auto;
}

/* .multiupload-popup-left .verticle_direction{
  margin-top:70px;
} */
.multiupload-popup-left  #product_reward-point-block{
  display:none !important;
}
.fileupload_bg_options._2{
  padding-left: 46px !important;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  justify-content: flex-start;
  align-items: baseline;
}
.multiupload-popup-left .price-calc__x,
/* .multiupload-popup-left .widthHeight__item__action-plus,
.multiupload-popup-left .widthHeight__item__action-minus, */
.multiupload-popup-left .customQtyFile__wrapper__minus,
.multiupload-popup-left .customQtyFile__wrapper__plus {
  display:none;
}

.multiupload-popup-left  .price-calc__equal{
  opacity:0;
}
.multiupload-popup-left  .__title{
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 7px !important;
  display: inline-block;
}

.product .multiupload-popup .widthHeight__custom{
  grid-template-columns: 48% 48% !important;
}
.product .widthHeight__item__action .widthHeight__value,
popular-product-variants .custom-variant-selector {
  border-color: #d8d8d8;
  border-radius: 4px;
  text-align: center !important;
  min-height: 45px;
}
.multiupload-popup-left .customQtyFile__qty{
  border-color: #d8d8d8;
  border-radius: 4px;
}
.product .widthHeight__item__action{
  margin-top:0;
}

.product .multiupload-popup .widthHeight__item__action .widthHeight__value,
.multiupload-popup-left .customQtyFile__qty{
  text-align:center;
  font-size:14px;
  min-height: 45px;
}
.multiupload-popup-left .customQtyFile__wrapper{
  max-width: 70px;
}
.multiupload-popup-left .customQtyFile__selectedData{
  text-align:left;
}
.multiupload-popup-left .customQtyFile__title{
  margin-bottom: 0px;
}
.multiupload-popup-right free-shipping-bysize{
  font-size:13px;
}
.multiupload-popup-right custom-table{
  width:100%;
}
.multiupload-popup-right custom-table .customTabelPlace.rowList.view_3Cols .customTabelPlace__item_3,
.multiupload-popup-right .customTabelPlace.rowList.view_3Cols .customTabelPlace__heading_3 > span{
   
}
.customTabelPlaceWrap__title{
  font-size:13px;
}
custom-table .customTabelPlace{
  margin-top: 15px;
  border: 1px solid #e3e3e3;
  border-radius: 5px;
}
 
.multiupload-popup-right  precut-unit-logic > *:not(.precutWrapper ){
  display:none;
}
.multipupload_discount,
.multiupload-cart-total ul > li:nth-child(3) > span:last-child{
  color:#8c080d;
}
.multiupload-popup-right .customTabelPlace.rowList .customTabelPlace__item {
  border-color:#e1e1e1 !important;
  color:#000;
}
.customTabelPlace.rowList .customTabelPlace__item_2{
  color:#000;
}
.customTabelPlace.rowList .customTabelPlace__item_3{
  font-weight:700;
}
.multiupload-popup-right .customTabelPlace.rowList .customTabelPlace__item i{
  font-style:normal;
  font-weight:400;
  font-size:13px;
  opacity:0.7;
}
.multiupload-popup-right .customTabelPlace.rowList .customTabelPlace__itemsWrap > .customTabelPlace__item[index="5"]{
  border-bottom:0px !important;
}
.repeat_trigger{
  margin-bottom:20px;
}
.repeat_trigger button{
  background:none;
  border-top:1px solid #d8d8d8;
  border-bottom:1px solid #d8d8d8;
  width:100%;
  display:flex;
  gap:10px;
  align-items:center;
  color:#3eaeff !important;
  font-weight:700;
  font-size:12px;
  padding-top: 12px;
  padding-bottom: 12px;
}
.repeat_trigger button svg{
  height:16px;
}
.repeat_trigger button svg g polygon{
  fill:#3eaeff !important;
}
.multiupload-files .fileupload_notes_for_designer ._lbcactivelabel label{
  margin-top: 2px;
}
.reward-point-block{
  border-radius: 8px !important;
}
.multiupload-files .fileupload_notes_for_designer{
      grid-template-columns: 100% !important;
}
.multiupload-files form label{
  display:none;
}
.multiupload-files dpi-warning{
 min-width: 263px; 
}
.multiupload-files sizes-blocks .priceItem__head,
.multiupload-files sizes-blocks .qtyItem__head, 
.multiupload-files sizes-blocks .totalItem__head,
.multiupload-files sizes-blocks  .actionItem__head {
  display:none;
}
.multiupload-files sizes-blocks .widthHeight__custom[option-selected=custom]   {
    grid-template-columns: [col] 23% [col] 23% [col] 23% [col] 23% !important;
    grid-template-rows: [row] auto [row] auto [row];
	row-gap: 20px !important;
}
.multiupload-files sizes-blocks .widthHeight__custom[option-selected=popular]   {
      grid-template-columns: [col] 93% [col] 2% !important;
    grid-template-rows: [row] auto [row] auto [row];
    row-gap: 20px !important;
}

.hiddenctrl {
  margin-top:10px;
}
.multiupload-files .widthHeight__custom > .widthHeight__item[by="width"] {
    grid-column: col / span 2;
}

.multiupload-files .widthHeight__custom > .widthHeight__item[by="height"] {
        grid-column: col 3 / span 2;
}
.multiupload-files .widthHeight__custom > precut-unit-logic{
    grid-column: col / span 4;
    grid-row: row 2;
}
.multiupload-files .widthHeight__custom dpi-warning{
     grid-column: col / span 4;
    grid-row: row 3;
}
.multiupload-files sizes-blocks precut-unit-logic .precut-unit-logic__grid{
  grid-template-columns: 22% 25% 22% 25%;
}
.multiupload-files  sizes-blocks .widthHeight__customHeader{
    grid-template-columns: 48% 48% !important;
}
.multiupload-files .widthItem__head,
.multiupload-files .heightItem__head  {
    font-size: 12px;
    font-weight: 600;
}

.multiupload-files .precut-unit-logic__grid .precut-unit-logic__price:before,
.multiupload-files .precut-unit-logic__grid .precut-unit-logic__qty:before,
.multiupload-files .precut-unit-logic__grid .precut-unit-logic__total:before,
.multiupload-files .precut-unit-logic__grid .precut-unit-logic__discount:before{
 content:"Price";
 display:block;
 margin-bottom:10px;
 font-size: 12px;
 font-weight: 600;
}

.multiupload-files .precut-unit-logic__grid .precut-unit-logic__qty:before{
 content:"Qty";
}

.multiupload-files .precut-unit-logic__grid .precut-unit-logic__total:before{
 content:"Total"
}

.multiupload-files .precut-unit-logic__grid .precut-unit-logic__discount:before{
 content:"-";
 opacity:0;
}
.multiupload-files  sizes-blocks precut-unit-logic .precut-unit-logic__grid .precut-unit-logic__discount{
  white-space:nowrap;
}
.use_designes_bulk[disabled]{
  opacity:0.7;
  pointer-events:none;
}
.use_designes_bulk_btn{
  margin-top:15px;
  display:flex;
  justify-content:flex-end;
  border-top: 1px solid #ddd;
  padding-top: 15px;
}
@media (min-width: 768px) {
  .multiupload-popup-left   .split_design { 
        /* flex-wrap: nowrap;  */
    }
   .multiupload-popup-left   .split_design > *{
     flex:1;
   }
}
.addToCartGroupItems_popup[disabled]{
  pointer-events:none;
  opacity:0.5 !important;
}
/*
popular-wrap{
  display:grid !important;
}
product-variants .product-variant__item.product-variant__item--radio, variant-radios .form__label, product-variants .product-variants .product-variant[option="2"], variant-selects{
  display:block !important;
}
select.custom-variant-selector {
  display: block !important;
}*/

.multiupload-popup-right .customTabelPlace__heading_3,
.multiupload-popup-right .customTabelPlace__item_3{
	opacity:0;
}

.multiupload-popup-right .customTabelPlace__heading_2,
.multiupload-popup-right .customTabelPlace__item_2{
	text-align:right !important
}
.customTabelPopup__overlay-8 .customTabelPopup{
     max-height: 100vh;
    margin: 20px auto; 
    min-height:720px;
  margin: 0 auto;
    height: calc(100vh - 40px);
}
.multiupload-popup .multiupload-popup-left{
       overflow: auto;
    max-height: calc(100vh - 42px);
    min-height: 720px;
}
.multiupload-files{
   overflow: unset;
}
.multiupload-popup .multiupload-popup-right{
  padding-top:40px;
}
.multiupload-popup-right hr{ 
  margin:8px 0 !important;
  display:none;
}
.multiupload-popup-right .delivery_info{
  margin-top:8px !important;
  margin-bottom:8px !important;
}
.multiupload-popup-right .product-form .flex-buttons>*{
    margin-top:0px !important;
  margin-bottom:0px !important;
}
.multiupload-popup-right .customTabelPlaceWrap__subText{
  margin-bottom:8px !important;
} 
.multiupload-popup-right .reward-point-block{
  margin-bottom:0px !important;
}
.multiupload-popup-right custom-table{
  display:block;
  flex:1;
  
}
.multiupload-popup-right precut-wrapper{
  padding:0;
  display:block;
  width:100%;
  margin-bottom:8px;
}
.multiupload-popup-right custom-table .customTabelPlace.rowList.view_3Cols .customTabelPlace__item_1,
.multiupload-popup-right custom-table .customTabelPlace.rowList.view_3Cols .customTabelPlace__item_2,
.multiupload-popup-right custom-table .customTabelPlace.rowList.view_3Cols .customTabelPlace__item_3,
.multiupload-popup-right .customTabelPlace.rowList .customTabelPlace__heading_1,
.multiupload-popup-right .customTabelPlace.rowList .customTabelPlace__heading_2,
.multiupload-popup-right .customTabelPlace.rowList .customTabelPlace__heading_3{
      padding: 6px 10px;
}
.multiupload-popup-right .customTabelPlace.rowList.view_3Cols .customTabelPlace__heading_2 {
  padding-right:0;
}
.multiupload-popup-right .customTabelPlace.rowList .customTabelPlace__item__selectedBar{
  height: 32.59px;
}
.image-loading{
  pointer-events:none;
}

.secondDropZone__inner b:hover{
 /* color:#fff !important; */
  box-shadow:none !important;
}

/* .multiupload-popup-left .fileupload_bg_options{
    position: relative;
  height: 27px;
  }
.multiupload-files .zoom-text{
  position: absolute;
  white-space: nowrap;
  width: 100%;
} */

.customTabelPopup__overlay-12{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.4431372549);
  display: grid;
  align-items: center;
  overflow: auto;
}
.customer_designes ul li .upload_tools{
  justify-content: space-between;
}
.customer_designes ul li .upload_tools > div{
  padding:5px;
  border-radius:8px;
  background:rgba(0,0,0,0.4);
  height: 30px;
  width: 30px;
  display:flex;
  align-items:center;
  justify-content:center;
  transition:all 0.2s;
}
.customer_designes ul li .upload_tools > div{
  background: #fff;
  padding: 1px;
  width: 24px;
  height: 24px;
  margin-top: 3px;
  border-radius: 2px;
}
.customer_designes ul li .upload_tools > div label{
  left: -10px !important;
  top: -12px  !important;
  position: relative;
}
.customer_designes ul li .upload_tools > div:hover{
  background:rgba(0,0,0,0.8);
}
.customer_designes ul li .upload_tools > div:hover{
   background: #fff;
}
.customer_designes ul li:hover > div .use_design{
  opacity:0;
  pointer-events:none;
}

@media (max-width:768px){
  .multiupload-popup{
        flex-direction: column;
        background: #f2f2f2;
  }
 
  .multiupload-files,
  .multiupload-files li{
    padding:10px;
  }
   .multiupload-files{
    padding:40px 5px 5px 5px !important; 
  }
  .multiupload-files li{
        margin-bottom: 5px;
  }
  .multiupload-popup .split_design .upload_image_info + div{
        width: 100%;
  }
  .multiupload-popup .custom_tab_container{
    order:3;
  }
  .multiupload-popup .multiupload-popup-left,
  .multiupload-popup .multiupload-popup-right{
        width: 100%;
        max-height: unset;
  }
  .multiupload-popup .multiupload-popup-right{
    padding: 15px;
        border-left: 1px solid #d8d8d8;
        background: #fff;
        margin-bottom: 100px;
  }
  .multiupload-popup .add-more-block{
    text-align:center;
  }
.multiupload-popup  precut-unit-logic .precut-unit-logic__grid .__originalPrice, 
  .multiupload-popup precut-unit-logic .precut-unit-logic__grid .__discountedPrice{
             font-size: 13px !important;
  }
.multiupload-popup  sizes-blocks .widthHeight__custom[option-selected=popular] precut-unit-logic .precut-unit-logic__grid{
            grid-template-columns: 20% 22% 19% 20%;
  }
  .multiupload-files sizes-blocks precut-unit-logic .precut-unit-logic__grid{
        grid-template-columns: 20% 22% 19% 20%;
  }
   .multiupload-files  .fileupload_notes_for_designer,
 .multiupload-files  .product-form{
    margin-bottom:0;
  }
  .multiupload-files  .verticle_direction:has(span b) span{
        padding: 5px 6px;
  }
  .multiupload-files  .verticle_direction b{
        font-size: 7px !important;
        line-height: 1.2 !important;
  }
  .customTabelPopup__overlay-8 .customTabelPopup{
        width: 100%;
  }
 .multiupload-files  .split_design .fileupload_bg_options .zoom-text{
            margin-right: 0;
  }
 .multiupload-files  .fileupload_bg_options._2{
        margin-top: 20px;
    justify-content: center;
    align-items: center !important;
    margin-bottom: 20px;
       padding-left: 0px !important;
  }
  .multiupload-files  .split_design .fileupload_bg_options .style3{
    min-width: 180px !important;
  }
  .multiupload-files .loading_messaage p{
        font-size: 7px;
  }
  .loading_messaage svg{
        height: 20px;
    width: 20px;
    min-width: 20px;
  }
  .multiupload-popup-right .customTabelPlace.rowList.view_3Cols .customTabelPlace__heading_2{
    padding-right:10px;
  }
   .multiupload-popup-left .fileupload_bg_options:not(._2){
     align-items: center !important;
   }
}

.multiupload-files{
   counter-reset: list;
}
.multiupload-files > li  {
  counter-increment: list;
  
}
.multiupload-files > li  .upload-counter-data:before{
  content: "Upload " counter(list);
}
.multiupload-popup-right-inner  .freeShipping__title .tooltiptext{
  bottom: -80px !important;
  width: 400px !important; 
  height: 69px !important;
  font-size: 12px !important;
}
#uploadArea.upload-area{
  padding-top: 20px !important;
  background:#e8f5fe  !important;
}


 