.pageHeader {
  &BackLink {
    padding: 20px 0 10px;

    a {
      display: flex;
      gap: 6px;
      align-items: center;

      svg {
        width: 16px;
        height: 16px;
      }
    }
  }

  &__pageWidth {
    margin: 0 auto;
    width: 100%;
    max-width: var(--theme-max-width);
    padding-left: var(--gutter-container);
    padding-right: var(--gutter-container);
  }

  &__content {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;

    @media ( max-width: 768px ) {
      display: grid;
      justify-content: normal;
    }
  }

  &__videoWrapper {
    position: relative;

    &Icon {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100px !important;
      height: 100px;
      transform: translate(-50%,-50%);
      z-index: 1;
      border-radius: 9999px;
      overflow: hidden;
      cursor: pointer;
    }
  }

  &__item {
    &.video {
      width: 55%;

      @media ( max-width: 768px ) {
        width: 100%;
      }

      img {
        cursor: pointer;
        object-fit: contain;
        width: 100%;
      }

      iframe {
        width: 100%;
        aspect-ratio: 6/4;
      }
    }
  }

  &__title {
    font-size: 2.5rem;

    @media ( max-width: 550px ) {
      font-size: 1.5rem;
    }
  }

  &__subtitle {
    font-size: 1.1rem;

    @media ( max-width: 550px ) {
      font-size: .9rem;
    }
  }
}
