.anotherTransfer {
  position: relative;

  &:hover {
    .anotherTransfer__btnText {
      animation: move_ 350ms ease-in-out forwards !important;
    }
  }

  &__btnText {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    transition: 0.2s all ease-in-out;
  }
  &.btnFullWidth {
    width: 100%;
    padding: 24px;
    display: flex;
    align-items: center;
  }
}

@keyframes move_ {
  0% {
    transform: translate(-50%, 0%);
  }
  49% {
    transform: translate(-50%, -200%);
  }
  50% {
    transform: translate(-50%, -200%);
    visibility: hidden;
  }
  51% {
    transform: translate(-50%, 200%);
  }
  52% {
    transform: translate(-50%, 200%);
    visibility: visible;
  }
  100% {
    transform: translate(-50%, 0%);
  }
}

.btnFullWidth + .shopify-payment-button {
  min-width: calc( 100% - 1rem );
}
.filepond--root[data-hopper-state=drag-over] .filepond--drop-label {
  box-shadow: 0 0 10px #46aae3;
}

.qtyWithPrice {
  width: 100%;
  border-bottom: 1px solid #9a9a9a;
  padding-bottom: 24px;
  border-top: 1px solid #9a9a9a;
  padding-top: 20px;
  margin-bottom: 6px!important;

  &__title {
    font-weight: 600;
    margin-bottom: 4px;
  }

  product-quantity {
    order: 1;

    .qty-selector {
      padding: 10px;
    }

    .qty-button {
      width: 40px;
      height: 40px;
    }
  }

  &__unitPrice {
    font-size: 15px;
    order: 2;
  }

  #product_reward-point-block {
    order: 3;
    width: 100%;
    /* position: relative;
    margin-top: 30px;

    &::before {
      content: "";
      position: absolute;
      top: -15px;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #9a9a9a;
    } */
  }

  &__price {
    font-weight: bold;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
