.cl-upload--input-fields input.cl-upload--input {width: 20px; height: 20px; border-radius: 5px; padding: 0; margin: 0; position: relative; flex-shrink:0; appearance: none;}
.error-icon.cl-upload--input-fields input.cl-upload--input{border:solid 1px red;}
.cl-upload--input-fields input.cl-upload--input:before {content: ""; clip-path: polygon(86% 11%, 39% 67%, 12% 43%, 0% 57%, 40% 95%, 100% 22%); transform-origin: top left; background-color: var(--color-background-main);
    background-size: contain; width: 70%; height: 70%; transform: scale(0) translate(-50%, -50%); display: inline-block; position: absolute; top: 50%; left: 50%; transition: transform ease 175ms;}
.cl-upload--input-fields .cl-upload--input:checked {background: #3EAEFF;}
.cl-upload--input-fields .cl-upload--input:checked:before {transform: scale(1) translate(-50%, -50%);}



._proceedflow #site-cart-sidebar.sidebar--opened{display:none !important;}
.upload-container .hiddenelement{display:none !important;}
.__errorcase{cursor:pointer;}
.cl-upload--input-fields{position:relative;  order:1;}
/*
.cl-upload--input-fields::after{content: ""; width: 16px; height: 16px; display: block; position: absolute; border: solid 2px #3eaeff; top: 4px; border-radius: 3px; pointer-events:none;}
.cl-upload--input-fields::before{width: 6px; height: 12px; display: block; position: absolute; border-right: solid 2px #3eaeff; border-bottom: solid 2px #3eaeff; top: 5px; border-radius: 1px; pointer-events: none; transform: rotate(45deg); left: 5px;}
*/
.cl-upload--input-fields.error-icon::after{border-color:red;}
.cl-upload--input-fields.filler:not(.error-icon)::before{content:"";}
.__validate_upload button{pointer-events:none;}
.__errorcase button{width:100%;}
.error_color{color:red; margin-bottom:8px; display:flex; align-items:center;}
.error_color span{display:inline-block; margin-right:8px;}
.error-icon .cl-upload--input{border:none}
.cl-upload--input-fields:not(.img_uploaded){display:none !important;}
.__validate_upload{cursor:pointer;}
.error_color{display:flex; align-items:center;}
.error_color > span{margin-right:8px;}
.__validate_upload .add-to-cart{width:100%; pointer-events:none;}
.anotherTransfer {order:3; position: relative;}
.anotherTransfer:hover .anotherTransfer__btnText {
  animation: move_ 350ms ease-in-out forwards !important;
}
.anotherTransfer__btnText {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  transition: 0.2s all ease-in-out;
}
body.template-product-dtf-gang-v2 .anotherTransfer__btnText {
  top: unset;
}
.anotherTransfer.btnFullWidth {width: 100%; display: flex; align-items: center; background:#0160A2 !important; white-space:nowrap; line-height:28px;}

@keyframes move_ {
  0% {
    transform: translate(-50%, 0%);
  }
  49% {
    transform: translate(-50%, -200%);
  }
  50% {
    transform: translate(-50%, -200%);
    visibility: hidden;
  }
  51% {
    transform: translate(-50%, 200%);
  }
  52% {
    transform: translate(-50%, 200%);
    visibility: visible;
  }
  100% {
    transform: translate(-50%, 0%);
  }
}
.btnFullWidth + .shopify-payment-button {
  min-width: calc(100% - 1rem);
}

.filepond--root[data-hopper-state=drag-over] .filepond--drop-label {
  box-shadow: 0 0 10px #46aae3;
}

.qtyWithPrice {
  width: 100%;
  border-bottom: 1px solid #9a9a9a;
  padding-bottom: 24px;
  border-top: 1px solid #9a9a9a;
  padding-top: 20px;
  margin-bottom: 6px!important;
}
.template-product-supplies .qtyWithPrice,
.template-product-consumables .qtyWithPrice,
.template-product-powder .qtyWithPrice,
.template-product-ink .qtyWithPrice,
.template-product-heat-press-product .qtyWithPrice {
  border-bottom-color: transparent;
  border-top-color: transparent;
  padding-bottom: 6px;
  padding-top: 0px;
  margin-top: 0px !important;
}
.qtyWithPrice__title {
  font-weight: 600;
  margin-bottom: 0.625rem;
  font-size: 14.0625px;
}
@media (max-width: 768px) {
  .qtyWithPrice__title {
    margin-bottom: 0.625rem;
    font-size: 13.125px;
  }
}
@media (max-width: 475px) {
  .qtyWithPrice__title {
    font-size: 12.1875px;
  }
}
.qtyWithPrice product-quantity {
  order: 1;
}
.qtyWithPrice product-quantity .qty-selector {
  padding: 10px;
}
.qtyWithPrice product-quantity .qty-button {
  width: 40px;
  height: 40px;
}
.qtyWithPrice__unitPrice {
  font-size: 15px;
  order: 2;
}
.qtyWithPrice #product_reward-point-block {
  order: 3;
  width: 100%;
  /* position: relative;
  margin-top: 30px; */
}
/* .qtyWithPrice #product_reward-point-block::before {
  content: "";
  position: absolute;
  top: -15px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #9a9a9a;
} */
.qtyWithPrice__price {
  font-weight: bold;
}
.qtyWithPrice__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

/** New product pages CSS **/
.craft-pdp-pages{--font-size: 15px; --color: #121212;}
.craft-pdp-pages p,.craft-pdp-pages li{color:#666666; font-size: var(--font-size); margin-bottom: 0.9375rem;}
.craft-pdp-pages p.product__subtitle{margin-bottom: 0;}
.craft-pdp-pages p strong,.craft-pdp-pages li strong{color: var(--color); font-size: var(--font-size);}
.craft-pdp-pages .product__subtitle{font-weight: 500; color:var(--color-text-main); font-size:16px;}
.craft-pdp-pages span.product__subtitle{display: inline-block;}
.craft-pdp-pages .button--solid{padding:24px 10px 38px}
.craft-pdp-pages .faq-block-container{border-top:1px solid #cfcfcf; border-bottom:1px solid #cfcfcf;}
.product-variant__item--radio label.variant-img{flex-flow: column wrap; padding: 1px;}
.variant-img span{display:block;}
.variant-img-wrapper{width:108px; flex-shrink: 0; line-height: 0;}
.selected-variant-label{font-weight: bold; padding-bottom: 8px;}
.product-form .flex-buttons.checkout-wrap{margin-top:0 !important;}
@media(min-width:1024px){
  .grid--layout.width_500{grid-template-columns: 40% auto;}
  .grid--layout.width_500 .grid-offset-2{grid-column-start:span 1;}
}

@media(max-width:768px){
  .container--vertical-space-small.craft-pdp-pages{margin-top:0;}
  .craft-pdp-pages div.product-gallery__thumbnails button.thumbnail{width: 16px; height: 16px; border-radius: 50%; border-color: #D9D9D9 !important; background:#D9D9D9;}
  .craft-pdp-pages div.product-gallery__thumbnails .thumbnail.active{ border-color: #000 !important; background:#000;}
  .craft-pdp-pages .product-gallery__thumbnails .thumbnail__image:after{content:none;}
  .craft-pdp-pages .product-gallery__thumbnails-holder{justify-content: center;}
}
/** ./CSS **/
@media(min-width:768px){
  .anotherTransfer.btnFullWidth {padding: 24px; height:63px; white-space:normal; line-height:normal;}
  ._grt-dtf-gang-sheet .add-to-cart{order:3;}
}

.dialogModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
}
.dialogModal__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000078;
}
.dialogModal__content {
  position: relative;
  width: 100%;
  max-width: 450px;
  height: auto;
  padding: 2rem 2rem;
  background-color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 10px;
  box-shadow: 0 3px 10px #0000008c;
  z-index: 1;
  font-size: 20px;
}
.dialogModal__content a {
  color: #3EAEFF;
}

.disabledCheckout .anotherTransfer,
.disabledCheckout .add-to-cart {
  cursor: default;
  pointer-events: none;
}

.startingAtEle {
  font-size: 12px;
  font-weight: 600;
}
.template-product-supplies .saving-info:empty,
.template-product-consumables .saving-info:empty,
.template-product-powder .saving-info:empty,
.template-product-ink .saving-info:empty,
.template-product-heat-press-product .saving-info:empty {
  display: none;
}
@media ( max-width: 768px ) {
  .template-product-supplies .product-actions,
  .template-product-consumables .product-actions,
  .template-product-powder .product-actions,
  .template-product-ink .product-actions,
  .template-product-heat-press-product .product-actions {
    margin-top: 15px;
  }
}

