.underCTA {
  // padding: 12px;
  // border-radius: 14px;
  // border: 1px solid rgba(0, 0, 0, 0.1);

  .swiperMainProducts {
    position: relative;
  }

  &.inactive {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      background-color: transparent;
    }
  }

  .slick-track {
    display: flex !important;
  }

  .slick-slide {
    height: inherit !important;
  }
}

.pdpRelatedProducts {
  border: 1px solid #dadada;
  border-radius: 8px;
  padding: 12px;
  margin-top: 10px;

  &__title {
    font-size: 14px;
    margin-left: 0;
    margin-bottom: 0px;

    @media ( max-width: 480px ) {
      margin: 0 auto;
    }
  }

  &__titleWrap {
    display: flex;
    // flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    margin-bottom: 12px;
    justify-content: space-between;

    @media (max-width: 1150px) {
      flex-wrap: wrap;
    }
  }

  &__bottomLink {
    text-align: center;
    font-weight: 600;
    display: flex;
    justify-content: center;
    margin-top: 16px;

    a {
      display: flex;
      align-items: center;
      color: #27a6ff;
      gap: 10px;
    }
  }

  &__icon {
    &Wrap {
      display: flex;
      gap: 10px;
      align-items: center;
      font-weight: 600;
      margin-left: 0;

      @media ( max-width: 480px ) {
        margin: 0 auto;
      }
    }

    &Item {
      display: flex;
      gap: 7px;
      align-items: center;
      line-height: 1;

      svg {
        width: 30px;
        height: 30px;
      }
    }
  }

  &__pList {
    // display: grid;
    // grid-template-columns: 50% 50%;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;

    @media (max-width: 450px) {
      grid-template-columns: auto;
    }
  }
  &__pItem {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    display: grid !important;
    gap: 10px;
    padding: 6px;
    grid-template-columns: auto;
    max-width: calc(20% - 10px);

    display: flex;
    flex-direction: column;
    gap: 8px;

    @media (min-width: 768px) and (max-width: 1050px) {
      min-width: 110px;
    }

    @media (max-width: 480px) {
      min-width: 100px;
    }

    @media (max-width: 380px) {
      min-width: 94px;
    }

    img {
      display: block;
      max-width: 100%;
      width: 100%;
    }

    &__content {
      display: flex;
      flex-direction: column;
      gap: 2px;

      .yotpo-widget-instance {
        position: relative;
        // margin-top: 6px;

        &::after {
          position: absolute;
          content: "";
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: transparent;
          z-index: 1;
        }

        svg {
          width: 8px;
          height: 8px;

          @media (min-width: 1050px) {
            width: 10px;
            height: 10px;
          }
        }

        .star-container {
          margin-right: 2px !important;
        }
      }

      .yotpo-star-rating-reviews-summary-link {
        display: none !important;
      }

      .yotpo-sr-bottom-line-summary {
        flex-direction: row !important;
        gap: 2px !important;
        align-items: center !important;

        // @media (max-width: 650px) {
        //   flex-direction: column !important;
        // }
      }

      .yotpo-sr-bottom-line-text {
        font-size: 10px !important;
      }
    }

    &__title {
      font-size: small;
      margin-bottom: 4px;
      line-height: 1.1;
      display: none;
    }

    &__startFrom {
      color: #5e5e5e;
      font-size: small;
    }

    &__price {
      color: #4572bb;
      font-weight: 600;
      font-size: large;
    }

    &__stars {
    }

    &__pCode {
      text-align: left;
      font-weight: 400;
    }

    &__triggerAction {
      cursor: pointer;
      /*
      background-color: #265f9d;
      border-radius: 6px;
      transition: 0.2s all ease-in-out;
      color: #fff;
      padding: 6px 20px;
      display: block;
      margin-top: 10px;
      text-align: center;
      */
    }

    &__atc {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: auto;

      button {
        width: 100%;
        padding: 6px 0;
        transition: all ease 0.2s;
        line-height: 1.2;

        &:hover {
          box-shadow: 0px 0px 6px var(--shadow-color);
        }
      }
    }
  }

  &__popUp {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 94%;
    max-width: 1100px;
    height: 100%;
    max-height: 80vh;
    z-index: 99999;
    border: 1px solid gray;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 12px;
    padding: 10px;
    overflow: auto;
    box-shadow: 0 0 5px #333;
    scrollbar-width: thin;

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-track {
      background-color: #ddd;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #666;
    }

    .yotpo-sr-bottom-line-summary {
      flex-direction: row !important;
    }

    &__close {
      position: sticky;
      top: 4px;
      left: 100%;
      cursor: pointer;
      z-index: 2;
      width: 24px;
      height: 24px;
    }

    .relatedPopup {
      display: grid;
      grid-template-columns: 35% auto;
      gap: 16px;

      @media (max-width: 768px) {
        grid-template-columns: auto;
      }
    }
  }
}

.bottom {
  &__popUp {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 94%;
    max-width: 1100px;
    height: 100%;
    max-height: 82vh;
    z-index: 99999;
    border: 1px solid gray;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 12px;
    padding: 10px;
    overflow: auto;
    box-shadow: 0 0 5px #333;
    scrollbar-width: thin;

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-track {
      background-color: #ddd;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #666;
    }

    .yotpo-sr-bottom-line-summary {
      flex-direction: row !important;
    }

    &__close {
      position: sticky;
      top: 4px;
      left: 100%;
      cursor: pointer;
      z-index: 2;
      width: 24px;
      height: 24px;
    }

    .relatedPopup {
      display: grid;
      grid-template-columns: 35% auto;
      gap: 16px;

      @media (max-width: 768px) {
        grid-template-columns: auto;
      }
    }
  }
}

.relatedPopup {
  &__offers {
    margin-top: 20px;
    font-weight: bold;
    color: #3e6166;
    display: grid;
    row-gap: 8px;
    margin-bottom: 10px;

    &__item {
      display: flex;
      gap: 10px;
      align-items: center;
      margin: 0 auto;
    }
  }

  &__content {
    &__title {
      font-size: medium;
    }

    &__variants {
      .selectedColor {
        > button {
          width: 32px;
          height: 32px;
        }
      }

      .colorOptions {
        .colorOption {
          .colorButton {
            width: 26px;
            height: 26px;

            &.selected {
              outline-color: #27a6ff !important;

              .MuiSvgIcon-root {
                display: block !important;
              }

              &:focus,
              &:focus-visible {
                outline-color: #27a6ff !important;
              }
            }

            &:not(.selected) {
              outline-color: transparent !important;

              .MuiSvgIcon-root {
                display: none !important;
              }
            }
          }
        }
      }
    }

    .colorOptionsLimited {
      max-height: 84px;
      overflow: hidden;
      padding: 1px;

      &ViewAll {
        margin-top: 10px;
        color: #27a6ff;
        font-weight: 600;
        font-size: small;
        margin-bottom: 10px;
        cursor: pointer;
        max-width: max-content;
      }
    }

    // .yotpo-widget-instance {
    //   position: relative;
    //   margin-top: 6px;

    //   &::after {
    //     position: absolute;
    //     content: '';
    //     top: 0;
    //     left: 0;
    //     width: 100%;
    //     height: 100%;
    //     background-color: transparent;
    //     z-index: 1;
    //   }
    // }

    .yotpo-star-rating-reviews-summary-link {
      display: none !important;
    }

    &__fullDetail {
      text-align: center;

      a {
        color: #42a9de;
        font-weight: 600;
      }
    }
  }

  &__media {
    position: relative;
    max-width: 100%;
    overflow: hidden;

    .swiper-container {
      height: auto;
      position: relative;

      &.main-slider {
        @media (min-width: 768px) {
          aspect-ratio: 1/1.15;
        }
      }

      &-thumbs {
        .swiper-slide {
          @media (min-width: 768px) {
            aspect-ratio: 1/1;
          }
        }
      }
    }

    img {
      width: unset;
    }
  }

  &__delivery {
    border: 2px solid #e0e0e0;
    border-radius: 8px;

    @media (max-width: 768px) {
      display: none;
    }

    &__title {
      font-size: large;
      font-weight: 600;
    }

    &__code {
      width: 100%;
      margin-bottom: 6px;
    }

    &__btn {
      width: 100%;
      cursor: pointer;
    }

    &__forRequest {
      padding: 10px;
    }

    &__Response {
      display: grid;

      &Content {
        &Title {
          font-size: 16px;
          font-weight: 600;
        }

        &Info {
          font-size: 14px;

          order-time {
            font-weight: 600;
          }
        }
      }

      &Body {
        padding: 10px;
        display: flex;
        gap: 10px;
        align-items: center;

        svg {
          fill: #42a9de;
          width: 36px;
          height: 36px;
        }
      }

      &Footer {
        background-color: #e0e0e0;
        padding: 10px;
        font-weight: 600;
        text-align: center;

        zip-code {
          cursor: pointer;
          color: #42a9de;
        }
      }
    }
  }

  &__delivery--mobile {
    display: none;
    margin-top: 12px;

    @media (max-width: 768px) {
      display: block;
    }
  }
}

.relatedPopupPrices {
  &__item {
    padding: 20px;
    background-color: #f6f6f6;
    padding-right: 20px;
    border-radius: 8px;
    display: flex;

    @media (max-width: 480px) {
      flex-direction: column;
    }
  }

  &__left {
    width: 50%;
  }

  &__title {
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 20px;
  }

  &__savePercent {
    background-color: #03406c;
    color: #fff;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 0.8em;
    font-weight: bold;
    width: max-content;
  }
}

.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-container-thumbs {
  height: 100px;
  box-sizing: border-box;
  padding: 10px 0;
}
.swiper-container-thumbs .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}
.swiper-container-thumbs .swiper-slide-thumb-active {
  opacity: 1;
}

body.setOverlay {
  overflow: hidden;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000075;
    z-index: 99999;
  }

  // .shopify-section.mount-announcement-bar,
  // announcement-bar,
  // .site-header {
  //   z-index: -1;
  // }

  // .site-header-container {
  //   z-index: -1 !important;
  // }

  // .main-content {
  //   &::before {
  //     content: '';
  //     position: absolute;
  //     top: 0;
  //     left: 0;
  //     width: 100%;
  //     height: 100%;
  //     background-color: #00000075;
  //     z-index: 1;
  //   }
  // }

  // .product-gallery {
  //   position: relative;

  //   &::before {
  //     content: '';
  //     position: absolute;
  //     top: 0;
  //     left: 0;
  //     width: 100%;
  //     height: 100%;
  //     background-color: #00000075;
  //     z-index: 10;
  //   }
  // }

  // [data-upload-field],
  // [data-upload-lift] {
  //   position: relative;

  //   &::before {
  //     content: '';
  //     position: absolute;
  //     top: 0;
  //     left: 0;
  //     width: 100%;
  //     height: 100%;
  //     background-color: #8a8a8ac9;
  //     z-index: 1;
  //   }
  // }

  // .pricingTable {
  //   position: relative;
  //   z-index: -1;
  // }

  // .pdpRelatedProducts__pList,
  // .add-to-cart[data-main-product-add-to-cart] {
  //   position: relative;

  //   &::before {
  //     content: '';
  //     position: absolute;
  //     top: 0;
  //     left: 0;
  //     width: 100%;
  //     height: 100%;
  //     background-color: #8a8a8ac2;
  //     z-index: 1;
  //   }
  // }

  // div[class*="__ss_delivery_timer_"][id] {
  //   position: relative;

  //   &::before {
  //     content: '';
  //     position: absolute;
  //     top: 0;
  //     left: 0;
  //     width: 100%;
  //     height: 100%;
  //     background-color: #00000075;
  //     z-index: 1;
  //   }
  // }

  // .secondDropZone {
  //   &::before {
  //     content: '';
  //     position: absolute;
  //     top: 0;
  //     left: 0;
  //     width: 100%;
  //     height: 100%;
  //     background-color: #00000075;
  //     z-index: 1;
  //   }
  // }
}

.bottom__popUp {
  .relatedPopup {
    &:not(.colorsLoaded) {
      .colorOptions {
        position: relative;

        &::after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 1;
          background-color: #fff;
          background-image: url('//ninjatransfers.com/cdn/shop/t/329/assets/loader.gif?v=3365068');
          background-repeat: no-repeat;
          background-position: center center;
          background-size: 64px;
        }
      }
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    width: 36px;
    height: 36px;
    border-radius: 9999px;
    box-shadow: 0 0 3px #000;
    background-color: #fff;
    position: absolute;
    top: calc(50% + 18px);
    transform: translateY(-50%);

    svg {
      width: 12px;
      height: 12px;
    }

    &::after {
      display: none;
    }
  }

  .swiper-button-prev {
    svg {
      transform: rotate(180deg);
    }
  }
}


.toast {
  $toast: &;

  position: fixed;
  top: 150px;
  right: 30px;
  border-radius: 8px;
  background: #cffca6;
  padding: 10px 35px 10px 15px;
  box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transform: translateX(calc(100% + 30px));
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
  z-index:99999999999999;

  @media ( max-width: 768px ) {
    right: 0px;
    top: 10px;
  }

  &.active {
    transform: translateX(0%);
  }

  #{ $toast }-content {
    display: flex;
    align-items: center;
  }

  &-content {
    .check {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 18px;
      min-width: 18px;
      color: #fff;
      font-size: 20px;
      border-radius: 50%;

      path {
        fill:#098605
      }
    }

    .message {
      display: flex;
      flex-direction: column;
      margin: 0 10px;

      .text {
        font-size: 14px;
        font-weight: 500;
        color: #000;

        &.text-1 {
          font-weight: 600;
          color: #000;
          display: none;
        }
      }
    }
  }

  .close {
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 5px;
    cursor: pointer;
    opacity: 0.7;
    transform: scale(1.5);

    :hover {
      opacity: 1;
    }
  }

  .progress {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    display: none !important;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      height: 100%;
      width: 100%;
      background-color: #098605;
    }

    &.active {
      &::before {
        animation: progress 5s linear forwards;
      }
    }
  }
}

// .toast .toast-content {
//   display: flex;
//   align-items: center;
// }

@keyframes progress {
  100% {
    right: 100%;
  }
}
.processing-second-upload #site-cart-sidebar,
.processing-second-upload .site-overlay{
  opacity:0 !important;
  visibility: hidden !important;;
}

