.underCTA .swiperMainProducts {
  position: relative;
}
.underCTA.inactive {
  position: relative;
}
.underCTA.inactive::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: transparent;
}
.underCTA .slick-track {
  display: flex !important;
}
.underCTA .slick-slide {
  height: inherit !important;
}

.pdpRelatedProducts {
  border: 1px solid #dadada;
  border-radius: 8px;
  padding: 12px;
  margin-top: 10px;
}
.pdpRelatedProducts__title {
  font-size: 14px;
  margin-left: 0;
  margin-bottom: 0px;
}
@media (max-width: 480px) {
  .pdpRelatedProducts__title {
    margin: 0 auto;
  }
}
.pdpRelatedProducts__titleWrap {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 12px;
  justify-content: space-between;
}
@media (max-width: 1150px) {
  .pdpRelatedProducts__titleWrap {
    flex-wrap: wrap;
  }
}
.pdpRelatedProducts__bottomLink {
  text-align: center;
  font-weight: 600;
  display: flex;
  justify-content: center;
  margin-top: 16px;
}
.pdpRelatedProducts__bottomLink a {
  display: flex;
  align-items: center;
  color: #27a6ff;
  gap: 10px;
}
.pdpRelatedProducts__iconWrap {
  display: flex;
  gap: 10px;
  align-items: center;
  font-weight: 600;
  margin-left: 0;
}
@media (max-width: 480px) {
  .pdpRelatedProducts__iconWrap {
    margin: 0 auto;
  }
}
.pdpRelatedProducts__iconItem {
  display: flex;
  gap: 7px;
  align-items: center;
  line-height: 1;
}
.pdpRelatedProducts__iconItem svg {
  width: 30px;
  height: 30px;
}
.pdpRelatedProducts__pList {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
@media (max-width: 450px) {
  .pdpRelatedProducts__pList {
    grid-template-columns: auto;
  }
}
.pdpRelatedProducts__pItem {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  display: grid !important;
  gap: 10px;
  padding: 6px;
  grid-template-columns: auto;
  max-width: calc(20% - 10px);
  display: flex;
  flex-direction: column;
  gap: 8px;
}
@media (min-width: 768px) and (max-width: 1050px) {
  .pdpRelatedProducts__pItem {
    min-width: 110px;
  }
}
@media (max-width: 480px) {
  .pdpRelatedProducts__pItem {
    min-width: 100px;
  }
}
@media (max-width: 380px) {
  .pdpRelatedProducts__pItem {
    min-width: 94px;
  }
}
.pdpRelatedProducts__pItem img {
  display: block;
  max-width: 100%;
  width: 100%;
}
.pdpRelatedProducts__pItem__content {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.pdpRelatedProducts__pItem__content .yotpo-widget-instance {
  position: relative;
}
.pdpRelatedProducts__pItem__content .yotpo-widget-instance::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 1;
}
.pdpRelatedProducts__pItem__content .yotpo-widget-instance svg {
  width: 8px;
  height: 8px;
}
@media (min-width: 1050px) {
  .pdpRelatedProducts__pItem__content .yotpo-widget-instance svg {
    width: 10px;
    height: 10px;
  }
}
.pdpRelatedProducts__pItem__content .yotpo-widget-instance .star-container {
  margin-right: 2px !important;
}
.pdpRelatedProducts__pItem__content .yotpo-star-rating-reviews-summary-link {
  display: none !important;
}
.pdpRelatedProducts__pItem__content .yotpo-sr-bottom-line-summary {
  flex-direction: row !important;
  gap: 2px !important;
  align-items: center !important;
}
.pdpRelatedProducts__pItem__content .yotpo-sr-bottom-line-text {
  font-size: 10px !important;
}
.pdpRelatedProducts__pItem__title {
  font-size: small;
  margin-bottom: 4px;
  line-height: 1.1;
  display: none;
}
.pdpRelatedProducts__pItem__startFrom {
  color: #5e5e5e;
  font-size: small;
}
.pdpRelatedProducts__pItem__price {
  color: #4572bb;
  font-weight: 600;
  font-size: large;
}
.pdpRelatedProducts__pItem__pCode {
  text-align: left;
  font-weight: 400;
}
.pdpRelatedProducts__pItem__triggerAction,
.pdpRelatedProducts__pItem__triggerAction_ {
  cursor: pointer;
  /*
  background-color: #265f9d;
  border-radius: 6px;
  transition: 0.2s all ease-in-out;
  color: #fff;
  padding: 6px 20px;
  display: block;
  margin-top: 10px;
  text-align: center;
  */
}
.pdpRelatedProducts__pItem__atc {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}
.pdpRelatedProducts__pItem__atc button {
  width: 100%;
  padding: 6px 0;
  transition: all ease 0.2s;
  line-height: 1.2;
}
.pdpRelatedProducts__pItem__atc button:hover {
  box-shadow: 0px 0px 6px var(--shadow-color);
}
.pdpRelatedProducts__popUp {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 94%;
  max-width: 1100px;
  height: 100%;
  max-height: 80vh;
  z-index: 99999;
  border: 1px solid gray;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 12px;
  padding: 10px;
  overflow: auto;
  box-shadow: 0 0 5px #333;
  scrollbar-width: thin;
}
.pdpRelatedProducts__popUp::-webkit-scrollbar {
  width: 8px;
}
.pdpRelatedProducts__popUp::-webkit-scrollbar-track {
  background-color: #ddd;
}
.pdpRelatedProducts__popUp::-webkit-scrollbar-thumb {
  background-color: #666;
}
.pdpRelatedProducts__popUp .yotpo-sr-bottom-line-summary {
  flex-direction: row !important;
}
.pdpRelatedProducts__popUp__close {
  position: sticky;
  top: 4px;
  left: 100%;
  cursor: pointer;
  z-index: 2;
  width: 24px;
  height: 24px;
}
.pdpRelatedProducts__popUp .relatedPopup {
  display: grid;
  grid-template-columns: 35% auto;
  gap: 16px;
}
@media (max-width: 768px) {
  .pdpRelatedProducts__popUp .relatedPopup {
    grid-template-columns: auto;
  }
}

.bottom__popUp {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 94%;
  max-width: 1100px;
  height: 100%;
  max-height: 85vh;
  z-index: 99999;
  border: 1px solid gray;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 12px;
  padding: 10px;
  overflow: auto;
  box-shadow: 0 0 5px #333;
  scrollbar-width: thin;
}
.bottom__popUp::-webkit-scrollbar {
  width: 8px;
}
.bottom__popUp::-webkit-scrollbar-track {
  background-color: #ddd;
}
.bottom__popUp::-webkit-scrollbar-thumb {
  background-color: #666;
}
.bottom__popUp .yotpo-sr-bottom-line-summary {
  flex-direction: row !important;
}
.bottom__popUp__close {
  position: sticky;
  top: 4px;
  left: 100%;
  cursor: pointer;
  z-index: 2;
  width: 24px;
  height: 24px;
}
.bottom__popUp .relatedPopup {
  display: grid;
  grid-template-columns: 35% auto;
  gap: 16px;
}
@media (max-width: 768px) {
  .bottom__popUp .relatedPopup {
    grid-template-columns: auto;
  }
}

.relatedPopup__offers {
  margin-top: 20px;
  font-weight: 700;
  color: #3e6166;
  display: flex;
  row-gap: 8px;
  margin-bottom: 10px;
  flex-wrap: wrap;
}
.relatedPopup__offers__item {
  display: flex;
  gap: 10px;
  align-items: center;
  margin: 0 auto;
}
.relatedPopup__content__title {
  font-size: medium;
}
.relatedPopup__content__variants .selectedColor > button {
  width: 24px;
  height: 24px;
}
.relatedPopup__content__variants .colorOptions .colorOption .colorButton {
  width: 20px;
  height: 20px;
}
.relatedPopup__content__variants
  .colorOptions
  .colorOption
  .colorButton.selected {
  outline-color: #27a6ff !important;
}
.relatedPopup__content__variants
  .colorOptions
  .colorOption
  .colorButton.selected
  .MuiSvgIcon-root {
  display: block !important;
}
.relatedPopup__content__variants
  .colorOptions
  .colorOption
  .colorButton.selected:focus,
.relatedPopup__content__variants
  .colorOptions
  .colorOption
  .colorButton.selected:focus-visible {
  outline-color: #27a6ff !important;
}
.relatedPopup__content__variants
  .colorOptions
  .colorOption
  .colorButton:not(.selected) {
  outline-color: transparent !important;
}
.relatedPopup__content__variants
  .colorOptions
  .colorOption
  .colorButton:not(.selected)
  .MuiSvgIcon-root {
  display: none !important;
}
.relatedPopup__content .colorOptionsLimited {
  max-height: 84px;
  overflow: hidden;
  padding: 1px;
}
.relatedPopup__content .colorOptionsLimitedViewAll {
  margin-top: 10px;
  color: #27a6ff;
  font-weight: 600;
  font-size: small;
  margin-bottom: 10px;
  cursor: pointer;
  max-width: -moz-max-content;
  max-width: max-content;
}
.relatedPopup__content .yotpo-star-rating-reviews-summary-link {
  display: none !important;
}
.relatedPopup__content__fullDetail {
  text-align: center;
}
.relatedPopup__content__fullDetail a {
  color: #42a9de;
  font-weight: 600;
}
.relatedPopup__media {
  position: relative;
  max-width: 100%;
  overflow: hidden;
}
.relatedPopup__media .swiper-container {
  height: auto;
  position: relative;
}
@media (min-width: 768px) {
  .relatedPopup__media .swiper-container.main-slider {
    aspect-ratio: 1/1.15;
  }
}
@media (min-width: 768px) {
  .relatedPopup__media .swiper-container-thumbs .swiper-slide {
    aspect-ratio: 1/1;
  }
}
.relatedPopup__media img {
  width: unset;
}
.relatedPopup__delivery {
  border: 2px solid #e0e0e0;
  border-radius: 8px;
}
@media (max-width: 768px) {
  .relatedPopup__delivery {
    display: none;
  }
}
.relatedPopup__delivery__title {
  font-size: large;
  font-weight: 600;
}
.relatedPopup__delivery__code {
  width: 100%;
  margin-bottom: 6px;
}
.relatedPopup__delivery__btn {
  width: 100%;
  cursor: pointer;
}
.relatedPopup__delivery__forRequest {
  padding: 10px;
}
.relatedPopup__delivery__Response {
  display: grid;
}
.relatedPopup__delivery__ResponseContentTitle {
  font-size: 16px;
  font-weight: 600;
}
.relatedPopup__delivery__ResponseContentInfo {
  font-size: 14px;
}
.relatedPopup__delivery__ResponseContentInfo order-time {
  font-weight: 600;
}
.relatedPopup__delivery__ResponseBody {
  padding: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
}
.relatedPopup__delivery__ResponseBody svg {
  fill: #42a9de;
  width: 36px;
  height: 36px;
}
.relatedPopup__delivery__ResponseFooter {
  background-color: #e0e0e0;
  padding: 10px;
  font-weight: 600;
  text-align: center;
}
.relatedPopup__delivery__ResponseFooter zip-code {
  cursor: pointer;
  color: #42a9de;
}
.relatedPopup__delivery--mobile {
  display: none;
  margin-top: 12px;
}
@media (max-width: 768px) {
  .relatedPopup__delivery--mobile {
    display: block;
  }
}

.relatedPopupPrices__item {
  padding: 20px;
  background-color: #f6f6f6;
  padding-right: 20px;
  border-radius: 8px;
  display: flex;
}
@media (max-width: 480px) {
  .relatedPopupPrices__item {
    flex-direction: column;
  }
}
.relatedPopupPrices__left {
  width: 50%;
}
.relatedPopupPrices__title {
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 20px;
}
.relatedPopupPrices__savePercent {
  background-color: #03406c;
  color: #fff;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 0.8em;
  font-weight: bold;
  width: -moz-max-content;
  width: max-content;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-container-thumbs {
  height: 100px;
  box-sizing: border-box;
  padding: 10px 0;
}

.swiper-container-thumbs .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.swiper-container-thumbs .swiper-slide-thumb-active {
  opacity: 1;
}

body.setOverlay {
  overflow: hidden;
  position: relative;
}
body.setOverlay::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4588235294);
  z-index: 99999;
}

.bottom__popUp .relatedPopup:not(.colorsLoaded) .colorOptions {
  position: relative;
}
.bottom__popUp .relatedPopup:not(.colorsLoaded) .colorOptions::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #fff;
  background-image: url("//ninjatransfers.com/cdn/shop/t/329/assets/loader.gif?v=3365068");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 64px;
}
.bottom__popUp .swiper-button-prev,
.bottom__popUp .swiper-button-next {
  width: 36px;
  height: 36px;
  border-radius: 9999px;
  box-shadow: 0 0 3px #000;
  background-color: #fff;
  position: absolute;
  top: calc(50% + 18px);
  transform: translateY(-50%);
}
.bottom__popUp .swiper-button-prev svg,
.bottom__popUp .swiper-button-next svg {
  width: 12px;
  height: 12px;
}
.bottom__popUp .swiper-button-prev::after,
.bottom__popUp .swiper-button-next::after {
  display: none;
}
.bottom__popUp .swiper-button-prev svg {
  transform: rotate(180deg);
}

.toast {
  position: fixed;
  top: 250px;
  right: 30px;
  border-radius: 8px;
  background: #cffca6;
  padding: 10px 35px 10px 15px;
  box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transform: translateX(calc(100% + 30px));
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
  z-index: 99999999999999;
}
@media (max-width: 768px) {
  .toast {
    right: 0px;
    top: 10px;
  }
}
.toast.active {
  transform: translateX(0%);
}
.toast .toast-content {
  display: flex;
  align-items: center;
}
.toast-content .check {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 18px;
  min-width: 18px;
  color: #fff;
  font-size: 20px;
  border-radius: 50%;
}
.toast-content .check path {
  fill: #098605;
}
.toast-content .message {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
}
.toast-content .message .text {
  font-size: 14px;
  font-weight: 500;
  color: #000;
}
.toast-content .message .text.text-1 {
  font-weight: 600;
  color: #000;
  display: none;
}
.toast .close {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 5px;
  cursor: pointer;
  opacity: 0.7;
  transform: scale(1.5);
}
.toast .close :hover {
  opacity: 1;
}
.toast .progress {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;
  display: none !important;
}
.toast .progress::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: #098605;
}
.toast .progress.active::before {
  animation: progress 5s linear forwards;
}

@keyframes progress {
  100% {
    right: 100%;
  }
}
.processing-second-upload #site-cart-sidebar,
.processing-second-upload .site-overlay {
  opacity: 0 !important;
  visibility: hidden !important;
}
