._multimedia_label{background:#42a9de; position:relative; z-index:2; margin:8px 0; padding:4px 8px; display:inline-block;}
.multicolumn.no-heading .title {display: none;}
._cta-link{color:#42a9de; margin:6px 0; font-weight:600;}
.__cta-wrapper{display:flex; flex-flow:row wrap; margin-top:16px;}
.__cta-wrapper.__cta-stack{flex-flow:column wrap; align-items: flex-start;}
.cta-link{margin-right:8px}
.multicolumn .title-wrapper-with-link {
  margin-top: 0;
}

@media screen and (max-width: 749px) {
  .multicolumn .title-wrapper-with-link {
    margin-bottom: 8px;
  }

  .multicolumn .page-width {
    padding-left: 0;
    padding-right: 0;
  }
}

.multicolumn-card__image-wrapper--third-width {
  width: 33%;
}

.multicolumn-card__image-wrapper--half-width {
  width: 50%;
}

.multi_grid__item.center {text-align: center;}

.multicolumn-list__item.center .multicolumn-card__image-wrapper:not(.multicolumn-card__image-wrapper--full-width),
.multicolumn-list__item:only-child {
  margin-left: auto;
  margin-right: auto;
}

.multicolumn .button {
  margin-top: 1.5rem;
}

@media screen and (min-width: 750px) {
  .multicolumn .button {
    margin-top: 24px;
  }
}

.multicolumn-list {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.multicolumn-list__item:only-child {
  max-width: 72rem;
}

.multicolumn-list__item--empty {
  display: none;
}

.multicolumn:not(.background-none) .multicolumn-card {
  height: 100%;
}

.multicolumn.background-primary .multicolumn-card {
  background: rgb(var(--color-background))
    linear-gradient(rgba(var(--color-foreground), 0.04), rgba(var(--color-foreground), 0.04));
}

.multicolumn-list h3 {
  line-height: calc(1 + 0.5 / max(1, var(--font-heading-scale)));
}

.multicolumn-list h3,
.multicolumn-list p {
  margin: 0;
}
/*
.multicolumn-card-spacing {
  padding-top: 8px;
  margin-left: 8px;
  margin-right: 8px;
}
*/
.multicolumn-card__info > :nth-child(2) {
  margin-top: 8px;
}

.multicolumn-list__item.center .media--adapt,
.multicolumn-list__item .media--adapt .multicolumn-card__image {
  width: auto;
}

.multicolumn-list__item.center .media--adapt img {
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (max-width: 749px) {
  .multicolumn-list {
    margin: 0;
    width: 100%;
  }

  .multicolumn-list:not(.slider) {
    padding-left: 8px;
    padding-right: 8px;
  }
}

@media screen and (min-width: 750px) {
  .multicolumn-list.slider,
  .multicolumn-list.grid--4-col-desktop {
    padding: 0;
  }

  .multicolumn-list__item,
  .grid--4-col-desktop .multicolumn-list__item {
    padding-bottom: 0;
  }

  .background-none .grid--2-col-tablet .multicolumn-list__item {
    margin-top: 4rem;
  }
}

.background-none .multicolumn-card-spacing {
  padding: 0;
  margin: 0;
}


.background-none .multicolumn-card__info {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}

.background-none .slider .multicolumn-card__info {
  padding-bottom: 0;
}

.background-none .multicolumn-card__image-wrapper + .multicolumn-card__info {
  padding-top: 8px;
}

.background-none .slider .multicolumn-card__info {
  padding-left: 8px;
}

.background-none .slider .multicolumn-card__image-wrapper + .multicolumn-card__info {
  padding-left: 8px;
}

.background-none .multicolumn-list:not(.slider) .center .multicolumn-card__info {
  padding-left: 8px;
  padding-right: 2.5rem;
}

@media screen and (max-width: 749px) {
  .background-none .slider .multicolumn-card__info {
    padding-bottom: 12px;
  }

  .multicolumn.background-none .slider.slider--mobile {
    margin-bottom: 0rem;
  }
}

@media screen and (min-width: 750px) {
  .background-none .multicolumn-card__image-wrapper {
    margin-left: 8px;
    margin-right: 8px;
  }

  .background-none .multicolumn-list .multicolumn-card__info,
  .background-none .multicolumn-list:not(.slider) .center .multicolumn-card__info {
    padding-left: 8px;
    padding-right: 8px;
  }
}

.multicolumn-card {position: relative; box-sizing: border-box; border-radius:16px; display: flex; flex-flow: column; justify-content: space-between;}

.multicolumn-card > .multicolumn-card__image-wrapper--full-width:not(.multicolumn-card-spacing) {
  border-top-left-radius: calc(var(--text-boxes-radius) - var(--text-boxes-border-width));
  border-top-right-radius: calc(var(--text-boxes-radius) - var(--text-boxes-border-width));
  overflow: hidden;
}

.multicolumn.background-none .multicolumn-card {
  border-radius: 0;
}

.multicolumn-card__info .link {
  text-decoration: none;
  font-size: inherit;
  margin-top: 8px;
}

.multicolumn-card__info .icon-wrap {
  margin-left: 0.8rem;
  white-space: nowrap;
}

@media screen and (min-width: 990px) {
  .multicolumn-list__item--empty {
    display: list-item;
  }
}


@media screen and (min-width: 990px) {
  .multi_grid--6-col-desktop .multi_grid__item {
    width: calc(16.66% - 16px * 5 / 6);
    max-width: calc(16.66% - 16px * 5 / 6);
  }

  .multi_grid--5-col-desktop .multi_grid__item {
    width: calc(20% - 16px * 4 / 5);
    max-width: calc(20% - 16px * 4 / 5);
  }

  .multi_grid--4-col-desktop .multi_grid__item {
    width: calc(25% - 8px * 3 / 4);
    max-width: calc(25% - 8px * 3 / 4);
  }

  .multi_grid--3-col-desktop .multi_grid__item {
    width: calc(33.33% - 16px * 2 / 3);
    max-width: calc(33.33% - 16px * 2 / 3);
  }

  .multi_grid--2-col-desktop .multi_grid__item {
    width: calc(50% - 16px / 2); 
    max-width: calc(50% - 16px / 2);
  }

  .slider.slider--desktop .scroll-trigger.animate--slide-in {
    animation: none;
    opacity: 1;
    transform: inherit;
  }

  .scroll-trigger:not(.scroll-trigger--offscreen) .slider--desktop {
    animation: var(--animation-slide-in);
  }
}

@media screen and (min-width: 990px) {
  .multi_grid--1-col-desktop {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .multi_grid--1-col-desktop .multi_grid__item {
    width: 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 749px) {
  .multi_grid--peek.slider--mobile {
    margin: 0;
    width: 100%;
  }

  .multi_grid--peek.slider--mobile .multi_grid__item {
    box-sizing: content-box;
    margin: 0;
  }

  .multi_grid--peek .multi_grid__item {
    min-width: 35%;
  }

  .multi_grid--peek.slider .multi_grid__item:first-of-type {
    margin-left: 1.5rem;
  }

  /* Fix to show some space at the end of our sliders in all browsers */
  .multi_grid--peek.slider:after {
    margin-left: calc(-1 * 16px);
  }

  .multi_grid--2-col-tablet-down .multi_grid__item {
    width: calc(50% - 16px / 2);
  }

  .slider--tablet.multi_grid--peek.multi_grid--2-col-tablet-down .multi_grid__item,
  .multi_grid--peek .multi_grid__item {
    width: calc(50% - 16px - 3rem);
  }

  .slider--tablet.multi_grid--peek.multi_grid--1-col-tablet-down .multi_grid__item,
  .slider--mobile.multi_grid--peek.multi_grid--1-col-tablet-down .multi_grid__item {
    width: calc(100% - 16px - 3rem);
  }
}

@media screen and (min-width: 750px) and (max-width: 989px) {
  .slider--tablet.multi_grid--peek .multi_grid__item {
    width: calc(25% - 16px - 3rem);
  }

  .slider--tablet.multi_grid--peek.multi_grid--3-col-tablet .multi_grid__item {
    width: calc(33.33% - 16px) - 3rem);
  }

  .slider--tablet.multi_grid--peek.multi_grid--2-col-tablet .multi_grid__item,
  .slider--tablet.multi_grid--peek.multi_grid--2-col-tablet-down .multi_grid__item {
    width: calc(50% - 16px - 3rem);
  }

  .slider--tablet.multi_grid--peek .multi_grid__item:first-of-type {
    margin-left: 1.5rem;
  }

  .multi_grid--2-col-tablet-down .multi_grid__item {
    width: calc(50% - 16px / 2);
  }

  .multi_grid--1-col-tablet-down.multi_grid--peek .multi_grid__item {
    width: calc(100% - 16px - 3rem);
  }
}