.account-widget__head, .account-table .thead {
  background:#012F59; color:#fff;
  height: 3.4375rem;
  border-bottom: solid #012F59 1px;
}

.account-widget, .account-table {
  width: 100%;
  border-radius: var(--border-radius-widgets);
  overflow: hidden;
  margin-bottom: var(--gutter-regular);
}
.account-widget__body,.account-table .reorder_box{border: solid #D7D7D7 1px; border-bottom-left-radius:var(--border-radius-widgets); border-bottom-right-radius:var(--border-radius-widgets);}


.account-layout {
  display: grid;
  grid-template-columns: 100%;
  gap: var(--gutter-regular);
}
@media screen and (max-width: 1023px) {
  .account-layout {
    grid-template-columns: 100%;
  }
}
.account .pagination {
  padding-top: 0;
  text-align: center;
}
.account input:not([type=checkbox]) {
  width: 100%;
}
.account label {
  padding-bottom: 0.25rem;
  display: inline-block;
}
/*
.account__form-block {
  max-width: 25.6875rem;
}
*/
.account__form-row {
  padding-bottom: var(--gutter-regular);
}
.account__form-row--flex {
  display: flex;
  align-items: center;
  gap: var(--gutter-small);
}
.account__form-row--flex input {
  width: auto;
}
.account__form-row--flex > * {
  flex: auto;
  width: auto;
}
.account__form-row a:not(.button) {
  text-decoration: underline;
}

@media screen and (max-width: 767px) {
  
}
/*
@media screen and (max-width: 767px) {
  .account-table .thead {
    display: none;
  }
}
*/
.account-table .thead .tr {
  height: 100%;
}
.account-table a:not(.button) {
  text-decoration: underline;
}
.account-table .tr {
  display: grid;
  gap: var(--gutter-regular);
  align-items: center;
  /*padding: 0 var(--gutter-small);*/
}
.account-table .tr.orders {
  grid-template-columns: 5.625rem 9.375rem 1fr 1fr 5.625rem;
}
.account-table .reorder_box_spacing{padding:0 24px;}
.account-table .tr.orders.reorder {
  grid-template-columns: 1fr 1fr  1fr  100px; padding:0 24px;
}
@media screen and (max-width: 767px) {
  .account-table .tr.orders,.account-table .tr.orders.reorder {
    grid-template-columns: 100%;
  }
}
.account-table .tr.order {
  grid-template-columns: 4fr 1fr 1fr 5.625rem;
}
@media screen and (max-width: 767px) {
  .account-table .tr.order {
    grid-template-columns: 100%;
  }
}
@media screen and (max-width: 767px) {
  .account-table .th{text-align:left;}
  .account-table .th:not(:first-child){ padding-top:8px;}
  .account-table .tr.orders.reorder{padding:16px 8px;}
  .account-table .tr {
    grid-template-columns: 100%;
    border-radius: var(--border-radius-cards);
    gap: 0;
  }
}
.account-table .tr:not(:last-child) {
  border-bottom: solid var(--color-borders-main) 1px;
  padding-bottom:9px;
}
.account-table .th {
  align-self: center;
  white-space: nowrap;
}
.account-table .td {
  padding: var(--gutter-small) 0;
}
@media screen and (max-width: 767px) {
  .account-table .td {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding: var(--gutter-small) var(--gutter-regular) 0;
    text-align: right;
  }
  .account-order-detail .td{display:block; text-align:left;}
}

.account-table .td.mobile-cta {
  grid-template-columns: 100%;
  padding-top: var(--gutter-regular);
  padding-bottom: var(--gutter-small);
}
@media screen and (max-width: 767px) {
  .account-table .td .label {
    text-align: left;
  }
}
@media screen and (max-width: 767px) {
  .account-table .td:first-child {
    padding-top: 0;
    height: auto;
  }
}

@media screen and (min-width: 540px) {
  .account{width:420px; margin:auto;}
}
@media screen and (min-width: 768px) {
  .account-table .label {
    display: none;
  }
  .account{width:450px; margin:auto;}
}
.account-table .tfoot {
  text-align: right;
  padding: var(--gutter-regular);
  border-top: solid var(--color-borders-main) 1px;
}
@media screen and (max-width: 767px) {
  .account-table .tfoot {
      margin-top: 24px;
  }
}
.account-table .tfoot .tr {
  border: 0;
}

.account-widget__head {
  padding: 0 var(--gutter-regular);
  display: flex;
  align-items: center;
}
.account-widget__body {
  padding: var(--gutter-regular);
}

.mobile-cta {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .mobile-cta {
    display: none;
  }
}

.account-divider {
  border: none;
  border-bottom: 1px solid var(--color-borders-main);
  width: 100%;
  background: none;
}

.account-table a.lnkcolor{color:#42a9de; text-decoration:none; padding-right:8px; margin-right:8px; border-right:solid 1px #fff; line-height:16px;}
.account-table a.lnkcolor:last-child{border-right:none;}
.reorder_box_wrap{padding:16px;}
.order_box_row{display:flex; flex-flow:row wrap; padding-top:8px;}
.order_img_box{margin-right:24px; width:120px; margin-bottom:16px; display: flex; align-content: space-between; flex-flow: row wrap;}
.order_img_box .imgbox{margin:auto; padding:4px; width:120px; height:120px; border:solid 1px #dadada; border-radius:4px; display: flex; align-items: center; justify-content: center;}
.order_img_box .imgbox img{max-height:100%; max-width:100%;}
.addtodesign,.add_design{border:none; text-align:center; display:flex; margin-top:8px; text-decoration:none; font-size: 13px; padding: 8px; color:#42a9de; cursor:pointer; font-weight:bold;}
.addtodesign .plus,.add_design .plus{font-size: 20px; line-height: 14px; font-weight: normal; margin-right: 4px;}
.d-none{display:none;}
.mrg4{margin-top:4px;}
.mrg24{margin-top:16px;}
.order_row{grid-template-columns:auto auto;}
.account-table .thead{height:auto;}
.account-table .thead{padding:24px;}
.account-table ._order_link a,.account-table ._order_link{color:#ffffff; text-decoration:none; display:inline-block; margin-top:2px;}
.user-reward-section{padding:16px; background:#dadada; margin-top:16px; border-radius:16px;}
@media(min-width:768px){
  .account-grid{display:grid; grid-template-columns:auto min-content; align-items: flex-start;}
  .account-grid h3{margin-bottom:0;}
  .user-reward-section{padding:24px;}
}
@media(max-width:768px){
  .d-sm-visible{display:none;}
  .reorder-btn{width:100%}
  .d-none{display:block; margin-bottom:16px;}
}