.textImg {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;

  @media ( max-width: 768px ) {
    flex-wrap: wrap;
  }

  &__title {
    font-size: 64px;
    font-weight: 400;
    max-width: 430px;

    @media ( max-width: 768px ) {
      font-size: 48px;
      max-width: 100%;
    }
  }

  &__content {
    max-width: 400px;

    @media ( max-width: 768px ) {
      max-width: 100%;
    }
  }

  &__wrap {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    align-items: center;
  }

  &__item {
    display: grid;
    position: relative;
    border-radius: 18px;
    width: calc(50% - 12px);

    @media ( max-width: 600px ) {
      width: 100%;
    }

    &.textBlock {
      padding: 8px;
    }

    &Img {
      align-self: flex-end;
      width: 100%;
    }

    &Title {
      font-size: 64px;
      font-weight: 400;

      @media ( max-width: 768px ) {
        font-size: 48px;
      }

      @media ( max-width: 600px ) {
        font-size: 36px;
      }
    }

    &Text {
      color: #797e86;
    }

    &Btn {
      // background-color: #019aff;
      padding: 12px 24px;
      border-radius: 999px;
      display: flex;
      align-items: center;
      gap: 8px;
      max-width: max-content;
      margin-top: 24px;
    }
  }
}
