.textImg {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .textImg {
    flex-wrap: wrap;
  }
}
.textImg__title {
  font-size: 64px;
  font-weight: 400;
  max-width: 430px;
}
@media (max-width: 768px) {
  .textImg__title {
    font-size: 48px;
    max-width: 100%;
  }
}
.textImg__content {
  max-width: 400px;
}
@media (max-width: 768px) {
  .textImg__content {
    max-width: 100%;
  }
}
.textImg__wrap {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  align-items: center;
}
.textImg__item {
  display: grid;
  position: relative;
  border-radius: 18px;
  width: calc(50% - 12px);
}
@media (max-width: 600px) {
  .textImg__item {
    width: 100%;
  }
}
.textImg__item.textBlock {
  padding: 8px;
}
.textImg__itemImg {
  align-self: flex-end;
  width: 100%;
}
.textImg__itemTitle {
  font-size: 64px;
  font-weight: 400;
}
@media (max-width: 768px) {
  .textImg__itemTitle {
    font-size: 48px;
  }
}
@media (max-width: 600px) {
  .textImg__itemTitle {
    font-size: 36px;
  }
}
.textImg__itemText {
  color: #797e86;
}
.textImg__itemBtn {
  padding: 12px 24px;
  border-radius: 999px;
  display: flex;
  align-items: center;
  gap: 8px;
  max-width: -moz-max-content;
  max-width: max-content;
  margin-top: 24px;
}