.topProducts {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;

  @media ( max-width: 768px ) {
    flex-wrap: wrap;
  }

  &__title {
    font-size: 64px;
    font-weight: 400;
    max-width: 430px;

    @media ( max-width: 768px ) {
      font-size: 48px;
      max-width: 100%;
    }
  }

  &__content {
    max-width: 400px;

    @media ( max-width: 768px ) {
      max-width: 100%;
    }
  }

  &__wrap {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }

  &__item {
    display: grid;
    position: relative;
    border-radius: 18px;
    aspect-ratio: 1/1;
    overflow: hidden;
    // border: 1px solid #e3e3e3;
    width: calc(33.33% - 7px);

    @media ( max-width: 768px ) {
      width: calc(50% - 5px);
    }

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 50%;
      bottom: 0;
      left: 0;
      z-index: 1;
      background-image: linear-gradient(to bottom, #ffffff00, #fff);
      opacity: 0.5;
    }

    &Img {
      align-self: flex-end;
      width: 100%;
    }

    &Title {
      padding: 20px 30px;
      font-size: 30px;
      font-weight: 500;
      position: absolute;

      @media ( max-width: 768px ) {
        font-size: 24px;
      }

      @media ( max-width: 600px ) {
        font-size: 18px;
      }
    }
  }
}
